{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <form action="home-care-home-check-router" method="post" class="form"> -->
    <form action="home-care-home-check-still-own" method="post" class="form">



{{ govukRadios({
  idPrefix: "home-care-home-funding",
  name: "home-care-home-funding",
  fieldset: {
    legend: {
      html: "Is any part of your care home funding provided by the local authority?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["home-care-home-funding"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["home-care-home-funding"] == "No")
    }
  ]
}) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
