{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <form action="home-care-home-check-router" method="post" class="form"> -->
    <form action="address-post-code-lookup" method="post" class="form">


        {{ govukRadios({
          idPrefix: "home-care-home-check-still-own",
          name: "home-care-home-check-still-own",
          fieldset: {
            legend: {
              text: "Do you own the property you used to live in?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: ""
          },
          classes: "govuk-radios",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["home-care-home-check-still-own"] == "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data["home-care-home-check-still-own"] == "No")
            }
          ]
        }) }}




      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
