{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="money-total-now-confirm-router" method="post" class="form">

      <!------------H1 LEGEND------------>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Total amount of money you have today</h1>

           <!------------Legend--------------->

           <p class="govuk-heading-l govuk-!-margin-bottom-2">{{ data['money-total-now-value'] | formatMoney }}</p>
           <p class="govuk-bold govuk-!-font-size-24 govuk-!-margin-bottom-6">{{ data['money-total-now-value'] | formatMoneyToWords }}</p>

           {{ govukRadios({
             idPrefix: "money-total-now-confirm",
             name: "money-total-now-confirm",
             fieldset: {
               legend: {
                 text: "Is this amount correct?",
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--m"
               }
             },

             classes: "govuk-radios",
             items: [
               {
                 value: "Yes",
                 text: "Yes",
                 checked: (data["money-total-now-confirm"] == "Yes")
               },
               {
                 value: "No",
                 text: "No",
                 checked: (data["money-total-now-confirm"] == "No")
               }
             ]
           }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
