{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="non-deps-summary-router" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">People that live with you</h1>


         {{ govukSummaryList({
           classes: 'govuk-!-padding-top-6 govuk-!-padding-bottom-8',
           rows: [
           {
             key: {
               text: "Partner"
             },
             value: {
               text: "Name of partner"
             },
             actions: {
               items: [
               ]
             }
           },
           {
             key: {
               text: "Name"
             },
             value: {
               html: data['non-deps-member-full-name']
             },
             actions: {
               items: [
               {
                 href: "non-deps-frequency",
                 html: "Change",
                 visuallyHiddenText: "XXX"
               },
               {
                 href: "non-deps-member-remove",
                 html: "Remove",
                 visuallyHiddenText: "XXX"
               }
               ]
             }
           }
           ]
         }) }}


             <h1 class="govuk-heading-l govuk-!-padding-top-2 govuk-!-margin-bottom-2">Does anyone else live with you?</h1>


             {{ govukRadios({
               idPrefix: "non-deps-summary",
               name: "non-deps-summary",
               fieldset: {
                 legend: {
                   text: "",
                   isPageHeading: true,
                   classes: "govuk-fieldset__legend--l"
                 }
                   },
                   hint: {
                     html: ""
                   },

               classes: "govuk-radios",
               items: [
                 {
                   value: "Yes",
                   text: "Yes",
                   checked: (data["non-deps-summary"] == "Yes")
                 },
                 {
                   value: "No",
                   text: "No",
                   checked: (data["non-deps-summary"] == "No")
                 }
               ]
             }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
