{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="non-deps-summary" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Details of the person that lives with you</h1>


         {{ govukInput({
           label: {
             html: "<strong>What is their full name?</strong>"
           },
           hint: {
             text: "Include any middle names."
           },
           id: "non-deps-member-full-name",
           name: "non-deps-member-full-name",
           classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
           value: data["non-deps-member-full-name"]
         }) }}

         {% if data['non-deps-member-category'] == "Certain volunteers from charitable organisations" %}

                  {{ govukInput({
                    label: {
                      html: "<strong>What is the name of the charity this person works for?</strong>"
                    },
                    hint: {
                      text: ""
                    },
                    id: "non-deps-member-charity-name",
                    name: "non-deps-member-charity-name",
                    classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
                    value: data["non-deps-member-charity-name"]
                  }) }}

               {% endif %}

               {% if data['non-deps-member-category'] == "A close relative" %}

         {{ govukDateInput({
           id: "non-deps-member-details-dob",
           namePrefix: "non-deps-member-details-dob",
           fieldset: {
             legend: {
               text: "What is their date of birth?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
             text: "For example, 31 3 1948."
           },
           items: [
             {
               name: "day",
               classes: "govuk-input--width-2 govuk-!-margin-bottom-4",
               value: data["non-deps-member-details-dob-day"]
             },
             {
               name: "month",
               classes: "govuk-input--width-2",
               value: data["non-deps-member-details-dob-month"]
             },
             {
               name: "year",
               classes: "govuk-input--width-4",
               value: data["non-deps-member-details-dob-year"]
             }
           ]
         }) }}

         {{ govukRadios({
           idPrefix: "non-deps-member-details-blind",
           name: "non-deps-member-details-blind",
           fieldset: {
             legend: {
               text: "Are they registered blind or severely sight impaired?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios govuk-!-margin-bottom-4",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["non-deps-member-details-blind"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["non-deps-member-details-blind"] == "No")
             }
           ]
         }) }}


         {{ govukRadios({
           idPrefix: "non-deps-member-education",
           name: "non-deps-member-education",
           fieldset: {
             legend: {
               text: "Are they in education?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios govuk-!-margin-bottom-4",
           items: [
             {
               value: "Full time",
               text: "Full-time",
               checked: (data["non-deps-member-education"] == "Full time")
             },
             {
               value: "Part time",
               text: "Part-time",
               checked: (data["non-deps-member-education"] == "Part time")
             },
             {
               value: "Not in education",
               text: "Not in education",
               checked: (data["non-deps-member-education"] == "Not in education")
             }
           ]
         }) }}

         {{ govukRadios({
           idPrefix: "non-deps-member-employment",
           name: "non-deps-member-employment",
           fieldset: {
             legend: {
               text: "Are they in employment?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios govuk-!-margin-bottom-4",
           items: [
             {
               value: "Full time",
               text: "Full-time",
               checked: (data["non-deps-member-employment"] == "Full time")
             },
             {
               value: "Part time",
               text: "Part-time",
               checked: (data["non-deps-member-employment"] == "Part time")
             },
             {
               value: "Not in employment",
               text: "Not in employment",
               checked: (data["non-deps-member-employment"] == "Not in employment")
             }
           ]
         }) }}

         {{ govukRadios({
           idPrefix: "non-deps-member-self-employment",
           name: "non-deps-member-self-employment",
           fieldset: {
             legend: {
               text: "Are they self-employed?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios govuk-!-margin-bottom-4",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["non-deps-member-self-employment"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["non-deps-member-self-employment"] == "No")
             }
           ]
         }) }}


<!--
         {{ govukCheckboxes({
           name: "non-deps-member-education-employment",
           fieldset: {
             legend: {
               text: "Are they in education or employment?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
             text: "Select all that apply",
             classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-4"
           },
           items: [
                {
                value: "Employment: Full time",
                text: "Full-time employment",
                checked: data['non-deps-member-education-employment'] == "Employment: Full time",
                 hint: {
                   text: ""
                 }
              },
              {
                value: "Employment: Part time",
                text: "Part-time employment",
                checked: data['non-deps-member-education-employment'] == "Employment: Part time",
                 hint: {
                   text: ""
                 }
              },
              {
                value: "Employment: Self-employed",
                text: "Self-employed",
                checked: data['non-deps-member-education-employment'] == "Employment: Self-employed",
                 hint: {
                   text: ""
                 }
              },
              {
                value: "Education: Full time",
                text: "Full-time education",
                checked: data['non-deps-member-education-employment'] == "Education: Full time",
                 hint: {
                   text: ""
                 }
              },
              {
                value: "Education: Part time",
                text: "Part-time education",
                checked: data['non-deps-member-education-employment'] == "Education: Part time",
                 hint: {
                   text: ""
                 }
              },

              {
                value: "Not in employment or education",
                text: "Not in employment or education",
                checked: data['non-deps-member-education-employment'] == "Not in employment or education",
                 hint: {
                   text: ""
                 }
              }
               ]
             }) }} -->

             {% set LegendAmount %}
             <strong>[Dynamic based on Yes to housing costs] How much do they earn each week?<strong>
             {% endset -%}

                   {{ govukInput({
                     label: {
                       html: LegendAmount
                     },
                     hint: {
                       text: "Tell us their total earnings before tax and National Insurance are deducted. For example, £100.00 or £1,000.00."
                     },
                     id: "non-deps-member-details-weekly-earnings",
                     name: "non-deps-member-details-weekly-earnings",
                     classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
                     value: data["non-deps-member-details-weekly-earnings"]
                   }) }}

{% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
