
{% extends "layout.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        The State Pension
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="state-pension.html">
                Overview
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="who-gets-state-pension.html">
              Who gets the State Pension?
            </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-much-is-the-state-pension.html">
                How much is the State Pension?
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="why-people-get-more-or-less-than-the-full-new-state-pension.html">
                Why people get more or less than the full new State Pension
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="how-to-claim.html">
                How to claim
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="when-youre-paid.html">
                When you're paid
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner.html">
                Increasing or inheriting State Pension from your spouse or civil partner
              </a>
              </li>
              <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="living-and-working-overseas.html">
                  Living and working overseas
                </a>
                </li>
                <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="ways-to-increase-your-retirement-income.html">
                    Ways to increase your retirement income
                  </a>
                  </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="change-of-circumstances.html">
                Change of circumstances
            </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <h2 class="govuk-heading-m">
        Change of circumstances
      </h2>
      
      <p class=govuk-body>You must <a href="/contact-pension-service">tell the Pension Service</a> if anything in your circumstances changes, for example if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>move home</li>
        <li>go into or come out of hospital</li>
        <li>move abroad or return to the UK</li>
        <li>go into a care home</li>
        <li>change your bank account</li>
        <li>marry or form a civil partnership</li>
        <li>get divorced or have your civil partnership dissolved</li>
        <li>are widowed or your civil partner dies</li>
        <li>change your gender</li>
      </ul>
      
      <h2 class="govuk-heading-m" id="if-youve-been-paid-too-much">If you’ve been paid too much</h2>
      
      <p class=govuk-body>You may have to repay the money if you:</p>
      
      <ul class="govuk-list govuk-list--bullet">        <li>did not report a change straight away</li>
        <li>gave wrong information</li>
        <li>were overpaid by mistake</li>
      </ul>
      
      <p class=govuk-body>Find out how to <a href="/benefit-overpayments">repay overpaid money</a>.</p>
      
      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="ways-to-increase-your-retirement-income.html" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Ways to increase your retirement income
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p class=govuk-body>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
