{% extends "layout-covid19-ur.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="index-pension-credit" method="post" class="form">


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "index-claim-help",
        name: "index-claim-help",
        fieldset: {
          legend: {
            text: "Did you need help to compete this application?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: data['index-claim-help'] == "Yes"
          },
          {
            value: "No",
            text: "No",
            checked: data['index-claim-help'] == "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
