{% extends "layout-covid19-ur.html" %}


{% block pageTitle %}
  Do you live in the UK? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="reside-in-uk-router" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "resides-in-uk",
          name: "resides-in-uk",
          fieldset: {
            legend: {
              text: "Do you live in England, Scotland or Wales?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data['resides-in-uk'] == "Yes"
            },
            {
              value: "No",
              text: "No",
              checked: data['resides-in-uk'] == "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
