{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="process-c-nil-task-4-c-edit-review-router" method="post" class="form">


        {% include "agent-service-1-12/agent/record-id.html" %}


        {% set USED %}
        {{govukTag({
          text: "System selected",
          classes: "govuk-tag--green"
        })}}
        {% endset -%}

        {% set MANUAL %}
        {{govukTag({
          text: "Manual",
          classes: "govuk-tag--blue"
        })}}
        {% endset -%}

        {% set NOTUSED %}
        {{govukTag({
          text: "Not selected",
          classes: "govuk-tag--grey"
        })}}
        {% endset -%}

        <strong class="govuk-tag govuk-tag--date govuk-!-margin-bottom-2 govuk-!-margin-bottom-4" id="company-information-completed">Date of cliam: 2 June 2022</strong>

        <p class="govuk-heading-xl govuk-!-margin-bottom-6">Check the pension payments
          from MetroLand LTD</p>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4 govuk-!-margin-top-2"></p>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">

            {{ govukTable({
              captionClasses: "govuk-table__caption--xl govuk-!-margin-bottom-6",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Date amount changed",
                  classes: 'govuk-20-percent'
                },
                {
                  text: "Date paid",
                  classes: 'govuk-20-percent'
                },
                {
                  text: "Payment frequency",
                  classes: 'govuk-20-percent'
                },
                {
                  html: "Selection method",
                  classes: 'govuk-20-percent'
                }
              ],
              rows: [
                [
                  {
                    text: "1 June 2022"
                  },
                  {
                    text: "£253.84"
                  },
                  {
                    text: "Weekly"
                  },
                  {
                    html: MANUAL
                  }
                  ],
                  [
                    {
                      text: "25 May 2022"
                    },
                    {
                      text: "£253.84"
                    },
                    {
                      text: "Weekly"
                    },
                    {
                      html: MANUAL
                    }
                  ],
                [
                  {
                    text: "18 May 2022"
                  },
                  {
                    text: "£253.84"
                  },
                  {
                    text: "Weekly"
                  },
                  {
                    html: MANUAL
                  }
                ],
                  [
                    {
                      text: "11 May 2022"
                    },
                    {
                      text: "£253.84"
                    },
                    {
                      text: "Weekly"
                    },
                    {
                      html: MANUAL
                    }
                  ]
              ]
            }) }}

      </div>
    </div>


    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">

        {% set LegendQualifingBenefits %}
        <p class=" govuk-!-margin-bottom-2">Qualifying benefits for premiums include:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

          <li>Adult Disability Payment daily living component</li>
          <li>Armed Forces Independence Payment</li>
          <li>Attendance Allowance</li>
          <li>Carer's Allowance, including an underlying entitlement</li>
          <li>Constant Attendance Allowance</li>
          <li>Disability Living Allowance care component (middle or highest rate)</li>
          <li>Personal Independence Payment daily living component</li>

        </ul>

        {% endset -%}

        <!-- {{ govukDetails({
          summaryText: "Qualifying benefits for premiums",
          html: LegendQualifingBenefits
        }) }} -->

        {{ govukRadios({
          idPrefix: "process-c-nil-task-4-c-edit-review",
          name: "process-c-nil-task-4-c-edit-review",
          fieldset: {
            legend: {
              text: "The payments selected convert to £253.85 a week. Do you want to continue with this amount?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {

          },
          classes: "govuk-radios",
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["process-c-nil-task-4-c-edit-review"] == "Yes")
          },
            {
              value: "No",
              text: "No",
              checked: (data["process-c-nil-task-4-c-edit-review"] == "No")
            }
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>



    {{ govukButton({
      text: "Continue"
    }) }}

</form>

{% endblock %}
