{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-c-nil-task-4-c-edit-review" method="post" class="form">


        {% include "agent-service-1-12/agent/record-id.html" %}



          <p class="govuk-heading-xl govuk-!-margin-bottom-6">What pension payments from Metroland LTD do you want to use to work out the applicant's curent income?</p>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This application was submitted on Saturday 29 May 2022.</p>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You can select one or more payments.</p>


              {% set LegendHelpToProcess %}
              <p class=" govuk-!-margin-bottom-2"><strong>How many should I select to find a representitive amount?:</strong></p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

                <li>[Every weekly]: Select a max of 4</li>
                <li>[Every four weeks]: Select a max of 4</li>
                <li>[Every calendar month]: Select a max of 2</li>
                <li>[Every quarter]: Select a max of 2</li>
                <li>[Every weekly]: Select a max of 2</li>
                <li>[Twice a year]: Select a max of 2</li>
                <li>[Every year]: Select a max of 2</li>

              </ul>

              {% endset -%}

              <!-- {{ govukDetails({
                summaryText: "How many should I select?",
                html: LegendHelpToProcess
              }) }} -->

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2"><table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-15-percent"><strong>Select</strong></td>
              <td class="govuk-table__cell govuk-35-percent"><strong>Date amount changed</strong></td>
              <td class="govuk-table__cell govuk-25-percent"><strong>Days between amount change</strong></td>
              <td class="govuk-table__cell govuk-25-percent"><strong>Net pay</strong></td>

            </tr>
            </thead>

            <tr class="govuk-table__row">

              <td class="govuk-table__cell table-spacer">

                <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-6" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    </label>
                  </div>
                </div>

              </td>

              <td class="govuk-table__cell table-spacer">1 June 2022</td>
              <td class="govuk-table__cell table-spacer">30</td>
              <td class="govuk-table__cell table-spacer">£1,100.00</td>
              </tr>


                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer">

                        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-bottom-6" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                            <label class="govuk-label govuk-checkboxes__label" for="organisation">
                            </label>
                          </div>
                        </div>

                  </td>
                  <td class="govuk-table__cell table-spacer">1 May 2022</td>
                  <td class="govuk-table__cell table-spacer">30</td>
                  <td class="govuk-table__cell table-spacer">£1,100.00</td>
                  </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer">


                  </td>

                  <td class="govuk-table__cell table-spacer">1 April 2021</td>
                  <td class="govuk-table__cell table-spacer">360</td>
                  <td class="govuk-table__cell table-spacer">£900.00</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">


                    </td>

                    <td class="govuk-table__cell table-spacer">1 March 2020</td>
                    <td class="govuk-table__cell table-spacer">—</td>
                    <td class="govuk-table__cell table-spacer">£800.00</td>
                    </tr>



            </table>





    </div>
  </div>







    {{ govukButton({
      text: "Continue"
    }) }}




    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-cya-unexpected" class="govuk-link" rel="noreferrer noopener">I can't process this</a></p>
</form>

{% endblock %}
