{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="process-c-nil-task-4-cya-review" method="post" class="form">


        {% include "agent-service-1-12/agent/record-id.html" %}


        {% set NIL %}
        {{govukTag({
          text: "Nil",
          classes: "govuk-tag--red"
        })}}
        {% endset -%}

        {% set PAY %}
        {{govukTag({
          text: "PAY",
          classes: "govuk-tag--green"
        })}}
        {% endset -%}

        <!-- <span class="govuk-caption-m">X</span> -->
        <p class="govuk-heading-xl govuk-!-margin-bottom-6">The applciations is backdated between<br>01 Jan 2022 and 01 March 2022</p>



                {{ govukTable({
                  caption: "",
                  captionClasses: "govuk-table__caption--xl govuk-!-margin-bottom-6",
                  firstCellIsHeader: false,
                  head: [
                    {
                      html: "Backdating<br>peirod",
                      classes: 'govuk-20-percent'
                    },
                    {
                      text: "Pension type",
                      classes: 'govuk-40-percent'
                    },
                    {
                      text: "Income breakdown",
                        classes: 'govuk-10-percent'
                    },
                    {
                      text: "Total weekly income",
                      classes: 'govuk-20-percent'
                    },
                    {
                      html: "Status",
                      classes: 'govuk-10-percent'
                    }
                  ],
                  rows: [
                    [
                      {
                        html: "Week 1 to<br>week 5"
                      },
                      {
                        html: "State Pension<br>OCC1<br>OCC2<br>OCC3<br>OCC4"
                      },
                      {
                        html: "£140.00<br>£10.00<br>£10.00<br>£20.00<br>£60.00"
                      },
                      {
                        html: "£240.00"
                      },
                      {
                        html: NIL
                      }
                    ],
                    [
                      {
                        text: "Week 6"
                      },
                      {
                        html: "State Pension<br>OCC1<br>OCC2<br>OCC3<br>OCC4"
                      },
                      {
                        html: "£140.00<br>£10.00<br>£10.00<br>£20.00<br>£60.00"
                      },
                      {
                        html: "£240.00"
                      },
                      {
                        html: NIL
                      }
                      ],
                      [
                        {
                          html: "Week 7 to<br>week 14"
                        },
                        {
                          html: "State Pension<br>OCC1<br>OCC2<br>OCC3<br>OCC4"
                        },
                        {
                          html: "£140.00<br>£10.00<br>£10.00<br>£20.00<br>£60.00"
                        },
                        {
                          html: "£240.00"
                        },
                        {
                          html: NIL
                        }
                        ]
                  ]
                }) }}

<!--


        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--xl govuk-!-margin-bottom-6",
          firstCellIsHeader: false,
          head: [
            {
              text: "Backdating week",
              classes: 'govuk-20-percent'
            },
            {
              text: "State Pension",
              classes: 'govuk-20-percent'
            },
            {
              text: "OCC 1",
              classes: 'govuk-20-percent'
            },
            {
              text: "OCC 2",
              classes: 'govuk-20-percent'
            },
            {
              html: "OCC 3",
              classes: 'govuk-20-percent'
            },
            {
              html: "Status",
              classes: 'govuk-20-percent'
            }
          ],
          rows: [
            [
              {
                text: "1"
              },
              {
                text: "£140.00"
              },
              {
                html: "£0.90"
              },
              {
                html: "£0.90"
              },
              {
                text: "£69.10"
              },
              {
                html: NIL
              }
            ],
            [
              {
                text: "2"
              },
              {
                text: "£140.00"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                html: PAY
              }
            ],
            [
              {
                text: "3"
              },
              {
                text: "£140.00"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                html: NIL
              }
            ],
            [
              {
                text: "4"
              },
              {
                text: "£140.00"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                html: NIL
              }
              ],
              [
              {
                text: "5"
              },
              {
                text: "£140.00"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                text: "£69.10"
              },
              {
                html: NIL
              }
              ]
          ]
        }) }} -->



    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">

        {% set LegendQualifingBenefits %}
        <p class=" govuk-!-margin-bottom-2">Qualifying benefits for premiums include:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

          <li>Adult Disability Payment daily living component</li>
          <li>Armed Forces Independence Payment</li>
          <li>Attendance Allowance</li>
          <li>Carer's Allowance, including an underlying entitlement</li>
          <li>Constant Attendance Allowance</li>
          <li>Disability Living Allowance care component (middle or highest rate)</li>
          <li>Personal Independence Payment daily living component</li>

        </ul>

        {% endset -%}

        <!-- {{ govukDetails({
          summaryText: "Qualifying benefits for premiums",
          html: LegendQualifingBenefits
        }) }} -->

        <!-- {{ govukRadios({
          idPrefix: "process-c-nil-task-4-1",
          name: "process-c-nil-task-4-1",
          fieldset: {
            legend: {
              text: "XXXX",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "X"
          },
          classes: "govuk-radios",
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["process-c-nil-task-4-1"] == "Yes")
          },
            {
              value: "No",
              text: "No",
              checked: (data["process-c-nil-task-4-1"] == "No")
            }
          ]
        }) }} -->



        <!------------ ––– ------------>

        <p class="govuk-heading-m govuk-!-margin-bottom-2">Statement</p>
        <p class="govuk-hint govuk-!-margin-bottom-6">Probs not needed</p>

    </div>
  </div>



  {{ govukButton({
    text: "Continue",
    classes: "govuk-!-margin-bottom-8"
  }) }}


  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

{% endblock %}
