{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="process-c-nil-task-4-2-edit-router" method="post" class="form">


        {% include "agent-service-1-12/agent/record-id.html" %}

        <span class="govuk-caption-m">Calendar Month</span>
        <p class="govuk-heading-xl govuk-!-margin-bottom-6">Select pension payments from<br>MetroLand LTD</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2"><table class="govuk-table">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-12-percent"><strong>Select</strong></td>
              <td class="govuk-table__cell govuk-22-percent"><strong>Payment date</strong></td>
              <td class="govuk-table__cell govuk-22-percent"><strong>Payment frequency (Days)</strong></td>
              <td class="govuk-table__cell govuk-22-percent"><strong>Net payment amount</strong></td>
              <td class="govuk-table__cell govuk-22-percent"><strong>Tax (20%)</strong></td>

            </tr>
            </thead>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">

                {{ govukCheckboxes({
                  idPrefix: "",
                  name: "",
                  classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: " ",
                      text: " "
                    }
                  ]
                }) }}

              </td>
              <td class="govuk-table__cell table-spacer">1 June 2022</td>
              <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
              <td class="govuk-table__cell table-spacer">£1,100.00</td>
              <td class="govuk-table__cell table-spacer">£220.00</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell table-spacer">

                  {{ govukCheckboxes({
                    idPrefix: "",
                    name: "",
                    classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                    fieldset: {
                      legend: {
                        text: "",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    items: [
                      {
                        value: " ",
                        text: " "
                      }
                    ]
                  }) }}

                </td>
                <td class="govuk-table__cell table-spacer">10 May 2022</td>
                <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
                <td class="govuk-table__cell table-spacer">£1,100.00</td>
                <td class="govuk-table__cell table-spacer">£220.00</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell table-spacer">

                    {{ govukCheckboxes({
                      idPrefix: "",
                      name: "",
                      classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          value: " ",
                          text: " "
                        }
                      ]
                    }) }}

                  </td>
                  <td class="govuk-table__cell table-spacer">1 April 2022</td>
                  <td class="govuk-table__cell table-spacer">Calendar month (31)</td>
                  <td class="govuk-table__cell table-spacer">£1,100.00</td>
                  <td class="govuk-table__cell table-spacer govuk-!-margin-top-0 govuk-!-margin-top-0">£220.00</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">

                      {{ govukCheckboxes({
                        idPrefix: "",
                        name: "",
                        classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                        fieldset: {
                          legend: {
                            text: "",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        items: [
                          {
                            value: " ",
                            text: " "
                          }
                        ]
                      }) }}

                    </td>
                    <td class="govuk-table__cell table-spacer">1 March 2022</td>
                    <td class="govuk-table__cell table-spacer">Calendar month (29)</td>
                    <td class="govuk-table__cell table-spacer">£1,000.00</td>
                    <td class="govuk-table__cell table-spacer">£200.00</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">1 February 2022</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (31)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer">

                      {{ govukCheckboxes({
                        idPrefix: "",
                        name: "",
                        classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                        fieldset: {
                          legend: {
                            text: "",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        items: [
                          {
                            value: " ",
                            text: " "
                          }
                        ]
                      }) }}

                    </td>
                    <td class="govuk-table__cell table-spacer">1 January 2022</td>
                    <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
                    <td class="govuk-table__cell table-spacer">£1,000.00</td>
                    <td class="govuk-table__cell table-spacer">£200.00</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">1 December 2021</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">1 November 2021</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">1 October 2021</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (30)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">1 September 2021</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (31)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">August 2021</td>
                      <td class="govuk-table__cell table-spacer">Calendar month (31)</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">

                        {{ govukCheckboxes({
                          idPrefix: "",
                          name: "",
                          classes: "govuk-checkboxes--small govuk-!-margin-0 govuk-!-margin-0",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
                          items: [
                            {
                              value: " ",
                              text: " "
                            }
                          ]
                        }) }}

                      </td>
                      <td class="govuk-table__cell table-spacer">July 2021</td>
                      <td class="govuk-table__cell table-spacer">—</td>
                      <td class="govuk-table__cell table-spacer">£1,000.00</td>
                      <td class="govuk-table__cell table-spacer">£200.00</td>
                      </tr>


            </table>



    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">

        {% set LegendQualifingBenefits %}
        <p class=" govuk-!-margin-bottom-2">Qualifying benefits for premiums include:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

          <li>Adult Disability Payment daily living component</li>
          <li>Armed Forces Independence Payment</li>
          <li>Attendance Allowance</li>
          <li>Carer's Allowance, including an underlying entitlement</li>
          <li>Constant Attendance Allowance</li>
          <li>Disability Living Allowance care component (middle or highest rate)</li>
          <li>Personal Independence Payment daily living component</li>

        </ul>

        {% endset -%}

        <!-- {{ govukDetails({
          summaryText: "Qualifying benefits for premiums",
          html: LegendQualifingBenefits
        }) }} -->

        {{ govukRadios({
          idPrefix: "process-c-nil-task-4-2-edit",
          name: "process-c-nil-task-4-2-edit",
          fieldset: {
            legend: {
              text: "Confim selection",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "By selecting you will be using this figure to work out an average weekly amount"
          },
          classes: "govuk-radios",
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["process-c-nil-task-4-2-edit"] == "Yes")
          },
            {
              value: "No",
              text: "No",
              checked: (data["process-c-nil-task-4-2-edit"] == "No")
            }
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>



    {{ govukButton({
      text: "Continue"
    }) }}
  <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><a href="process-c-nil-task-list" class="govuk-link" rel="noreferrer noopener">☒</a></p> -->
</form>

{% endblock %}
