{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Yourself-contact-check - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="del-auth-contact-formats-check-router" method="post" class="form">

      {% if data["del-auth-who-made-claim"] == "Yourself" %}
      {% else %}  <span class="govuk-caption-l">{{data["del-auth-who-made-claim"]}}</span>{% endif %}



      {% set legendH1 %}

      {% if data["del-auth-who-made-claim"] == "Yourself"
         or data["del-auth-who-made-claim"] == "Power of attorney"
         or data["del-auth-who-made-claim"] == "Appointee"
         or data["del-auth-who-made-claim"] == "Personal acting body"
         or data["del-auth-who-made-claim"] == "Corporate acting body"
       %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Do you need help with letters or phone calls?</h1>
      {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Does the climant need help with letters or phone calls?</h1>
      {% endif %}

      {% endset -%}


{{ govukRadios({
  idPrefix: "del-auth-contact-formats-check",
  name: "del-auth-contact-formats-check",
  fieldset: {
    legend: {
      html: legendH1,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
    }
  },
  classes: "govuk-radios",
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["del-auth-contact-formats-check"] == "Yes")
              },
    {
      value: "No",
      text: "No",
      checked: (data["del-auth-contact-formats-check"] == "No")
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
