{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="start" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You have not agreed to how we will use your personal information</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">We cannot take your application for Pension Credit.</p>
      <p class="govuk-body govuk-!-margin-bottom-4">You can get more information in our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">Personal Information Charter</a>.</p>

      <!--<p class="govuk-body">(Mark - have a look for blue i icon) Adviser: Use the back link to go back to the previous page if the claimant decides to continue the application. Finish and close to go back to the start page to take another application.</p>-->


      {% include "citizen-version-2-3/mvp/survey.html" %}

      <!-- {{ govukButton({
        text: "Finish and close",
        classes: "govuk-!-margin-top-6"
      }) }} -->


</form>
    </div>
  </div>
{% endblock %}
