{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="non-deps-members-b-list" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Details of the person that lives with you</h1>


         {{ govukInput({
           label: {
             html: "<strong>What is their full name</strong>"
           },
           hint: {
             text: "Include any middle names."
           },
           id: "non-depts-full-name",
           name: "non-depts-full-name",
           classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
           value: data["non-depts-full-name"]
         }) }}

         <!-- {{ govukInput({
           label: {
             html: "<strong>National insurance number</strong>"
           },
             hint: {
               html: "It’s on your National Insurance card, benefit letter, payslip or P60. <br>For example, ‘QQ 12 34 56 C’."
             },
           id: "non-depts-details-nino",
           name: "non-depts-details-nino",
           classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
           value: data["non-depts-details-nino"]
         }) }} -->


         <!-- {{ govukDateInput({
           id: "non-depts-details-dob",
           namePrefix: "non-depts-details-dob",
           fieldset: {
             legend: {
               text: "What is your date of birth?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
             text: "For example, 31 3 1948."
           },
           items: [
             {
               name: "day",
               classes: "govuk-input--width-2 govuk-!-margin-bottom-4",
               value: data["non-depts-dob-day"]
             },
             {
               name: "month",
               classes: "govuk-input--width-2",
               value: data["non-depts-dob-month"]
             },
             {
               name: "year",
               classes: "govuk-input--width-4",
               value: data["non-depts-dob-year"]
             }
           ]
         }) }} -->

         {{ govukRadios({
           idPrefix: "XXX",
           name: "XXX",
           fieldset: {
             legend: {
               text: "Are they registered blind?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["XXX"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["XXX"] == "No")
             }
           ]
         }) }}

         {{ govukRadios({
           idPrefix: "non-deps-bathroom",
           name: "non-deps-bathroom",
           fieldset: {
             legend: {
               text: "Do they share only a bathroom, toilet, hall or stairway with you?",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["non-deps-bathroom"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["non-deps-bathroom"] == "No")
             }
           ]
         }) }}



         <!------------Legend------------>
           {% set legendEducationEmployment %}
           <ul class="govuk-list govuk-list--bullet">
             <li>the details of any full-time or part-time education</li>
             <li>the details of any full-time or part-time employment</li>
           </ul>
           {% endset %}
         <!------------Legend------------>

         {% set EducationEmploymentDetails %}
           <!-- {{ govukTextarea({
             label: {
               classes: "govuk-label--s",
               html: "Tell us"
             },
             hint: {
               html: legendEducationEmployment
             },
             id: "non-depts-education-employment-details",
             name: "non-depts-education-employment-details",
             classes: "govuk-input--width-40",
             attributes: {
               maxlength: 200
             }
           }) }} -->

           {{ govukRadios({
             name: "non-depts-under-18",
             fieldset: {
               legend: {
                 html: "Any of these",
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--s"
               }
             },
             hint: {
               text: "XXX"
             },
             items: [
               {
                 value: "Full-time or part-time education",
                 text: "Full-time or part-time education",
                 checked: (data["non-depts-under-18"] == "Full-time or part-time education")
               },
               {
                 value: "full-time or part-time employment",
                 text: "full-time or part-time employment",
                 checked: (data["full-time or part-time employment"] == "No")
               },
               {
                 value: "None",
                 text: "None",
                 checked: (data["full-time or part-time employment"] == "None")
               }

             ]
           }) }}



         {% endset %}

         <!------------H1 LEGEND------------>
           {% set dynamicH1 %}
           <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Is the person under 18?</h2>
           {% endset %}
         <!------------Legend--------------->

         {{ govukRadios({
           name: "non-depts-education-employment",
           fieldset: {
             legend: {
               html: dynamicH1,
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
             text: ""
           },
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["non-depts-education-employment"] == "Yes"),
                     conditional: {
                       html: EducationEmploymentDetails
           }
             },
             {
               value: "No",
               text: "No",
               checked: (data["non-depts-education-employment"] == "No")
             }
           ]
         }) }}




         <!------------Legend------------>
           {% set legendAmount %}
           <ul class="govuk-list govuk-list--bullet">
             <li>how much they pay you and how often they pay you</li>
           </ul>
           {% endset %}
         <!------------Legend------------>

         {% set legendAmountDetails %}
           {{ govukTextarea({
             label: {
               classes: "govuk-label--s",
               html: "Tell us:"
             },
             hint: {
               html: legendAmount
             },
             id: "non-depts-amount-details",
             name: "non-depts-amount-details",
             classes: "govuk-input--width-40",
             attributes: {
               maxlength: 200
             }
           }) }}
         {% endset %}

         <!------------H1 LEGEND------------>
           {% set dynamicAmountHead %}
           <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Do they pay you any money?</h2>
           {% endset %}
         <!------------Legend--------------->

         {{ govukRadios({
           name: "non-depts-amount",
           fieldset: {
             legend: {
               html: dynamicAmountHead,
               isPageHeading: true,
               classes: "govuk-fieldset__legend--s"
             }
           },
           hint: {
             text: ""
           },
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["non-depts-amount"] == "Yes"),
                     conditional: {
                       html: legendAmountDetails
           }
             },
             {
               value: "No",
               text: "No",
               checked: (data["non-depts-amount"] == "No")
             }
           ]
         }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
