{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="reside-in-uk" method="post" class="form">

    <p class="govuk-body govuk--version-control">Citizen version 2.3 / MVP</p>

    <h1 class="govuk-heading-xl">Apply for Pension Credit</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">If you apply online, we will pay you into the account you get your State Pension paid into. You will be able to change this once you have started receiving your Pension Credit payments.</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">We will use information:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that we already have about your State Pension and any benefits you receive</li>
      <li>that we get from HMRC about your income and earnings</li>
    </ul>

<p class="govuk-body">To find out more about how we use information and your information rights, read our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">Personal Information Charter</a>.</p>
<p class="govuk-body">You will need to complete your application all in one go. You will not be able to save it and come back later.</p>
<p class="govuk-body">To keep your information secure, if you do not enter any information for more than an hour, your application will time out and you'll have to start again.</p>



    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit

    <p class="govuk-body"><strong>You will need to tell us about:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your National Insurance number</li>
      <li>any children you look after</li>
      <li>any benefits you get</li>
      <li>any pensions you get</li>
      <li>any money, savings or investments you have, including balances, account and reference numbers</li>
      <li>any second properties or land you own</li>
      <li>earnings from employment and any other income. You can find this on your P45, P60 or any pay slips</li>
      <li>details of the bank account you want any Pension Credit paid into</li>
    </ul>

-->
<!--
<div class="govuk-panel--agent-alert govuk-!-margin-top-6">
  {% set AddName %}

  {{ govukInput({
    label: {
      text: "Add full name?"
    },
    hint: {
      text: "Include any middle names."
    },
    id: "full-name",
    name: "full-name",
    classes: "govuk-input--width-20",
    value: data["full-name"]
  }) }}

  {% endset %}
</div>

{{ govukDetails({
  summaryText: "Add API name",
  html: AddName
}) }} -->





      {{ govukButton({
       text: "Start now",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }}



</form>
</div>
{% endblock %}
