{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}


{% block content %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="qd-changes-changed" method="post" class="form">
      {% include "agent-service-1-7/agent/qd-name-nino.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter ">
        {% include "agent-service-1-7/agent/side-nav.html" %}
      </div>


        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Qualifying benefits</h1>

            {{ govukInsetText({
              classes : "govuk-!-margin-bottom-8",
              text: "Ask the customer if they're in receipt of any qualifying benefits. You must check searchlight to match the information given."
            }) }}

            {{ govukRadios({
              classes : "govuk-!-margin-bottom-4",
              idPrefix: "benefits",
              name: "benefits",
              fieldset: {
                legend: {
                  text: "Are they now receiving any qualifying benefits?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Backdating period: 10 January 2022 to 28 February 2022"
              },
              items: [
                {
                  value: "no-change",
                  text: "No",
                  checked: (data["benefits"] == "no-change")

                },
                {
                  value: "changed",
                  text: "Yes, within the backdating period",
                  checked: (data["benefits"] == "changed")
                },
                {
                  value: "changed-out",
                  text: "Yes, outside of the backdating period",
                  checked: (data["benefits"] == "changed-out")
                }
              ]
            }) }}

            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Answers given on application</p>

            <p class="govuk-body govuk-!-margin-bottom-2">No open interest for qualifying benefits.</p>

            {{ govukDetails({
              classes : "govuk-!-margin-bottom-8",
              summaryText: "Check calculation details",
              text: "Checked against SearchLight on 1st of March 2022."
            }) }}


            {{ govukTextarea({
              label: {
                text: "Record any changes and date of when it happened",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                text: "For example, received personal independent payment 20 Jan 22."
              },
              name: "benefits-notes",
              id: "benefits-notes",
              rows: "3",
              value: data["benefits-notes"]
            }) }}

            {{ govukButton({
              text: "Continue"
            }) }}


        </div>
    </div>
  </div>



      </div>


    </form>
  </div>
</div>


{% endblock %}
