{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}



{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "qd-summary"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-user-0" method="post" class="form">


      {% include "agent-service-1-7/agent/qd-name-nino.html" %}



    <div class="govuk-!-margin-bottom-8">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {{ govukNotificationBanner({
        text: 'There may be a delay in processing your application because of the coronavirus outbreak.'
      }) }}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Record reason for call</h1>



      {{ govukTextarea({
        name: "call-reason",
        id: "call-reason",
        rows: "3",
        label: {
          text: "",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "For example, customer called and queried what information we used to assess their entitlement."
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and exit"
        }) }}


      </div>


    </div>

    </div>



  </div>




    </form>
{% endblock %}
