{% extends "layout-work-list-api.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="case-next-claim" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">2 downloaded claims</h1>
  </div>
</div>

{% include "citizen-version-1/work-list-1-2/admin-navigation.html" %}

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-2 govuk-!-margin-bottom-4">Claims will be cleared from this list after 30 days</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-20-percent">NI number</td>
            <td class="govuk-table__cell govuk-39-percent">Name</td>
            <td class="govuk-table__cell govuk-15-percent">Status</td>
            <td class="govuk-table__cell govuk-16-percent">Received</td>
            <td class="govuk-table__cell govuk-10-percent">Age (days)</td>
          </tr>
          </thead>


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">NA 11 22 33 c</th>
            <td class="govuk-table__cell"><a href="XXX">Emma Nicol</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">Downloaded</strong></td>

            <td class="govuk-table__cell">DD Sept 2020</td>
            <td class="govuk-table__cell">102</td>

          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">NA 11 22 33 c</th>
            <td class="govuk-table__cell"><a href="XXX">Kevin Jones</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue govuk-phase-banner__content__tag">Downloaded</strong></td>

            <td class="govuk-table__cell">DD Sept 2020</td>
            <td class="govuk-table__cell">100</td>

          </tr>

          </table>


</div>






</div>
</div>
{% endblock %}
