{% extends "layout.html" %}

{% block pageTitle %}
  Summary - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="task-list" method="post">

      <h1 class="govuk-heading-xl">Eligibility summary</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Who are you claiming pension credit for?"
            },
            value: {
              text: data['claiming-for']
            },
            actions: {
              items: [
                {
                  href: "who-is-caller",
                  text: "Change",
                  visuallyHiddenText: "who the caller is"
                }
              ]
            }
          },

          {
            key: {
              text: "PC1 notepad"
            },
            value: {
              text: data['pc1-more-detail']
            },
            actions: {
              items: [
                {
                  href: "who-is-caller",
                  text: "Change",
                  visuallyHiddenText: "PC1 Detials"
                }
              ]
            }
          },


          {
            key: {
              text: "Name"
            },
            value: {
              text: data["full-name"]
            },
            actions: {
              items: [
                {
                  href: "name-and-nino",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: data["nino"]
            },
            actions: {
              items: [
                {
                  href: "name-and-nino",
                  text: "Change",
                  visuallyHiddenText: "National Insurance number"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: data["telephone-number"]
            },
            actions: {
              items: [
                {
                  href: "name-and-nino",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data['dob-day'] + ' ' + (data['dob-month'] | getMonth) + ' ' + data['dob-year']
            },
            actions: {
              items: [
                {
                  href: "over-spa",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you live in the UK?"
            },
            value: {
              text: data['resides-in-uk']
            },
            actions: {
              items: [
                {
                  href: "resides-in-uk",
                  text: "Change",
                  visuallyHiddenText: "UK residence"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you lived permanently in the UK for the last 2 years?"
            },
            value: {
              text: data['lived-abroad']
            },
            actions: {
              items: [
                {
                  href: "lived-abroad",
                  text: "Change",
                  visuallyHiddenText: "abroad"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you a UK national?"
            },
            value: {
              text: data['uk-national']
            },
            actions: {
              items: [
                {
                  href: "uk-national",
                  text: "Change",
                  visuallyHiddenText: "uk national"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have a partner?"
            },
            value: {
              text: data["has-partner"]
            },
            actions: {
              items: [
                {
                  href: "partner-under-spa",
                  text: "Change",
                  visuallyHiddenText: "the fact they have a partner under spa"
                }
              ]
            }
          },
          {
            key: {
              text: "Partner notes"
            },
            value: {
              text: data["partner-more-detail"]
            },
            actions: {
              items: [
                {
                  href: "partner-under-spa",
                  text: "Change",
                  visuallyHiddenText: "partner date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      <br>
      <h2 class="govuk-heading-m">Eligibility outcome download</h2>

      <p class="govuk-body">
        Based on the answers above, which tool do you need to use?<br>
        Continue with MyPC or business as usual (PTP CAM)<br>
        <a href="/get-eligibility-pdf" class="govuk-link">
          Download (PDF)
        </a>
      </p>
      <br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
