{% extends "layout.html" %}

{% block pageTitle %}
  Which account do you want us to pay any Pension Credit into? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<p>
  {{ govukBackLink({
    href: "type-of-account"
  }) }}
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="contact-preference" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Which account do you want us to pay any Pension Credit into?
      </h1>

      {{ govukInput({
        label: {
          text: "Name on account"
        },
        id: "name-on-account",
        name: "name-on-account",
        classes: "govuk-input--width-20",
        value: data["name-on-account"]
      }) }}

      {{ govukInput({
        label: {
          text: "SWIFT code"
        },
        id: "swift-code",
        name: "swift-code",
        classes: "govuk-input--width-10",
        value: data["swift-code"]
      }) }}

      {{ govukInput({
        label: {
          text: "IBAN number"
        },
        id: "iban-number",
        name: "iban-number",
        classes: "govuk-input--width-20",
        value: data["iban-number"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
