{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Do you pay any service charges? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="housing-type-router" method="post" class="form">



      {{ govukRadios({
        name: "housing-type",
        fieldset: {
          legend: {
            text: "Which best describes the place where you live?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [

        {
          value: "You rent it",
          text: "You rent it",
          checked: (data["housing-type"] == "You rent it")
        },
          {
            value: "You own it",
            text: "You own it",
            checked: (data["housing-type"] == "You own it")
          },
          {
            value: "Live in someone elses home",
            text: "You live in someone else’s home without paying towards the rent or mortgage",
            checked: (data["housing-type"] == "Live in someone elses home")
          },
          {
            value: "Shared ownership",
            text: "You rent it and own it (Shared ownership)",
            checked: (data["housing-type"] == "Shared ownership")
          },
          {
            value: "You live in a caravan houseboat or mobile home",
            text: "You live in a caravan, houseboat or mobile home",
            checked: (data["housing-type"] == "You live in a caravan houseboat or mobile home")
          },
          {
            value: "Other accommodation",
            text: "Other",
            checked: (data["housing-type"] == "Other accommodation")
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
