{% extends "layout-g4s.html" %}

{% block pageTitle %}
  State Pension Status - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="partner-benefit-ca" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>


      {{ govukRadios({
        idPrefix: "partner-benefit-aa-dla-pip",
        name: "partner-benefit-aa-dla-pip",
        fieldset: {
          legend: {
            text: "Has your partner applied for Disability Living Allowance (DLA), Attendance Allowance (AA) or Personal Independence Payment (PIP)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }

        },
        hint: {
          text: ""


        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["partner-benefit-aa-dla-pip"] == "Yes")
          },

          {
            value: "No",
            text: " No",
            checked: (data["partner-benefit-aa-dla-pip"] == "No")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
