{% extends "layout-assisted-digital-ur.html" %}

{% block pageTitle %}
  claimant-contact-check - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claimant-contact-formats-check-router" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>


      {% set legendH1 %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Do you need help with letters or phone calls?</h1>
      {% endset -%}



{{ govukRadios({
  idPrefix: "claimant-contact-formats-check",
  name: "claimant-contact-formats-check",
  fieldset: {
    legend: {
      html: legendH1,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
    }
  },
  classes: "govuk-radios",
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["claimant-contact-formats-check"] == "Yes")
              },
    {
      value: "No",
      text: "No",
      checked: (data["claimant-contact-formats-check"] == "No")
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
