        <aside class="part-navigation-container" role="complementary">
            <nav role="navigation" class="gem-c-contents-list  " data-module="track-click"
                aria-label="Pages in this guide">
                <h2 class="gem-c-contents-list__title">Contents</h2>

                <ol class="gem-c-contents-list__list">
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="gov-uk-overview">What Pension Credit is</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="gov-uk-eligibility">Eligibility and entitlement</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="gov-uk-what-you-get">What you could get</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="gov-uk-start">How to apply</a>
                    </li>

                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                        <a class="gem-c-contents-list__link" href="gov-uk-coc">Changes you need to tell us about</a>
                    </li>

                </ol>
            </nav>

        </aside>
