{% extends "layout-assisted-digital-ur.html" %}

{% block pageTitle %}
  non-deps-frequency - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="non-deps-member-category" method="post" class="form">


      <!------------H1 LEGEND------------>
        {% set dynamicH1 %}
        <p class="govuk-heading-xl govuk-!-margin-bottom-2">Does this person live with you all the time?</p>
        {% endset %}
      <!------------Legend--------------->


      <!------------Legend------------>
        {% set legendEmployment %}
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>What we need to know:</strong></p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">Name</p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">Relationship</p>

        {% endset %}
      <!------------Legend------------>

      {{ govukRadios({
        name: "non-deps-frequency",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["non-deps-frequency"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["non-deps-frequency"] == "No")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
