{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



        <!------------HEADLINE------------>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><strong>Tom Hanks</strong></h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>NA 33 11 22 a</strong></p>
            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Received: <strong>1 January 2020</strong></p>


            {{ govukButton({
              text: "Download claim",
              classes: "govuk-button--secondary govuk-!-margin-bottom-6",
              href: "/public/images/claim.png"
            }) }}

    <!------------H1 LEGEND------------>
      <!-- {% set downLoader %}
      <a href="http://localhost:3000/public/images/claim.png" download></a>
      {% endset %} -->
    <!------------Legend--------------->



            <!-- <p class="govuk-heading-m govuk-!-margin-bottom-2">@pete Downloaded // Add this claim to DRS before you get the next claim.</p>


             {{ govukCheckboxes({
               idPrefix: "confirm",
               name: "confirm",
               classes: "govuk-checkboxes--small",
               fieldset: {
                 legend: {
                   text: "",
                   isPageHeading: true,
                   classes: "govuk-fieldset__legend--m"
                 }
               },
               items: [
                 {
                   value: "Confirm upload complete",
                   text: "Case uploaded to DRS"
                 }
               ]
             }) }} -->


      <form action="case-next-claim-2" method="post" class="form">

      {{ govukButton({
        classes: "govuk-!-margin-top-0",
        text: "Get next claim"
      }) }}

      <!-- <p class="govuk-body govuk-!-margin-top-4"><a href="case-load">Back to start</a></p>
      <p class="govuk-body govuk-!-margin-top-4"><a href="case-load-clear">...</a></p> -->

</form>
    </div>
  </div>
{% endblock %}
