{% extends "layout.html" %}

{% block pageTitle %}
  Add Credit union account - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-credit-union-account-summary" method="post" class="form">
      <input type="hidden" name="money-you-have-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl">
        Credit union account details
      </h1>

      {{ govukInput({
        label: {
          text: "Name of credit union"
        },
        id: "msic-credit-union-account-name",
        name: "msic-credit-union-account-name",
        classes: "govuk-input--width-20"
      }) }}



<!--------------- EED = Yes ----------------------------------------------------------------------------------------->

{% set balanceEED %}
      {{ govukInput({
        label: {
          html: "How much was in this account on <strong>"
            + data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] + "?</strong>"
        },
        id: "msic-credit-union-account-amount-EED",
        name: "msic-credit-union-account-amount-EED",
        classes: "govuk-input--width-20"
      }) }}
{% endset -%}

{% set balanceDateEED %}
{{ govukDateInput({
  id: "msic-credit-union-account-amount-EED-date-evidence",
  namePrefix: "msic-credit-union-account-amount-EED-date-evidence",
  fieldset: {
    legend: {
      html: "<strong>Date this figure is from</strong>"
    }
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      value: data["msic-credit-union-account-amount-EED-date-evidence-day"]
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      value: data["msic-credit-union-account-amount-EED-date-evidence-month"]
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      value: data["msic-credit-union-account-amount-EED-date-evidence-year"]
    }
  ]
}) }}

{{ govukInput({
  label: {
    html: "How much was in this account on this date?"
  },
  classes: "govuk-input--width-20",
  id: "msic-credit-union-account-amount-EED",
  name: "msic-credit-union-account-amount-EED"
}) }}
{% endset -%}



<!--------------- EED = YN ----------------------------------------------------------------------------------------->


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "msic-credit-union-account-balanceEED-check",
        name: "msic-credit-union-account-balanceEED-check",
        fieldset: {
          legend: {
            html: "Do you know how much was in this account on <strong>" + data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] + "?</strong>"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["msic-credit-union-account-balanceEED-check"] == "Yes"),
          conditional: {
            html: balanceEED
          }
        },
          {
            value: "No",
            text: "No, I know how much was in this account on a different date",
            checked: (data["msic-credit-union-account-balanceEED-check"] == "No"),
            conditional: {
              html: balanceDateEED
            }
          }
        ]
      }) }}


    <!--------------- TODAY = YES + BALANCE ----------------------------------------------------------------------------------------->

      {% set balanceToday %}

        {{ govukInput({
          label: {
          html: "How much was in this account on <strong>" + data['claim-date-idoc-yn-date-day'] + ' ' + (data['claim-date-idoc-yn-date-month'] | getMonth) + ' ' + data['claim-date-idoc-yn-date-year'] + "?</strong>"
          },
          classes: "govuk-input--width-20",
          id: "msic-credit-union-account-amount-TODAY",
          name: "msic-credit-union-account-amount-TODAY"
        }) }}

      {% endset -%}

      <!--------------- TODAY = YES + BALANCE ----------------------------------------------------------------------------------------->

        {% set balanceDateToday %}

          {{ govukDateInput({
            id: "msic-credit-union-account-amount-TODAY-date-evidence",
            namePrefix: "msic-credit-union-account-amount-TODAY-date-evidence",
            fieldset: {
              legend: {
                html: "<strong>Date this figure is from</strong>"
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["msic-credit-union-account-amount-TODAY-date-evidence-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["msic-credit-union-account-amount-TODAY-date-evidence-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["msic-credit-union-account-amount-TODAY-date-evidence-year"]
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              html: "How much was in this account on this date?"
            },
            classes: "govuk-input--width-20",
            id: "msic-credit-union-account-amount-TODAY",
            name: "msic-credit-union-account-amount-TODAY"
          }) }}

        {% endset -%}



    <!--------------- TODAY = YN ----------------------------------------------------------------------------------------->

    {{ govukRadios({
      classes: "govuk-radios",
      idPrefix: "msic-credit-union-account-balanceTODAY-check",
      name: "msic-credit-union-account-balanceTODAY-check",
      fieldset: {
        legend: {
          html: "Do you know much was in this account on <strong>" + '' | formatDate + "?</strong>"
        }
      },
      hint: {
        text: ""
      },
      items: [
      {
        value: "Yes",
        text: "Yes",
        checked: (data["msic-credit-union-account-balanceTODAY-check"] == "Yes"),
        conditional: {
          html: balanceToday
        }
      },
        {
          value: "No",
          text: "No, I know how much was in this account on a different date",
          checked: (data["msic-credit-union-account-balanceTODAY-check"] == "No"),
          conditional: {
            html: balanceDateToday
          }
        }
      ]
    }) }}





      <!--------------- OTHER DETIALS ----------------------------------------------------------------------------------------->



      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Amount of money that is yours"
          },
          id: "msic-credit-union-account-stake",
          name: "msic-credit-union-account-stake",
          classes: "govuk-input--width-10"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "msic-credit-union-account-owner",
        name: "msic-credit-union-account-owner",
        fieldset: {
          legend: {
            text: "Account owner",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "You",
            text: "Only you"
          },
          {
            value: "Joint account",
            text: "Joint account",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>

    </div>
    </div>
{% endblock %}
