<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-1">Claims processed</h3>
  <h3 class="govuk-body govuk-!-font-size-36 govuk-!-margin-bottom-0"><strong>1,000</strong></h3>

    <span class="">
        <span class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">of</span>
        <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 ">3,570</span>
    </span>

</div>

<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0">Not entitled</h3>
  <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">800 claims</h3>
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2 ">80%</h3>
</div>

<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0">Back to BAU</h3>
  <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">200 claims</h3>
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2 ">20%</h3>
</div>

<div class="govuk-grid-column-one-quarter">
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0">Unfinished</h3>
  <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">0 claims</h3>
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">0%</h3>

</div>
