{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXX</p> -->

    </div>
  </div>


  <!---------------------------------------->

  <div class="govuk-grid-row govuk-!-margin-bottom-6">

          {% include "agent-service-1-9/agent/mi-stats.html" %}

  </div>
  <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">


  <div class="govuk-grid-row govuk-!-margin-bottom-6">

          <div class="govuk-grid-column-full">
            <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-4">Breakdown</h3>
          </div>

  </div>

  <!---------------------------------------->

  <div class="govuk-grid-row govuk-!-margin-bottom-8">



    <div class="govuk-grid-column-one-quarter">


      {% include "agent-service-1-9/agent/mi-menu.html" %}
    </div>



{% endblock %}
