{% if data["system-ur-process-ab"]  === "A" %}

<!-- <h1 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-bottom-1">Jeff Bridges</h1> -->
<p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-bottom-1">Julianne Moore</p>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">QQ 11 22 33 c</p>

{% elif data["system-ur-process-ab"]  === "B" %}

<p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-bottom-1">Julianne Moore</p>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">QQ 11 22 33 c</p>

{% else %}
<h1 class="govuk-heading-xl">
	Julianne Moore
	<span class="govuk-caption-l">QQ 11 22 33 c</span>
	
</h1>

<!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-margin-bottom-1">Name Secondname</p>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 00 00 00 X</p> -->

{% endif %}
