{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Declaration not agreed</h1>


      <h3 class="govuk-heading-m">You have chosen not to continue your application after discussing the declaration.</h3>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon app-warning-text--long-3" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Agent: Use the back link to go back to the previous page if the claimant decides to continue the application. Finish and close to go back to the start page to take another application.
        </strong>
      </div>



      {{ govukButton({
        text: "Finish and close",
        href: "start"
      }) }}



    </div>
  </div>
{% endblock %}
