{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You cannot apply for Pension Credit yet</h1>


      <br>

      <h3 class="govuk-heading-m">You can apply for Pension Credit up to 4 months before you reach your State Pension age.</h3>

<br>

      <p class="govuk-body">
        <strong>If you need to speak to us, call the Pension Credit claim line</strong><br>Monday to Friday, 8am to 6pm (closed on bank holidays).<br>Calls to 0800 numbers are free from landlines and mobiles.
        <br><br>
        <strong>Telephone</strong> 0800 99 1234<br>
        <strong>Textphone</strong> 0800 169 0133
      </p>

      <h3 class="govuk-heading-m">You might be able to apply for Universal Credit.</h3>

      <p class="govuk-body">
        <strong>Contact Universal Credit</strong><br>Monday to Friday, 8am to 6pm (closed on bank holidays). <br>Calls to 0800 numbers are free from landlines and mobiles.
        <br><br>
        <strong>Telephone</strong> 0800 328 5644<br>
        <strong>Textphone</strong> 0800 328 1344
      </p>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon app-warning-text--long-3" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Agent: Use the back link to go back to the previous page if the claimant needs to correct their date of birth. Finish and close to go back to the start page to take another application.
              </strong>
            </div>


      {{ govukButton({
        text: "Finish and close",
        href: "start"
      }) }}



    </div>
  </div>
{% endblock %}
