{% extends "layout.html" %}

{% block pageTitle %}
  Name and National Insurance number - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="national-insurance-call" method="post"><!--existing-claim-yn-->



        <div class="govuk-panel--agent">

        <!------------HEADLINE------------>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Person not found</h1>

          <!------------ if only one headline on a page swap the headline for legend, ask Niall------------>

          <!-- {% set legend %}
          {% if data["who-is-caller"] == "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">What are {{ data | getPronoun }} details?</h1>{% endif %}
          {% if data["who-is-caller"] !== "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">What is ["who-is-caller-name"]'s details?</h1>{% endif %}
          {% endset %} -->
        <!------------HEADLINE------------>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">There is no record for that combination of National Insurance number and date of birth. Check the details and try again.</p>

          {{ govukButton({
            classes: "govuk-!-margin-bottom-0",
            text: "Try again"
          }) }}
          <br>
          <br>
          <p class="govuk-body govuk-!-margin-top-6"><a href="name-and-nino">Enter claimant's details manually</a></p>
</div>

      </form>
      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
