{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  NotePad - Area
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}




{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="pensions-state-overview" method="post">


        <h1 class="govuk-heading-xl">Shared Ownership details</h1>

<br>

{{ govukRadios({
  idPrefix: "notepad-shared-ownership-property",
  name: "notepad-shared-ownership-property",
  fieldset: {
    legend: {
      text: "Have you taken any equity out of the property using an equity release scheme?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["notepad-shared-ownership-property"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["notepad-shared-ownership-property"] == "No")
    }
  ]
}) }}

<br>

{{ govukRadios({
  idPrefix: "notepad-shared-ownership-loan",
  name: "notepad-shared-ownership-loan",
  fieldset: {
    legend: {
      text: "Do you have a mortgage or other loan secured against the property?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["notepad-shared-ownership-loan"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["notepad-shared-ownership-loan"] == "No")
    }
  ]
}) }}

<br>

<ul class="govuk-list">
  <li>
    Notes (optional)
  </li>
</ul>


        {{ govukTextarea({
          name: "notepad-care-nursing-home-more-detail",
          id: "carehome-more-detail",

          value: data["notepad-care-nursing-home-more-detail"]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}

<!--

<p class="govuk-body govuk-!-font-size-19">Collect all the information you need, including:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    whether they part own and rent the property
  </li>
  <li>
    Is there equity release scheme?
  </li>
  <li>
    Is there a loan?
  </li>
  <li>
    Anything else? (nick)
  </li>
</ul>
-->
