{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  What type of account do you have? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <form action="type-of-account-router" method="post" class="form">

        <input type="hidden" name="bank-complete" value="in-progress"/>


      {{ govukRadios({
        idPrefix: "account-type",
        name: "account-type",
        fieldset: {
          legend: {
            text: "What type of account would you like your pension credit to be paid into?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "UK bank account",
            text: "UK bank, building society or credit union account",
            checked: (data["accountType"] == "UK bank account")
          },
          {
            value: "State Pension account (Via PTPCam)",
            text: "Pay into same account as State Pension",
            checked: (data["accountType"] == "State Pension account (Via PTPCam)")
          },
          {
            value: "International bank account",
            text: "International bank account",
            checked: (data["accountType"] == "International bank account")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
