{% extends "layout.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
{% include "explore-header-most-frequent.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">New task journey</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXX</p>

    </div>
  </div>


  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
  <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Header #1</h3> -->
  <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Processing</h3> -->

  </div>





  </div>
    </form>
{% endblock %}
