{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% if data["ab-check"] == "A" %}
      <form action="earnings-router" method="post" class="form">
      {% else %}
      <form action="outcome" method="post" class="form">
      {% endif %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        I'm just going to check any earnings you have in our systems
      </h1>

      <!------------------------------------------------------------A------------------------------------------------------------------------>
      {% if data["ab-check"] == "A" %}


     <!------------H1 LEGEND------------>
     {% set dynamicH1 %}

       <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Do they have earnings of

         {% if data["nino"] == "SS 22 00 00 B" or data["nino"] == "SS220000B"%}

             <!------------Benefit values ------------>

             {% if data["benefit-check"] == "B" %}
             £57.50  <!--[S3+£37.50 -£5]-->

             {% elif data['benefit-check'] == 'CA' %}
             £86.95  <!--[S3 +£66.95 -£5]-->

             {% else %}£20.00 <!--[S3 -£5]-->{% endif %}
             <!------------Benefit values ------------>

         {% elif data['nino'] == 'SS330000C' or data['nino'] == 'SS330000C'%}

             <!------------Benefit values ------------>

             {% if data["benefit-check"] == "B" %}
             £57.50  <!--[S3+£37.50 -£5]-->

             {% elif data['benefit-check'] == 'CA' %}
             £86.95  <!--[S3 +£66.95 -£5]-->

             {% else %}£20.00 <!--[S3 -£5]-->{% endif %}
             <!------------Benefit values ------------>

             {% else %}

             {% if data["benefit-check"] == "B" %}
             £62.50  <!--[S3+£37.50]-->

             {% elif data['benefit-check'] == 'CA' %}
             £91.95  <!--[S3 +£66.95 ]-->

             {% else %}£25.00 <!--[S3]-->{% endif %}

             {% endif %}

       a week or more?</h1>

         {% endset %}

     <!------------ LEGEND END --------------->

     {% set earningsHowMuch %}
     {{ govukInput({
       id: "earnings-howMuch-value",
       name: "earnings-howMuch-value",
       label: {
         html: "Enter their weekly earnings total from SearchLight",
         classes: "govuk-label--s",
         isPageHeading: true
       },
       hint: {
         text: "Enter an amount in pounds and pence, for example, 100.00"
       },
       prefix: {
         text: "£"
       },
       value: data["earnings-howMuch-value"],
       classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
       spellcheck: false
     }) }}
     {% endset %}


           {{ govukRadios({
             idPrefix: "earnings",
             name: "earnings",
             fieldset: {
               legend: {
                 html: dynamicH1,
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--m"
               }
             },

             classes: "govuk-radios",
             items: [
               {
                 value: "Yes",
                 text: "Yes",
                 checked: (data["earnings"] == "Yes")
               },
               {
                 value: "No",
                 text: "No – They have less",
                 checked: (data["earnings"] == "No")
               }
             ]
           }) }}


 <!------------------------------------------------------------B------------------------------------------------------------------------>


 {% else %}


 {{ govukInput({
   id: "earnings-value",
   name: "earnings-value",
   label: {
     html: "Enter their weekly earnings total from SearchLight",
     classes: "govuk-label--m",
     isPageHeading: true
   },
   hint: {
     text: "Enter an amount in pounds and pence, for example, 100.00"
   },
   prefix: {
     text: "£"
   },
   value: data["earnings-value"],
   classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
   spellcheck: false
 }) }}


  {% endif %}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
