{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="exit" method="post" class="form">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Help from GOV</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Best thing to do is look on GOV.UK, Benefits and find your scenario, eg. help with X</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">You can also call this number and tell DWP about your scenario</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Some examples below of ways DWP can help</p>


      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Attendance Allowance </h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Attendance Allowance helps with extra costs if you have a disability severe enough that you need someone to help look after you.</p>


      {% set DynamicDetails %}
            <!-- <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes money, savings and investments such as:</p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contacting AA</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "attendance allowance".</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Call 0800 000 000</p>

      {% endset -%}

      {{ govukDetails({
        summaryText: "Contact Attendance Allowance",
        classes: "govuk-!-margin-bottom-6",
        html: DynamicDetails
      }) }}










      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Winter Fuel Payment</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">If you were born on or before 5 October 1954 you could get between £100 and £300 to help you pay your heating bills.</p>

      {% set DynamicDetails %}
            <!-- <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes money, savings and investments such as:</p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contacting WFP</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "winter fuel payment".</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Call 0800 000 000</p>

      {% endset -%}

      {{ govukDetails({
        summaryText: "Contact Winter Fuel payment",
        classes: "govuk-!-margin-bottom-6",
        html: DynamicDetails
      }) }}





      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Free bus pass</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">In England you can get a bus pass for free travel when you reach the female State Pension age, whether you’re a man or a woman.</p>

      {% set DynamicDetails %}
            <!-- <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes money, savings and investments such as:</p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contacting Bus pass</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "free bus pass".</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Call 0800 000 000</p>

      {% endset -%}

      {{ govukDetails({
        summaryText: "Contact bus pass",
        classes: "govuk-!-margin-bottom-6",
        html: DynamicDetails
      }) }}


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Housing Benefit</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Housing Benefit can help you pay your rent if you’re unemployed, on a low income or claiming benefits. It’s being replaced by Universal Credit.</p>


      {% set DynamicDetails %}
            <!-- <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes money, savings and investments such as:</p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contacting Housing benefit</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "free bus pass".</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Call 0800 000 000</p>

      {% endset -%}

      {{ govukDetails({
        summaryText: "Contact Housing benefit",
        classes: "govuk-!-margin-bottom-6",
        html: DynamicDetails
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">The Pensions Advisory Service</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The Pensions Advisory Service offers free information and advice about your State Pension or your company, personal, stakeholder or occupational pension.</p>


      {% set DynamicDetails %}
            <!-- <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes money, savings and investments such as:</p> -->
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Contacting XX</p>

            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Go to GOV.UK and search for "TPAS".</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Call 0800 000 000</p>

      {% endset -%}

      {{ govukDetails({
        summaryText: "Contact The Pensions Advisory Service",
        classes: "govuk-!-margin-bottom-8",
        html: DynamicDetails
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}


    </div>
  </div>
{% endblock %}
