{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% if data["ab-check"] == "A" %}
        <form action="pensions-router" method="post" class="form">

      {% else %}

          {% if data["nino"] == "SS 22 00 00 B" or data["nino"] == "SS220000B" %}
            <form action="outcome" method="post" class="form">
          {% elif data["nino"] == "SS 33 00 00 C" or data["nino"] == "SS330000C"%}
            <form action="earnings" method="post" class="form">
              {% elif data["nino"] == "SS 66 00 00 F" or data["nino"] == "SS660000F"%}
                <form action="earnings" method="post" class="form">
              {% else %}
            <form action="outcome" method="post" class="form">
          {% endif %}

      {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      I'm just going to check your pension income in our system
    </h1>


<!------------------------------------------------------------A------------------------------------------------------------------------>
{% if data["ab-check"] == "A" %}


<!--
    <!------------H1 LEGEND------------>
    {% set dynamicH1 %}
       <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Is there workplace or personal pension income

          {% if data["nino"] == "SS 22 00 00 B" or data["nino"] == "SS220000B" %}

              <!------------Benefit values ------------>

              {% if data["benefit-check"] == "B" %}
              £62.50  <!--[S2+£37.50]-->

              {% elif data['benefit-check'] == 'CA' %}
              £91.95  <!--[S2 +£66.95 ]-->

              {% else %}£25.00 <!---[S2]--> {% endif %}
              <!------------Benefit values ------------>

          {% elif data["nino"] == "SS 33 00 00 C" or data["nino"] == "SS330000C" %}

              <!------------Benefit values ------------>

              {% if data["benefit-check"] == "B" %}
              £62.50  <!--[S3+£37.50]-->

              {% elif data['benefit-check'] == 'CA' %}
              £91.95  <!--[S3 +£66.95 ]-->

              {% else %}£25.00 <!--[S3]-->{% endif %}
              <!------------Benefit values ------------>

            {% else %}

              <!------------Benefit values ------------>

              {% if data["benefit-check"] == "B" %}
              £62.50  <!--[S3+£37.50]-->

              {% elif data['benefit-check'] == 'CA' %}
              £91.95  <!--[S3 +£66.95 ]-->

              {% else %}£25.00 <!--[S3]-->{% endif %}
              <!------------Benefit values ------------>

            {% endif %}

        a week or more?</h1>

          {% endset %}

     <!------------ LEGEND END --------------->




     <!------------ LEGEND END --------------->

     {% set pensionHowMuch %}
     {{ govukInput({
       id: "pensions-howMuch-value",
       name: "pensions-howMuch-value",
       label: {
         html: "Enter their weekly pensions total from SearchLight",
         classes: "govuk-label--s",
         isPageHeading: true
       },
       hint: {
         text: "Enter an amount in pounds and pence, for example, 100.00"
       },
       prefix: {
         text: "£"
       },
       value: data["pensions-howMuch-value"],
       classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
       spellcheck: false
     }) }}
     {% endset %}


           {{ govukRadios({
             idPrefix: "pensions",
             name: "pensions",
             fieldset: {
               legend: {
                 html: dynamicH1,
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--m"
               }
             },
             hint: {
               text: ""
             },
             classes: "govuk-radios",
             items: [
               {
                 value: "Yes",
                 text: "Yes",
                 checked: (data["pensions"] == "Yes")
               },
               {
                 value: "No",
                 text: "No – They have less",
                 checked: (data["pensions"] == "No"),
                 conditional: {
                   html: pensionHowMuch
                 }
               }
             ]
           }) }}

<!------------------------------------------------------------B------------------------------------------------------------------------>


{% else %}


{{ govukInput({
  id: "pensions-value",
  name: "pensions-value",
  label: {
    html: "Enter their weekly pensions total from SearchLight",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: "Enter an amount in pounds and pence, for example, 100.00"
  },
  prefix: {
    text: "£"
  },
  value: data["pensions-value"],
  classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
  spellcheck: false
}) }}


 {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


<!-- <br><br>
    <br>[+CP]  £25.00 +£37.50]
    <br>[+DB] £25.00 +£66.95]
    <br>[CP+DB] £104.45

    Use £5 if no benefits, use £10 for CP or DB -->

    <!-- <p class="govuk-body govuk-!-padding-top-0"><a href="pensions-enter">Pensions enter amounts</a></p> -->

  </div>
</div>
{% endblock %}
