{% extends "layout.html" %}

{% block pageTitle %}
  Lump sum (From insurance payments eg.) - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-has-cash-lump-sum-yn-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "msic-has-cash-lump-sum-yn",
        name: "msic-has-cash-lump-sum-yn",
        fieldset: {
          legend: {
            text: "Cash lump sum from payments made to you",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
            },
            hint: {
              html: "<br><p class=\"hint\">
  Any one off payments that haven’t been covered in the accounts we have already discussed.</p><br>"
            },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["msic-has-cash-lump-sum-yn"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["msic-has-cash-lump-sum-yn"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
