{% extends "layout.html" %}

{% block pageTitle %}
  Money, savings and investments - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <!----Headline---->
  <span class="govuk-caption-m">Money, savings and investments</span>
  <h1 class="govuk-heading-xl">
    Buildings sociery current accounts summary<br>
  </h1>
  <!----Headline---->
  <form action="msic-has-post-office-card-account-yn" method="post">


    <h3 class="govuk-heading-m">
      Accounts (1)
    </h3>

<br><br>
{% if data["msic-buildings-current-account-name"] %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <!------>  <h3 class="govuk-heading-s">
        {{ data["msic-buildings-current-account-name"] }}<p class="govuk-body"><!---<a href="msic-bank-current-account" class="govuk-link">Remove</a>---></p>
      </h3></div>


    <div class="govuk-grid-column-two-thirds">

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Last four digits"
          },
          value: {
            text: data['msic-buildings-current-account-last-digits']
          },
          actions: {
            items: [
              {
                href: "msic-building-current-account",
                text: "Change / Remove",
                visuallyHiddenText: "XXX"
              }
            ]
          }
        },

        {
          key: {
            text: "Total"
          },
          value: {
            text: data['msic-buildings-current-account-amount']
          },
          actions: {
            items: [
              {
                href: "",
                text: "",
                visuallyHiddenText: "XXX"
              }
            ]
          }
        },

        {
          key: {
            text: "Who's account?"
          },
          value: {
            text: data['current-owner']
          },
          actions: {
            items: [
              {
                href: "",
                text: "",
                visuallyHiddenText: "XXXX"
              }
            ]
          }
        },

        {
          key: {
            text: "% stake in joint account"
          },
          value: {
            text: data['msic-buildings-current-account-stake']
          },
          actions: {
            items: [
              {
                href: "msic-buildings-current-account-stake",
                text: "",
                visuallyHiddenText: "XXXX"
              }
            ]
          }
        }
        ]
      }) }}

  </div></div>
{% endif %}



<!--------------------------------------------------------------------------------->

  <!----Break---->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
  </div>
  <!----Break---->

  <br><br>

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "changed-name",
    name: "changed-name",
    fieldset: {
      legend: {
        text: "Do you want to add another account?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}


  {{ govukButton({
    text: "Continue"
  }) }}


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>



{% endblock %}
