{% extends "layout.html" %}

{% block pageTitle %}
  Do you agree with the way we will use your information? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<p>
  {{ govukBackLink({
    href: "start"
  }) }}
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How we use your personal information</h1>
  <p class="govuk-body"><strong>Agent: Read this page to the caller</strong><br><br>We will only use your information as allowed by data protection laws. This includes sharing information with other organisations and government departments where we need to.</p>
  <p class="govuk-body">To find out more about how we use information and your information rights, read our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">Personal Information Charter (Opens in a new window)</a>. You can get a copy of this at a jobcentre or by searching on GOV.UK.<p>
    <form action="privacy-policy-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "agrees-privacy",
        name: "agrees-privacy",
        fieldset: {
          legend: {
            text: "Do you agree with the way we will use your personal information?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },

        classes: "govuk-radios",
        items: [
          {
            value: "Agree",
            text: "Agree",
            checked: (data["agrees-privacy"] == "Agree")
          },
          {
            value: "Disagree",
            text: "Disagree",
            checked: (data["agrees-privacy"] == "Disagree")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
