{% extends "layout.html" %}

{% block pageTitle %}
  Are you ringing or applying on your own behalf? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="who-is-caller-router" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "claiming-for",
          name: "claiming-for",
          fieldset: {
            legend: {
              text: "Who are you claiming pension credit for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
                value: "Yourself",
                text: "Yourself",
                checked: data['claiming-for'] == "Myself"
            },
            {
              value: "Someone else",
              text: "Someone else",
              checked: data['claiming-for'] == "Someone else"
            },
            {
              value: "PC1",
              text: "PC1 (author could be unknown)",
              checked: data['claiming-for'] == "PC1"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
