{% extends "layout-assisted-digital-ur.html" %}


{% block pageTitle %}
  Date of claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="claimant-national-insurance" method="post">




        <!---- SHARED ---->{% if data['claim-filter'] == 'Today' %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">We will consider your application from today as you reach your State Pension age today</h1>


        {% elif data["partner-check-yn2"] == "bereaved-yes"%}
        <h1 class="govuk-heading-xl">The earliest we can consider your application from is [DOD/OutsideUK]</h1>


        <!---- OWN ---->{% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We will consider your application from [SPA date] when you reach your State Pension age</h1>

        {% endif %}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
