{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="start-check" method="post" class="form">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">About this service</h1>


    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">If you are applying on behalf of someone else, complete the application as if you are the applicant. We will take some details of who you are later in the application.</p>

    <div class="govuk-inset-text govuk-!-margin-bottom-4">This service is for new Pension Credit applications only. If you are already getting Pension Credit you should call us to tell us about a <a href="gov-uk-coc">change of circumstances</a>.</div>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">If you do not enter anything for more than 30 minutes, your application will time out and you will have to start again. This is to keep your details secure. You cannot save your application and come back later.</p>




     {{ govukButton({
       text: "Continue"
     }) }}



</form>
</div>
{% endblock %}
