{% extends "layout-assisted-digital-ur.html" %}


{% block pageTitle %}
  Are you a UK national? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% set ResideHint %}
{% endset %}
{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="eu-filter" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "uk-residence-date-partner",
          name: "uk-residence-date-partner",
          fieldset: {
            legend: {
              text: "Did your partner start living in the UK before 1 January 1973?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "<p class=\"hint\">"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]

        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
