{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claimant-name" method="post" class="form">

    <p class="govuk-body govuk--version-control">G4s version 0.4 / MVP</p>

    <h1 class="govuk-heading-xl">Check if you can get <br>Pension Credit </h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">I will ask questions about you and your circumstances to work out how likely you are to get Pension Credit.</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">I will combine that with information we already hold about you, such as your earnings, pensions and benefits.</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">In the event you do not meet the criteria to get Pension Credit, I can provide you with information about other benefits you may be able to claim, such as help with housing or living costs.</p>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">We will use information:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that we already have about your State Pension and any benefits you receive</li>
      <li>that we get from HMRC about your earnings and pensions</li>
    </ul>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">To find out more about how we use information and your information rights, go to GOV.UK and search for DWP's Personal Information Charter. -->

</p>





      {{ govukButton({
       text: "Start now",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }}

     <p class="govuk-body govuk-!-padding-top-6"><a href="sl-find-a-claim" target="_blank">Open SearchLight (Opens in a new Tab)</a></p>




</form>
</div>
{% endblock %}
