{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXX</p> -->

    </div>
  </div>


  <!---------------------------------------->

  <div class="govuk-grid-row govuk-!-margin-bottom-6">

    <!-- {% include "agent-service-1-4/agent/mi-stats.html" %} -->

  </div>



  <!---------------------------------------->

  <div class="govuk-grid-row govuk-!-margin-bottom-8">



    <div class="govuk-grid-column-one-third">


      {% include "agent-service-1-4/agent/mi-menu.html" %}
    </div>


      <div class="govuk-grid-column-two-thrids">
        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-4">Download claim processing statistics</h3>
        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Data from the last month</h3>


        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="no-claims" class="govuk-link" rel="noreferrer noopener" target="">Claim processing statistics May 2022 (CSV: 4MB)</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Data from previous months</h3>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="no-claims" class="govuk-link" rel="noreferrer noopener" target="">Claim processing statistics April 2022 (CSV: 3MB)</a></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="no-claims" class="govuk-link" rel="noreferrer noopener" target="">Claim processing statistics March 2022 (CSV: 4.1MB)</a></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="no-claims" class="govuk-link" rel="noreferrer noopener" target="">Claim processing statistics February 2022 (CSV: 3.6MB)</a></p>

        </div>


      </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
