{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Do you agree with the way we will use your information? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility statement for the Pension Credit Child Addition tool
      </h1>
      <p class="govuk-body">
        This page only contains information about the Pension Credit Child Addition tool, available at <a href="http://pss.agent-service.prod.rbcdwp.net/cha-tool/">http://pss.agent-service.prod.rbcdwp.net/cha-tool/</a>
      </p>
      <h2 class="govuk-heading-l">
        Using this service
      </h2>
      <p class="govuk-body">
        This service is run by the Department for Work and Pensions. We want as
        many people as possible to be able to use this service. For example,
        that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          change colours, contrast levels and fonts
        </li>
        <li>
          zoom in up to 300% without the text spilling off the screen
        </li>
        <li>
          get from the start of the service to the end using just a keyboard
        </li>
        <li>
          get from the start of the service to the end using speech recognition
          software
        </li>
        <li>
          listen to the service using a screen reader
        </li>
      </ul>
      <p class="govuk-body">
        We've also made the text in the service as simple as possible to understand.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.
      </p>
      <h2 class="govuk-heading-l">
        How accessible this service is
      </h2>

      <p class="govuk-body">
        The service uses common styles, patterns and components from the
        GOV.UK Design System which are widely regarded as accessible.</p>
      <p class="govuk-body">We know some parts of this website are not fully accessible. Users:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>cannot use autofill. It is not allowed in the browser settings to avoid the security risk of fields being populated with previous customers’ information in error</li>
    <li>of JAWS 18 or 19 and Zoomtext may find that some headings are not read out when using Internet Explorer 11. This is a known issue with Freedom Scientific software. You should be able to resolve this issue by using a different browser.</li>
   </ul>


      <h2 class="govuk-heading-l">
        What to do if you have difficulty using this service
      </h2>
      <p class="govuk-body">
        If you have difficulty using this service, speak to your line manager who will be able to help you using the <a href="https://intranet.dwp.gov.uk/page/line-managers-accessibility-toolkit">Line Manager's Accessibility Toolkit</a></p>

      <h2 class="govuk-heading-l">
        Reporting accessibility problems with this service
      </h2>
      <p class="govuk-body">
        We're always looking to improve the accessibility of this service.
        If you find any problems that aren't listed on this page or think we're
        not meeting accessibility requirements, contact us by email: <a href="mailto:manageyourpensioncredit.mypc@dwp.gov.uk">manageyourpensioncredit.mypc@dwp.gov.uk</a></p>
      <h2 class="govuk-heading-l">
        Enforcement procedure
      </h2>
      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for
        enforcing the Public Sector Bodies (Websites and Mobile Applications)
        (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
        If you're not happy with how we respond to your complaint, contact the:</p>

<ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a> if you live in England, Scotland or Wales</li>
        <li><a class="govuk-link" href="https://www.equalityni.org/contactus">Equality Commission for Northern Ireland (ECNI)</a> if you live in Northern Ireland</li>

</ul>

      <h2 class="govuk-heading-l">
        Technical information about this service's accessibility
      </h2>
      <p class="govuk-body">
        The Department for Work and Pensions is committed to making this service
        accessible, in accordance with the Public Sector Bodies (Websites and
        Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h3 class="govuk-heading-m">Compliance status</h3>
      <p class="govuk-body">
        This website is not compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard. The non-compliances are:
      </p>
      <h2 class="govuk-heading-l">Non-accessible content</h2>

      <p class=govuk-body>The content listed below is non-accessible for the following reasons.</p>

      <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
  <p class=govuk-body>The "First name" field has two labels associated with it ("Who was responsible for the child before you?" and "First name"), but should have one. This fails WCAG 2.1 success criteria 1.1.1, 1.3.1 and 3.3.2.</p>
  <p class=govuk-body>The table column header between "Status" and "Activity" is empty, using a space to achieve visual spacing. This fails WCAG 2.1 success criterion 1.3.1.</p>
  <p class=govuk-body>When using Firefox, users are unable to tab-select the content of any table cells. This fails WCAG 2.1 success criteria 1.3.2 and 2.1.1.</p>
  <p class=govuk-body>When looking at the 'Total claims' and 'Application' layouts on smaller portrait screens (e.g. iPhone 6), the "Download PDF" button appears beneath the side bar, and text elements begin to overlap each other. It completely disappears at 400% zoom. The "Download PDF" button bleeds into the aside element when the screen is scaled up. The "Add more children" and "Remove child" and "Start new application" modals all move off page if they are already displayed when the page is zoomed. This fails WCAG 2.1 success criteria 1.3.4, 1.4.4 and 1.4.10</p>
  <p class=govuk-body>On the 'Application' page, application table links are not reachable in Firefox. This fails WCAG 2.1 success criteria 1.3.2 and 2.1.1</p>
  <p class=govuk-body>On all pages, it is not possible to reach all interactive elements by tabbing. This fails WCAG 2.1 success criteria 1.3.2, 2.1.1, 2.4.1, 2.4.3, 3.3.1 and 3.3.3</p>
  <p class=govuk-body>The contrast on the "version" footer label is too low. This fails WCAG 2.1 success criterion 1.4.3.</p>
  <p class=govuk-body>The browser tab title does not change when you move between page. This fails WCAG 2.1 success criterion 2.4.2.</p>
  <p class=govuk-body>On the 'Total claims' page the  'child name' and 'view/edit' links are adjacent, but link to the same place. This fails WCAG 2.1 success criterion 2.4.4.</p>
  <p class=govuk-body>All pages fail the WC3 HTML vailidator with multiple errors. One of the errors is that the aside block appears inside another landmark container. This fails WCAG 2.1 success criterion 4.1.1.</p>
  <p class=govuk-body>On all pages, focus styles do not conform to required standard as described in the GOV.UK design system on 12 August 2020. This fails WCAG 2.1 success criterion 2.4.7.</p>
  <p class=govuk-body>On all pages, there is no visible text attached to the skip link. This fails WCAG 2.1 success criterion 2.4.4.</p>






      <p class=govuk-body>We plan to resolve these issues by November 2020. When we publish new content, we’ll make sure our service meets accessibility standards.

</p>

      <h2 class="govuk-heading-l">
        How we tested this service
      </h2>
      <p class="govuk-body">
        The service was last tested on 4 September 2020 and was checked for
        compliance with WCAG 2.1 AA. The tests were carried out by the
        Department for Work and Pensions.
      </p>
      <p class="govuk-body">
        The service was tested using both automated and manual testing.
      </p>
      <h2 class="govuk-heading-l">
        What we're doing to improve accessibility
      </h2>

        <p class="govuk-body">
          We will continue to iterate the design of the service, with accessibility considerations built into the lifecycle of each release.</p>

          <h2 class="govuk-heading-l">
            Preparation of this statement
          </h2>

          <p class="govuk-body">
            This page was prepared on 22 September 2020.
          </p>

          <p class=govuk-body>This website was last tested on 4 September 2020. The testing was carried out by the Department for Work and Pensions.</p>

          <p class=govuk-body>We tested a sample of pages that represents the implementation of each type of design pattern and interaction used in the service.</p>
    </div>
  </div>
{% endblock %}
