{% extends "layout.html" %}

{% block pageTitle %}
  What was the date you entered the care home? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="care-home-funding" method="post" class="form">
      {{ govukDateInput({
        id: "care-home-date",
        namePrefix: "care-home-date",
        fieldset: {
          legend: {
            text: "What was the date you entered the care home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "For example, 31 3 2018"
        }
      }) }}

      {% set permCareHomeDate %}
        {{ govukDateInput({
          id: "care-home-permanent-date",
          namePrefix: "care-home-permanent-date",
          fieldset: {
            legend: {
              text: "When did it become your permanent residence?"
            }
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "care-home-date-is-perm-date",
        name: "care-home-date-is-perm-date",
        fieldset: {
          legend: {
            text: "Was this the day it was made permanent?"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["care-home-date-is-perm-date"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            conditional: {
              html: permCareHomeDate
            },
            checked: (data["care-home-date-is-perm-date"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>

  </div>
</div>
{% endblock %}
