{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Partner details - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="partner-name" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>


      {% set legendNI %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">What is your partner's National Insurance number?</h1>
      {% endset -%}

      {{ govukInput({
        label: {
          html: legendNI
        },
          hint: {
            text: "It’s on their National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
        id: "partner-nino",
        name: "partner-nino",
        classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
        value: data["partner-nino"]
      }) }}



            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
          <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
        </div>
      </div>
      {% endblock %}
