{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  Process a claim - not entitled
{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="ur-home" method="post" class="form">
      <input type="hidden" name="done-task" value="Yes">
      <input type="hidden" name="done-ciz500" value="No">
      <!-- @louise I've added some clears so you dont get sticky banners-->

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-service-1-14/agent/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Process an application - not entitled</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->

    </div>
  </div>

    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
    <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1.</span>Match and verify identity
    </h2>
    <ul class="app-task-list__items">

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="process-c-nil-task-1-1" aria-describedby="task-1">
          <!-- [1-1]  --> Name
        </a>

        {% if data["process-c-nil-task-1-1"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-1"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-1"]  === "Unfinished" or data["process-c-nil-task-1-1"]  === "Skip" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="process-c-nil-task-1-3" aria-describedby="task-1">
          <!-- [1-3]  -->Telephone
        </a>

        {% if data["process-c-nil-task-1-3"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-3"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-3"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="process-c-nil-task-1-4" aria-describedby="task-1">
          <!-- [1-4]  -->Address
        </a>

        {% if data["process-c-nil-task-1-4"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-4"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-4"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="process-c-nil-task-1-6" aria-describedby="task-1">
          <!-- [1-9]  -->Bank name
        </a>

        {% if data["process-c-nil-task-1-6"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-6"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-6"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>


      
      <li class="app-task-list__item" style="border: red">
        <a class="app-task-list__task-name" href="process-c-nil-task-raw-data" aria-describedby="task-1">
          <!-- [1-9]  -->View HMRC data
        </a>

        <!--{% if data["process-c-nil-task-1-6"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-6"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-1-6"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}-->

      </li>


    </ul>
    
    </li>

    

    {% if data["process-c-nil-task-1-1"]  == "Matched" and

          data["process-c-nil-task-1-4"]  == "Matched" and
          data["process-c-nil-task-1-6"]  == "Matched"
      %}

          {# data["process-c-nil-task-1-3"]  == "Matched" and   #}

    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2.</span>Check previous applications
      </h2>

    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-2-4" aria-describedby="task-1">
          <!-- [1-9]  -->Telephone application
        </a>
        {% if data["process-c-nil-task-2-4"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-4"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-4"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}
      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-2-1" aria-describedby="task-2">
          Initial date of contact (IDOC)
        </a>
        {% if data["process-c-nil-task-2-1"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-1"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-1"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}
      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-2-2" aria-describedby="task-2">
          Online application
        </a>
        {% if data["process-c-nil-task-2-2"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-2"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-2"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}
      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-2-3" aria-describedby="task-2">
          PC1 application
        </a>

        {% if data["process-c-nil-task-2-3"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-3"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-2-3"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}
      </li>
    </ul>
    </li>


    <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3.</span>Verify data used
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-3-1" aria-describedby="task-1">
          <!-- [3-1]  -->No date of death
        </a>

        {% if data["process-c-nil-task-3-1"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-1"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-1"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>


      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-3-9" aria-describedby="task-1">
          <!-- [3-9]  -->	Open or closed interests for qualifying benefits
        </a>

        {% if data["process-c-nil-task-3-9"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-9"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-9"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-3-10" aria-describedby="task-1">
          <!-- [3-10]  -->Most recent State Pension award
        </a>

        {% if data["process-c-nil-task-3-10"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-10"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-10"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-3-11" aria-describedby="task-1">
        <!-- [3-11]  -->State Pension awards in the backdating period

        </a>

        {% if data["process-c-nil-task-3-11"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-11"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-11"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>


      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#process-c-nil-task-3-13" aria-describedby="task-1">
          <!-- [3-13]  -->Qualifying benefits
        </a>

        {% if data["process-c-nil-task-3-13"]  === "Matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-13"]  === "Not matched" %}
          <strong class="govuk-tag app-task-list__nil-task-passed">Done</strong>
        {% elif data["process-c-nil-task-3-13"]  === "Unfinished" %}
          <strong class="govuk-tag app-task-list__nil-task-not-done">Unfinished</strong>
        {% else %}
          <strong class="govuk-tag app-task-list__nil-task-not-done" id="eligibility-completed">To do</strong>
        {% endif %}

      </li>

      </ul>
    </li>

   </ol>


    {% else %}

    {% endif %}

        <!------------ ––– ------------>

    </div>
  </div>

  {% if data["process-c-nil-task-1-6"]  == "Matched" and data["process-c-nil-task-2-2"] == "Matched" and data["process-c-nil-task-3-13"] == "Matched" %}

  <div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Not currently entitled</h1>
    <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">A letter will be automatically sent to the applicant. It will notify them that they are not currently entitled to Pension Credit.</p>


      {# {% if data["process-c-nil-task-1-3"]  == "Not matched" %} #}

          {# <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">A new task has been created to update the applicant's telephone number.</p> #}

            {# {{ govukInsetText({
              text: "A new task has been created to update the applicant's telephone number."
            }) }}

      {% endif %} #}


            {{ govukButton({
            name: "process-c-nil-task-list",
            value: "NIL",
            checked: (data["process-c-nil-task-list"] == "NIL"),
            text: "Confirm and notify",
            classes: "govuk-!-margin-right-2"
            }) }}


      {% elif data["process-c-nil-task-1-6"]  == "Not matched" or data["process-c-nil-task-3-13"]  == "Not matched" %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application needs further action</h1>
      <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application does not match [Bad Outcome]</h1> -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Reject and send this application back to business as usual. Another agent will pick this up.  </p>

      {{ govukButton({
      name: "process-c-nil-task-list",
      value: "BAU",
      checked: (data["process-c-nil-task-list"] == "BAU"),
      text: "Confirm and reject",
      classes: "govuk-!-margin-right-2"
      }) }}


      {% elif data["process-c-nil-task-1-6"]  == "Unfinished" %}

        <h1 class="govuk-heading-m govuk-!-margin-bottom-4">You have unfinished tasks</h1>

        {{ govukButton({
        name: "process-c-nil-task-list",
        value: "UF",
        checked: (data["process-c-nil-task-list"] == "UF"),
        text: "Exit process early",
        classes: "govuk-button--secondary",
        href: "process-nil-task-alt-outcome"
        }) }}

      {% else %}


      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Leaving the process early</h1>

      {{ govukButton({
      name: "process-c-nil-task-list",
      value: "UF",
      checked: (data["process-c-nil-task-list"] == "UF"),
      text: "Exit process early",
      classes: "govuk-button--secondary",
      href: "process-nil-task-alt-outcome"
      }) }} -->

      {% endif %}

        </div>
      </div>

  </form>

{% endblock %}
