{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="case-next-claim" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Pension Credit claims</h1>
    </div>
  </div>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">There are <strong>13</strong> claims to download.</p>

        {{ govukButton({
          classes: "govuk-!-margin-top-4",
          text: "Download next claim"
        }) }}

        </form>



        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


              <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


<div>

<p class="govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-padding-top-4 govuk-!-margin-bottom-4">Find a claim</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-2 govuk-!-margin-bottom-2">Enter a National Insurance number. For example, ‘QQ 12 34 56 C’.</p>


                {{ govukInput({
                  label: {
                    html: legendName
                  },
                  hint: {
                    text: ""
                  },
                  id: "search",
                  name: "search",
                  classes: "govuk-input--width-30 govuk-!-margin-bottom-0",
                  value: data["search"]
                }) }}

                {{ govukButton({
                  text: "Find",
                  classes: "govuk-!-margin-right-1 govuk-button--secondary govuk-!-margin-bottom-6",
                  href: "case-load-claim-found"
                }) }}

              <!--  {{ govukButton({
                  text: "Clear",
                  classes: "govuk-button--secondary-clear",
                  href: "case-load"
                }) }} -->




</div>






</div>
</div>
{% endblock %}
