{% extends "layout.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="privacy-policy" method="post" class="form">

    <p class="govuk-body govuk--version-control">Survey</p>

    <h1 class="govuk-heading-xl">Help us make this service better.</h1>

    <span id="more-detail-hint" class="govuk-hint">
  Do not include personal or financial information, like your National Insurance number or credit card details. Questions are optional.
</span>

<br>

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "What was one thing that worked well today in the service and why? (if any)"
  }
}) }}

<br>

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "What was one thing that didn’t work well in the service and why? (if any)"
  }
}) }}

<br>

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "What would you improve if you could and why? (if any)"
  }
}) }}

<br>

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Other comments?"
  }
}) }}

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit

    <p class="govuk-body"><strong>You will need to tell us about:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your National Insurance number</li>
      <li>any children you look after</li>
      <li>any benefits you get</li>
      <li>any pensions you get</li>
      <li>any money, savings or investments you have, including balances, account and reference numbers</li>
      <li>any second properties or land you own</li>
      <li>earnings from employment and any other income. You can find this on your P45, P60 or any pay slips</li>
      <li>details of the bank account you want any Pension Credit paid into</li>
    </ul>

-->
<!--
<div class="govuk-panel--agent-alert govuk-!-margin-top-6">
  {% set AddName %}

  {{ govukInput({
    label: {
      text: "Add full name?"
    },
    hint: {
      text: "Include any middle names."
    },
    id: "full-name",
    name: "full-name",
    classes: "govuk-input--width-20",
    value: data["full-name"]
  }) }}

  {% endset %}
</div>

{{ govukDetails({
  summaryText: "Add API name",
  html: AddName
}) }} -->



<a href="page-3" type="submit" class="govuk-button">
    Send feedback
</a>






    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

</form>
</div>
{% endblock %}
