{% if data["system-ur-process-ab"]  === "A" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">Jeff Bridges</h1>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 11 22 33 c</p>

{% elif data["system-ur-process-ab"]  === "B" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">Julianne Moore</h1>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 11 22 33 c</p>

{% else %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">Name Name</h1>
<p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 00 00 00 X</p>

{% endif %}
