{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
{% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My cases</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">All the cases you have done or not finished</p> -->

    </div>
  </div>





              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2"><table class="govuk-table">

                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-20-percent">Date</td>
                                    <td class="govuk-table__cell govuk-20-percent">Claim ID</td>
                                    <td class="govuk-table__cell govuk-40-percent">Name</td>
                                    <td class="govuk-table__cell govuk-30-percent">Status/Outcome</td>
                                  </tr>
                                  </thead>

                                  {% if data["process-c-nil-task-1-6"] %}

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 26 / 01 / 2022</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>0010</td>
                                    <td class="govuk-table__cell table-spacer"><a href="process-c-nil-task-list">Julianne Moore</a>
                                      <!-- {{data["api-claim-outcome-details"]}} -->
                                    </td>
                                    <td class="govuk-table__cell table-spacer">

                                    {% if data["process-c-nil-task-3-15"]  === "Matched" %}
                                      <strong class="govuk-tag app-task-list__nil-case-passed">Matched</strong>
                                    {% elif data["process-c-nil-task-3-15"]  === "Not matched" %}
                                      <strong class="govuk-tag app-task-list__nil-case-failed">Not matched</strong>
                                    {% elif data["process-c-nil-task-3-15"]  === "Unfinished" %}
                                      <strong class="govuk-tag app-task-list__nil-case-not-done">Unfinished</strong>
                                    {% else %}
                                      <strong class="govuk-tag app-task-list__nil-case-not-done" id="eligibility-completed">Not done</strong>
                                    {% endif %}

                                    </td>
                                    </tr>

                                    {% else %}

                                    {% endif %}

                                  {% if data["process-b-nil-task-1"] %}

                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 25 / 01 / 2022</td>
                                    <td class="govuk-table__cell table-spacer"><a href=""></a>0009</td>
                                    <td class="govuk-table__cell table-spacer"><a href="process-b-nil-task-list">Jeff Bridges</a>
                                      <!-- {{data["api-claim-outcome-details"]}} -->
                                    </td>
                                    <td class="govuk-table__cell table-spacer">

                                      {% if data["process-b-nil-task-3-5"] == "Matched" %}
                                        <strong class="govuk-tag app-task-list__nil-case-passed">Matched</strong>
                                      {% elif data["process-b-nil-task-3-5"]  === "Not matched" %}
                                        <strong class="govuk-tag app-task-list__nil-case-failed">Not matched</strong>
                                      {% elif data["process-b-nil-task-3-5"]  === "Unfinished" %}
                                        <strong class="govuk-tag app-task-list__nil-case-not-done">Unfinished</strong>
                                      {% else %}
                                        <strong class="govuk-tag app-task-list__nil-case-not-done" id="eligibility-completed">Not done</strong>
                                      {% endif %}

                                    </td>
                                    </tr>

                                    {% else %}

                                    {% endif %}



                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 03 / 01 / 2022</td>

                                    <td class="govuk-table__cell table-spacer">0003</td>
                                    <td class="govuk-table__cell table-spacer"><a href="#"></a>John Goodman</td>

                                    <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__nil-case-failed" id="eligibility-completed">Unmatched</strong>
                                    </tr>



                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell table-spacer"> 01 / 01 / 2022</td>
                                    <td class="govuk-table__cell table-spacer">0001</td>

                                    <td class="govuk-table__cell table-spacer"><a href="#"></a>Steve Buscemi</td>

                                    <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__nil-case-passed" id="eligibility-completed">Matched</strong>
                                    </tr>

                                  </table>


                                  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

                                  <nav class="moj-pagination" id="pagination-label">

                                  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

                                  <ul class="moj-pagination__list">
                                  <li class="moj-pagination__item  moj-pagination__item--prev">
                                    <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                                  </li>

                                  <li class="moj-pagination__item moj-pagination__item--active">1</li>

                                  <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>

                                  <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">3</a></li>

                                  <li class="moj-pagination__item  moj-pagination__item--next">
                                    <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                                  </li>
                                  </ul>
                                  <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
                                  </nav>



                    </div>
                  </div>
    </form>
{% endblock %}
