{% extends "layout-id-bar.html" %}

{% block pageTitle %}
Do you have any Unit Trusts? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<form action="msic-has-unit-trust-account-yn-router" method="post">
  <input type="hidden" name="money-you-have-complete" value="in-progress"/>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <!------------HEADLINE------------>
      {% set legend %}
      {% if data["claim-filter"] == "Advanced or Today" %} Do you have any money invested in unit trusts? {% endif %}
      {% if data["claim-filter"] == "Backdating" %} Since {{ data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] }}, have you had any money invested in unit trusts?{% endif %}
      {% endset %}
    <!------------HEADLINE------------>

  {{ govukRadios({
    idPrefix: "msic-has-unit-trust-account-yn",
    name: "msic-has-unit-trust-account-yn",
    fieldset: {
      legend: {
        html: legend,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
        },
    classes: "govuk-radios--inline",
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: (data["msic-has-unit-trust-account-yn"] == "yes")
      },
      {
        value: "no",
        text: "No",
        checked: (data["msic-has-unit-trust-account-yn"] == "no")
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </div></div><br><br>

  {% include "version-15/index/msic-rolling-summary.html" %}


    <input type="hidden" name="money-complete" value="true"/>

  </form>


  <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->


{% endblock %}
