{% extends "layout.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
  <!-- {% include "includes/internal-header.html" %} -->
  {% include "explore-header-home-clear.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Pension Credit</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">[Example user: Deb/Hazel admin user] <br> This is appropriate dummy text that is being employed. </p> -->

    </div>
  </div>


  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
  <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Header #1</h3> -->
  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Filtered cases [Nil award]</h3>

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-list" class="govuk-link" rel="noreferrer noopener" target="">Process a claim - not entitled</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="ur-cases" class="govuk-link" rel="noreferrer noopener" target=>My cases</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-5"><a href="" class="govuk-link" rel="noreferrer noopener" target="">Live proving</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="ur-mi" class="govuk-link" rel="noreferrer noopener" target="">Statistics: Nil awards</a></p>


  </div>

  <!-- <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Header #2</h3>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Telephone</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Take an inbound call</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">.</a></p>

  </div> -->
<!--
  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Downloader cases</h3>

    <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Statistics</h3> -->
<!--
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Process a claim - All other case type</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-5"><a href="home-user-0-example-task" class="govuk-link" rel="noreferrer noopener" target="">Find a downloaded claim</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="home-user-0-example-task" class="govuk-link" rel="noreferrer noopener" target="">Statistics: Downloader</a></p>

    <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="home-user-0-example-task" class="govuk-link" rel="noreferrer noopener" target="">Disributor MI</a></p>

  </div>
-->
  <!-- <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Header #4</h3>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Help</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Request access</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">.</a></p>

  </div> -->

  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-4">Queries and disputes</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="query-types-start" class="govuk-link" rel="noreferrer noopener" target="">Queries and disputes</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="task-2-search" class="govuk-link" rel="noreferrer noopener" target=>Find someone</a></p>


  </div>


  </div>
    </form>
{% endblock %}
