{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

{% set nav = 'tasks' %}
{% include "agent-service-1-3/agent/query-primary-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="query-tasks-benefits" method="post" class="form">



      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">

          <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Explain Jen Bridge's entitlement</h3>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Let me check some details for you.</p>


          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4"></p>

          {{ govukInsetText({
            text: "Check if the criteria is still correct."
          }) }}

          {{ govukButton({
            text: "Continue",
            href: ""
          }) }}

        </div>
            </div>

          </div>

          </div>




    </div>
  </div>



    </form>
{% endblock %}
