{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}


{% block content %}

{% set nav = 'correspondence' %}
{% include "agent-service-1-3/agent/query-primary-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="query-phone-log" method="post" class="form">



      <div class="govuk-grid-row">


          <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">

            <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Correspondence</h3>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  {{ govukTable({
                    caption: "",
                    captionClasses: "govuk-table__caption--m",
                    firstCellIsHeader: true,
                    head: [
                      {
                        text: "Date",
                              classes: 'govuk-!-width-one-third'

                      },
                      {
                        text: "Correspondence",
                          classes: 'govuk-!-width-two-thirds'

                      }
                    ],
                    rows: [
                      [
                        {
                          text: "01 March 2022"
                        },
                        {
                          text: "Outbound - Entitlement letter"

                        }
                      ]
                    ]
                  }) }}
                </div>



          </div>

          </div>




    </div>
  </div>



    </form>
{% endblock %}
