{{ govukCheckboxes({
  idPrefix: "query-types",
  name: "query-types",
  fieldset: {
    legend: {
      text: "General queries",
      isPageHeading: true,
      classes: "govuk-body-l govuk-!-font-weight-bold"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "general1a",
      text: "I do not understand the calculation",
      checked: (data["query-types"] == "general1a")

    },
    {
      value: "general2a",
      text: "Explain minimum income guarantee",
      checked: (data["query-types"] == "general2a")
    },
    {
      value: "general3",
      text: "Explain automated processing",
      checked: (data["query-types"] == "general3")

    },
    {
      value: "general4",
      text: "Explain mandatory reconsideration",
      checked: (data["query-types"] == "general4")
    },
    {
      value: "help",
      text: "I'd like to know what other help is available to me",
      checked: (data["query-types"] == "help")
    }
  ]
}) }}


{{ govukCheckboxes({
  idPrefix: "query-types-case",
  name: "query-types",
  fieldset: {
    legend: {
      text: "Case queries",
      isPageHeading: true,
      classes: "govuk-body-l govuk-!-font-weight-bold"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "case1",
      text: "I do not understand why I'm not entitled",
      checked: (data["query-types"] == "case1")

    },
    {
      value: "case2",
      text: "Something has changed that I need to tell you about",
      checked: (data["query-types"] == "case2")


    }

  ]
}) }}


{{ govukCheckboxes({
  idPrefix: "query-types",
  name: "query-types",
  fieldset: {
    legend: {
      text: "Disputes",
      isPageHeading: true,
      classes: "govuk-body-l govuk-!-font-weight-bold"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "dispute1",
      text: "I'd like to request a Mandatory Reconsideration",
      checked: (data["query-types"] == "dispute1")

    },
    {
      value: "dispute2",
      text: "I'd like a progress report on my dispute",
      checked: (data["query-types"] == "dispute2")
    }

  ]
}) }}
