<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <!--
    <p><span class="govuk-!-font-size-24 govuk-!-font-weight-bold">Jeff Jones Mc Cormick Edward Bridges</span>&nbsp;&nbsp;<span class="govuk-!-font-size-19 govuk-!-margin-bottom-2">{{ data ["query-search-nino"]}}</span></p>
 -->

    <p class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-0">Jen Bridges</p>
    <p class="govuk-!-font-size-19 govuk-!-margin-bottom-2">{{ data ["query-search-nino"]}}</p>


    {%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      classes: 'govuk-!-margin-left-5',
      items: [
        {
          text: 'Overview',
          href: 'query-overview',
          active: nav == 'overview'
        },

        {
          text: 'Tasks',
          href: 'query-tasks',
          active: nav == 'tasks'
        },
        {
          text: 'History',
          href: 'query-history',
          active: nav == 'history'
        },
        {
          text: 'Help',
          href: 'query-help',
          active: nav == 'help'
        },
        {
          text: 'Queries',
          href: 'query-types',
          active: nav == 'queries'
        }
      ]
    }) }}


  </div>
</div>
