{% extends "layout-work-list-id-bar-stats.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form action="case-next-claim" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Overview of claims<br>to download</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">There are <strong>13</strong> claims to download.</p>

    </div>
  </div>

  <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Claims</p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">100</p>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">To download</p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">13</p>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Downloaded</p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">87</p>
    </div>

    <div class="govuk-grid-column-one-quarters">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Downloaded each day</p>
      <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">66.6</p>
    </div>
  </div> -->



{% endblock %}
