{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Which account do you want us to pay any Pension Credit into? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-pc-payment-summary" method="post" class="form">
      <input type="hidden" name="disregards-benefit-check-yn" value="in-progress"/>

      <h1 class="govuk-heading-xl">
        What are the details of the {{ data['msic-all-current-account-name-' + 0] }} account with a balance of {{ data['msic-all-current-account-amount-' + 0] }}?
      </h1>

      {{ govukInput({
        label: {
          text: "Name on account"
        },
        id: "name-on-account",
        name: "name-on-account",
        classes: "govuk-input--width-20",
        value: data["name-on-account"]
      }) }}

{{ govukInput({
  name: "sort-code",
  id: "sort-code",
  classes: "govuk-input--width-10",
  value: data["sort-code"],
  label: {
    text: "Sort code"
  }
}) }}

{{ govukInput({
  name: "Account number",
  id: "Account number",
  classes: "govuk-input--width-10",
  value: data["account number"],
  label: {
    text: "Account number"
  }
}) }}

<!--
{{ govukInput({
  name: "Roll number",
  id: "Roll number",
  classes: "govuk-input--width-20",
  value: data["roll-number"],
  label: {
    html: "Roll or reference number<br>"
  },
  hint: {
    text: "If your account has a roll or reference number, you need to provide it. You will find it on your statement or passbook."
  }
}) }}
-->


{% set buildingSociety %}

{{ govukInput({
  name: "Roll number",
  id: "Roll number",
  classes: "govuk-input--width-20",
  value: data["roll-number"],
  label: {
    html: "Roll or reference number"
  },
  hint: {
    text: ""
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "msic-pc-payment-alternative-account-bank-buildings",
  name: "msic-pc-payment-alternative-account-bank-buildings",
  fieldset: {
    legend: {
      text: "Does your account have a roll or reference number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
{
  value: "Building society",
  text: "Yes",
  checked: (data["notepad-care-nursing-home-status"] == "Building society"),
    conditional: {
      html: buildingSociety
    }
  },
  {
      value: "Bank account",
      text: "No",
      checked: (data["dischargeDate"] == "Bank account")
  }
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}
</form>

<!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

</div>
</div>

{% endblock %}
