{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Adviser: Check and discuss the pensions Alex Smith's has - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pensions-monolith" method="post" class="form">

      <input type="hidden" name="pensions-complete" value="in-progress"/>

      <div class="govuk-panel--agent">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"> Adviser: Check and discuss the pension contributions {{ data["full-name"] }} has</h1>


          <p class=govuk-body>Check the schemes tab in <strong>OLE NIRS</strong> for pension contributions. If contributions indicate unclaimed pensions, send form PPR1.</p>

            {{ govukDetails({
            summaryText: "What to do if the claimant tells you their pension contributions are wrong",
            text: "Tell the claimant that you will use the details you discussed for their claim. The information we have is from HMRC and they should contact HMRC to resolve any issues."
            }) }}

    </div>

<br>


{{ govukButton({
  text: "Continue"
}) }}

    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
