{% extends "layout.html" %}

{% block pageTitle %}
  Are you ringing or applying on your own behalf? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="national-insurance-call-B" method="post">


        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Caller's details</h2>

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          },
          hint: {
            text: "Include any middle names."
          },
          id: "who-is-caller-name",
          name: "who-is-caller-name",
          classes: "govuk-input--width-20",
          value: data["who-is-caller-name"]
        }) }}

        {{ govukInput({
          label: {
              text: "What number are you calling from?"
          },
          hint: {
            text: "This is the number we will use to call you back if this call is cut off. If you have a different number for future contact, you can give us this later."
          },
          id: "caller-number",
          name: "caller-number",
          classes: "govuk-input--width-20 govuk-!-margin-bottom-4",
          value: data["caller-number"]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
