{% extends "layout-covid19.html" %}

{% block pageTitle %}
How to Claim - Pension Credit
{% endblock %}


{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">State Pension</a>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Pension Credit
        </h1>


        {% include "citizen-version-2-6/mvp/gov-uk-menu.html" %}




    </div>

    <div class="govuk-grid-column-one-third">


    </div>
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-xl">What Pension Credit is</h2>

        <p class="govuk-body">Pension Credit makes sure people who are over State Pension age and on a low income have enough money for their living costs in retirement. </p>

        <p class="govuk-body">Pension Credit is separate from your State Pension.</p>

        <p class="govuk-body">You can get Pension Credit even if you have savings or own your own home. You might get extra help if you are a carer, severely disabled, or responsible for a child or young person.</p>



<p class="govuk-body">If you get Pension Credit, you can also get help with:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>housing costs, such as service charges and ground rent</li>
  <li>the cost of NHS dental treatment, glasses and transport costs for hospital appointments</li>
  <li>Cold Weather Payments</li>
  </ul>

  <p class="govuk-body">If you get Pension Credit, you can also apply for:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li>Council Tax Reduction</li>
  <li>Housing Benefit if you rent the property you live in, or support with mortgage interest if you own it</li>
  <li>a free TV licence if you are over 75</li>

</ul>


<div class="govuk-inset-text">This guide is also available <a href="https://www.gov.uk/credyd-pensiwn">in Welsh (Cymraeg)</a>.</div>










        <div class="pagination">
            <a href="gov-uk-eligibility" class="gem-c-pagination__link" rel="next">
                <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                        viewBox="0 0 17 13">
                        <path fill="currentColor"
                            d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                    <span class="gem-c-pagination__link-text">
                        Next
                    </span>
                </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Eligibility</span>
            </a>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "citizen-version-2-4/mvp/gov-uk-side-menu.html" %}
    </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="gem-c-contextual-footer">

            <div class="gem-c-related-navigation">





                <nav role="navigation" class="gem-c-related-navigation__nav-section"
                    aria-labelledby="related-nav-topics-250e20b6" data-module="gem-toggle">

                    <h2 class="govuk-heading-s gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>

                    <ul class="gem-c-related-navigation__link-list" data-module="track-click">


                        <li class="gem-c-related-navigation__link"><a
                                class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"
                                data-track-category="relatedLinkClicked" href="../state_pension_browse">State
                                Pension</a></li>

                    </ul>
                </nav>

            </div>

        </div>


    </div>
</div>
{% endblock %}
