{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Bank account detials
    </h1>

    <dl class="govuk-summary-list govuk-summary-list--long">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of account
        </dt>
        <dd class="govuk-summary-list__value">
          Bank account
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="address-choice">
            Change
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name on account
        </dt>
        <dd class="govuk-summary-list__value">
          NW1 5RT
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="postcode-lookup">
            .
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          00-00-00
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="home-ownership">
            .
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          01020304
        </dd>

        <dd class="govuk-summary-list__actions">
          <a href="uk-account">
            .
          </a>
        </dd>
      </div>

<br>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <form action="task-list" method="post">
      <input type="hidden" name="bank-complete" value="true"/>
      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

  </div>
</div>
{% endblock %}
