{% extends "layout.html" %}

{% block pageTitle %}
  Have you lived outside of the UK in the last 2 years? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="lived-abroad-router" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "lived-abroad",
          name: "lived-abroad",
          fieldset: {
            legend: {
              text: "Have you lived outside the UK in the last 2 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
