{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Check your answers: Pension Credit application - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- PRINT SCREEN DETAILS -->


<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form method="post" action="/session-clear-route">
       <input type="hidden" name="session-clear-redirect-url" value="/g4s-0-6/mvp/landing">


      <h1 class="govuk-heading-xl">I'm going to pass you to a colleague in the Pension Centre who will help you apply</h1>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div>

  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Based on what we know, it is likely that your application for Pension Credit will be successful.</p>

  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">My colleague will ask you some more questions and take you through a full application.</p>

  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You might be on hold for up to three minutes. If we can't get you through, you'll be transferred back to me.</p>


</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-xm govuk-!-margin-bottom-3 govuk-!-margin-top-8">Applicant details</h2>

{% include "g4s-0-7/mvp/claim-details.html" %}


{{ govukButton({
text: "Finish and close",
classes: "govuk-button--warning dont-print govuk-!-margin-top-8"
}) }}

</form>
<div><div>

{% endblock %}
