{% extends "layout-g4s.html" %}

{% block pageTitle %}
Income - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="system-partner-check" method="post" class="form">

      {{ govukRadios({
        idPrefix: "income-separate-check",
        name: "income-separate-check",
        fieldset: {
          legend: {
            text: "@pete Is any of this income from earnings? ",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: "XXXX"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["income-separate-check"] == "Yes")
            },
          {
            value: "No",
            text: "No",
            checked: (data["income-separate-check"] == "No")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


  </div>
</div>
{% endblock %}
