{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}




{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-all-current-accounts-summary" method="post" class="form">
      <input type="hidden" name="money-you-have-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl">
        Current account details
      </h1>

      {% set count = (data["account-count"] or 0) | int %}

      <input type="hidden" name="account-count" value="{{ count + 1 }}"/>

<!--------------- NAME ----------------------------------------------------------------------------------------->


          {{ govukInput({
            label: {
              text: "Name of bank or building society"
            },
            id: "msic-all-current-account-name",
            name: "msic-all-current-account-name-" + count,
            classes: "govuk-input--width-20"
          }) }}


<!--------------- (1) EARLIEST ENTITLEMENT DATE (EED) // BALANCE ONLY  ----------------------------------------------------------------------------------------->

            {% set balanceEED %}
                  {{ govukInput({
                    label: {
                      html: "How much was in this account on <strong>" + data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] + "?</strong>"
                    },
                    id: "msic-all-current-account-amount-EED",
                    name: "msic-all-current-account-amount-EED-" + count,
                    classes: "govuk-input--width-20"
                  }) }}
            {% endset -%}

<!--------------- (1) EARLIEST ENTITLEMENT DATE (EED) // ENTER DATE AND BALANCE  ----------------------------------------------------------------------------------------->


            {% set balanceDateEED %}
            {{ govukDateInput({
              id: "msic-all-current-account-amount-EED-date-evidence",
              namePrefix: "msic-all-current-account-amount-EED-date-evidence-" + count,
              fieldset: {
                legend: {
                  html: "<strong>Date this figure is from</strong>"
                }
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: data["msic-all-current-account-amount-EED-date-evidence-day-" + count]
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: data["msic-all-current-account-amount-EED-date-evidence-month-" + count]
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: data["msic-all-current-account-amount-EED-date-evidence-year-" + count]
                }
              ]
            }) }}

            {{ govukInput({
              label: {
                html: "How much was in the account on this date?"
              },
              classes: "govuk-input--width-20",
              id: "msic-all-current-account-amount-EED",
              name: "msic-all-current-account-amount-EED-" + count
            }) }}
            {% endset -%}



<!--------------- (1) EARLIEST ENTITLEMENT DATE // CHECK ----------------------------------------------------------------------------------------->


                  {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "msic-all-current-account-amount-balanceEED-check",
                    name: "msic-all-current-account-amount-balanceEED-check-" + count,
                    fieldset: {
                      legend: {
                        html: "Do you know how much was in this account on <strong>" + data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] + "?</strong>"
                      }
                    },
                    hint: {
                      text: ""
                    },
                    items: [
                    {
                      value: "Yes",
                      text: "Yes",
                      checked: (data["msic-all-current-account-amount-balanceEED-check"] == "Yes"),
                      conditional: {
                        html: balanceEED
                      }
                    },
                      {
                        value: "No",
                        text: "No, I know how much was in the account on a different date",
                        checked: (data["msic-all-current-account-amount-balanceEED-check"] == "No"),
                        conditional: {
                          html: balanceDateEED
                        }
                      }
                    ]
                  }) }}


<!--------------- (2) TODAY // BALANCE ONLY ----------------------------------------------------------------------------------------->

                  {% set balanceToday %}

                    {{ govukInput({
                      label: {
                        html: "How much was in this account on <strong>" + '' | formatDate + "?</strong>"
                      },
                      classes: "govuk-input--width-20",
                      id: "msic-all-current-account-amount-TODAY",
                      name: "msic-all-current-account-amount-TODAY-" + count
                    }) }}

                  {% endset -%}

<!--------------- (2) TODAY // ENTER DATE AND BALANCE  ----------------------------------------------------------------------------------------->

                    {% set balanceDateToday %}

                      {{ govukDateInput({
                        id: "msic-all-current-account-amount-TODAY-date-evidence",
                        namePrefix: "msic-all-current-account-amount-TODAY-date-evidence-" + count,
                        fieldset: {
                          legend: {
                            html: "<strong>Date this figure is from</strong>"
                          }
                        },
                        items: [
                          {
                            name: "day",
                            classes: "govuk-input--width-2",
                            value: data["msic-all-current-account-amount-TODAY-date-evidence-day-" + count]
                          },
                          {
                            name: "month",
                            classes: "govuk-input--width-2",
                            value: data["msic-all-current-account-amount-TODAY-date-evidence-month-" + count]
                          },
                          {
                            name: "year",
                            classes: "govuk-input--width-4",
                            value: data["msic-all-current-account-amount-TODAY-date-evidence-year-" + count]
                          }
                        ]
                      }) }}

                      {{ govukInput({
                        label: {
                          html: "How much was in the account on this date?"
                        },
                        classes: "govuk-input--width-20",
                        id: "msic-all-current-account-amount-TODAY",
                        name: "msic-all-current-account-amount-TODAY-" + count
                      }) }}

                    {% endset -%}



<!--------------- (2) TODAY CHECK  ----------------------------------------------------------------------------------------->



                {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "msic-all-current-account-amount-balanceTODAY-check",
                  name: "msic-all-current-account-amount-balanceTODAY-check-" + count,
                  fieldset: {
                    legend: {
                      html: "Do you know how much was in this account on <strong>" + '' | formatDate + "?</strong>"
                    }
                  },
                  hint: {
                    text: ""
                  },
                  items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: (data["msic-all-current-account-amount-balanceTODAY-check"] == "Yes"),
                    conditional: {
                      html: balanceToday
                    }
                  },
                    {
                      value: "No",
                      text: "No, I know how much was in the account on a different date",
                      checked: (data["msic-all-current-account-amount-balanceTODAY-check"] == "No"),
                      conditional: {
                        html: balanceDateToday
                      }
                    }
                  ]
                }) }}





<!--------------- OTHER DETIALS ----------------------------------------------------------------------------------------->

      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Amount of money that is yours"
          },
          id: "msic-all-current-account-stake",
          name: "msic-all-current-account-stake-" + count,
          classes: "govuk-input--width-10"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "current-owner",
        name: "current-owner-" + count,
        fieldset: {
          legend: {
            text: "Account owner",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "You",
            text: "Only you"
          },
          {
            value: "Joint account",
            text: "Joint account",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}


<!--------------- CONTINUE ----------------------------------------------------------------------------------------->


<br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>

    </div>
    </div>
{% endblock %}
