{% extends "layout.html" %}

{% block pageTitle %}
  🗼 Admissions - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>
        {{ govukBackLink({
          href: "/sprint-2/monolith/index#benefits"
        }) }}
      </p>

      <form method="post" class="form">
        <h1 class="govuk-heading-xl">
          Add benefit
        </h1>

        {% set benefitRadios = [
          {
            value: "Carer’s Allowance",
            text: "Carer’s Allowance",
            checked: (benefit["benefit-type"] == "Carer’s Allowance")
          },
          {
            value: "Disability Living Allowance",
            text: "Disability Living Allowance",
            checked: (benefit["benefit-type"] == "Disability Living Allowance")
          },
          {
            value: "Industrial Injuries Disablement Benefit",
            text: "Industrial Injuries Disablement Benefit",
            checked: (benefit["benefit-type"] == "Industrial Injuries Disablement Benefit")
          },
          {
            value: "Personal Independence Payment",
            text: "Personal Independence Payment",
            checked: (benefit["benefit-type"] == "Personal Independence Payment")
          },
          {
            value: "Attendance Allowance",
            text: "Attendance Allowance",
            checked: (benefit["benefit-type"] == "Attendance Allowance")
          },
          {
            value: "Job Seeker’s Allowance",
            text: "Job Seeker’s Allowance",
            checked: (benefit["benefit-type"] == "Job Seeker’s Allowance")
          },
          {
            value: "War benefits",
            text: "War benefits",
            checked: (benefit["benefit-type"] == "War benefits")
          }
        ] | removeAlreadyPickedBenefits(data.benefits, benefit["benefit-type"]) %}

        {{ govukRadios({
          idPrefix: "benefits",
          name: "benefit-type",
          fieldset: {
            legend: {
              text: "Benefit type"
            }
          },
          items: benefitRadios
        }) }}

        {{ govukInput({
          label: {
            text: "Value"
          },
          id: "benefit-value",
          name: "benefit-value",
          classes: "govuk-input--width-20",
          value: benefit["benefit-value"]
        }) }}

        {{ govukRadios({
          idPrefix: "benefit-frequency",
          name: "benefit-frequency",
          fieldset: {
            legend: {
              text: "Payment frequency"
            }
          },
          items: [
            {
              value: "Every week",
              text: "Every week",
              checked: (benefit['benefit-frequency'] == "Every week")
            },
            {
              value: "Every two weeks",
              text: "Every two weeks",
              checked: (benefit['benefit-frequency'] == "Every two weeks")
            },
            {
              value: "Every four weeks",
              text: "Every four weeks",
              checked: (benefit['benefit-frequency'] == "Every four weeks")
            },
            {
              value: "Every month",
              text: "Every month",
              checked: (benefit['benefit-frequency'] == "Every month")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
