{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      Check your answers: Claim date
    </h1>


    <dl class="govuk-summary-list govuk-summary-list--long">

      {% if data['dob-day'] + ' ' + (data['dob-month'] | getMonth) + ' ' + data['dob-year'] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['dob-day'] + ' ' + (data['dob-month'] | getMonth) + ' ' + data['dob-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="home-ownership">
                  Change
                </a>
              </dd>
            </div>
            {% endif %}

                  <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Todays date
              </dt>
              <dd class="govuk-summary-list__value">
                Todays date
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="home-ownership">
                  Change
                </a>
              </dd>
            </div>

      {% if data["claim-date-idoc-yn"] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IDOC
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data["claim-date-idoc-yn"] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="home-ownership">
                  Change
                </a>
              </dd>
            </div>
            {% endif %}

            {% if data["alternate-date"] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Alternate date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data["alternate-date"] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="home-ownership">
                        Change
                      </a>
                    </dd>
                  </div>
                  {% endif %}


{% if data["claim-date-manual-eed-daf-yn"] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What is the earliest entitlement date?
        </dt>
        <dd class="govuk-summary-list__value">
          16 April 2019
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="home-ownership">
            Change
          </a>
        </dd>
      </div>
  {% endif %}

{% if data["claim-date-manual-eed-daf-yn"] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Happy to start on date discussed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["claim-date-manual-eed-daf-yn"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="home-ownership">
            Change
          </a>
        </dd>
      </div>
  {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date chosen
          </dt>
          <dd class="govuk-summary-list__value">
            Day / Month / Year
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="home-ownership">
              Change
            </a>
          </dd>
        </div>

    {% if data["claim-date-manual-eed-daf-reason"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for change
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["claim-date-manual-eed-daf-reason"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="home-ownership">
                Change
              </a>
            </dd>
          </div>
      {% endif %}



  {% if data["claim-date-manual-eed-daf-yn"] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Agreed date of claim
          </dt>
          <dd class="govuk-summary-list__value">
            Monday, 15 April 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="home-ownership">
              Change
            </a>
          </dd>
        </div>
    {% endif %}


  {% if data["claim-date-options-backdating-outside-yn"] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outside the UK in backdating period?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["claim-date-options-backdating-outside-yn"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="home-ownership">
              Change
            </a>
          </dd>
        </div>
    {% endif %}

    {% if data["claim-date-options-backdating-changes-yn"] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Changes in the backdating period?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["claim-date-options-backdating-changes-yn"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="home-ownership">
                Change
              </a>
            </dd>
          </div>
      {% endif %}


      <!-------------------------------------------------------->


      </dl>

<br><br>

    <form action="task-list" method="post">
      <input type="hidden" name="claim-date-complete" value="true"/>
      <p>
        {{ govukButton({
          text: "Continue"
        }) }}
      </p>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
