{% extends "layout.html" %}

{% block pageTitle %}
Do you own any property or land other than your home? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<form action="msic-second-property-yn-router" method="post" class="form">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
  <span class="govuk-caption-m"></span>

  {{ govukRadios({
    idPrefix: "msic-second-property-yn",
    name: "msic-second-property-yn",
    fieldset: {
      legend: {
        text: "Do you own any property or land other than your home?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
        },
        hint: {
          html: "<br><p class=\"hint\">
                    This means second properties and land in the UK or abroad.
                  </p><br>"
        },
    classes: "govuk-radios--inline",
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: (data["msic-second-property-yn"] == "yes")
      },
      {
        value: "no",
        text: "No",
        checked: (data["msic-second-property-yn"] == "no")
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </div></div><br><br>



    <!----Headline---->
  {% if data["account-count"] %}<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">{% endif %}


    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
      {% if data["msic-cash-lump-sum-detail"] %}
      <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-2">
                        <strong>Money: Lump sum </strong><a class="govuk-accordion__link" href="msic-cash-lump-sum">Add another</a>
                      </span>
                    </h2>
                  </div>

                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">


                    <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">

                      {{ govukSummaryList({
                        rows: [
                        {
                          classes: 'govuk-summary-list--no-border',
                          key: {
                            text: "Total"
                          },
                          value: {
                            text: data['msic-cash-lump-sum-detail']
                          },
                          actions: {
                            items: [
                              {
                                href: "msic-cash-lump-sum",
                                html: "Change",
                                visuallyHiddenText: "XXX"
                              },
                              {
                                href: "msic-remove",
                                html: "Remove",
                                visuallyHiddenText: "XXX"
                              }
                            ]
                          }
                        }
                        ]
                      }) }}

                    <br></div></div>

                      </div>
      </div>{% endif %}

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
      {% if data["msic-cash-other-abroad-detail"] %}
      <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-3">
                <strong>Money: held in this country or abroad </strong><a class="govuk-accordion__link" href="msic-cash-other-abroad">Add another</a>
              </span>
            </h2>
          </div>

          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">


            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

              {{ govukSummaryList({
                rows: [
                {
                  classes: 'govuk-summary-list--no-border',
                  key: {
                    text: "Total"
                  },
                  value: {
                    text: data['msic-cash-other-abroad-detail']
                  },
                  actions: {
                    items: [
                      {
                        href: "msic-cash-other-abroad",
                        html: "Change",
                        visuallyHiddenText: "XXX"
                      },
                      {
                        href: "msic-remove",
                        html: "Remove",
                        visuallyHiddenText: "XXX"
                      }
                    ]
                  }
                }
                ]
              }) }}

            <br></div></div>

              </div>
      </div>{% endif %}

    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
      {% if data["msic-cash-at-home-amount"] %}
      <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-4">
                <strong>Money: At home </strong><a class="govuk-accordion__link" href="msic-cash-at-home">Add another</a>
              </span>
            </h2>
          </div>

          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">


            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

              {{ govukSummaryList({
                rows: [
                {
                  classes: 'govuk-summary-list--no-border',
                  key: {
                    text: "Total"
                  },
                  value: {
                    text: data['msic-cash-at-home-amount']
                  },
                  actions: {
                    items: [
                      {
                        href: "msic-cash-at-home",
                        html: "Change",
                        visuallyHiddenText: "XXX"
                      },
                      {
                        href: "msic-remove",
                        html: "Remove",
                        visuallyHiddenText: "XXX"
                      }
                    ]
                  }
                }
                ]
              }) }}

            <br></div></div>

              </div>
      </div>{% endif %}

      <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        {% if data["msic-trust-account-name"] %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-5">
                  <strong>(#) Unit trusts </strong><a class="govuk-accordion__link" href="task-list">Add another</a>
                </span>
              </h2>
            </div>

            <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">


              <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">

                {{ govukSummaryList({
                  rows: [
                  {
                    key: {
                      text: "Company name"
                    },
                    value: {
                      text: data['msic-shares-account-name']
                    },
                    actions: {
                      items: [
                        {
                          href: "msic-shares-account",
                          html: "Change",
                          visuallyHiddenText: "XXX"
                        },
                        {
                          href: "msic-remove",
                          html: "Remove",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },

                  {
                    classes: 'govuk-summary-list--no-border',
                    key: {
                      text: "Total number shares held"
                    },
                    value: {
                      text: data['msic-shares-account-amount']
                    },
                    actions: {
                      items: [
                        {
                          href: "",
                          text: "",
                          visuallyHiddenText: "XXXX"
                        }
                      ]
                    }
                  }
                  ]
                }) }}

              <br></div></div>

                </div>
        </div>{% endif %}

        <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
          {% if data["msic-shares-account-name"] %}
          <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-6">
                    <strong>(#) Shares </strong><a class="govuk-accordion__link" href="msic-shares-account">Add another</a>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">


                <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                  {{ govukSummaryList({
                    rows: [
                    {
                      key: {
                        text: "Company name"
                      },
                      value: {
                        text: data['msic-shares-account-name']
                      },
                      actions: {
                        items: [
                          {
                            href: "msic-shares-account",
                            html: "Change",
                            visuallyHiddenText: "XXX"
                          },
                          {
                            href: "msic-remove",
                            html: "Remove",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },

                    {
                      classes: 'govuk-summary-list--no-border',
                      key: {
                        text: "Total number shares held"
                      },
                      value: {
                        text: data['msic-shares-account-amount']
                      },
                      actions: {
                        items: [
                          {
                            href: "",
                            text: "",
                            visuallyHiddenText: "XXXX"
                          }
                        ]
                      }
                    }
                    ]
                  }) }}

                <br></div></div>

                  </div>
          </div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["msic-capital-bond-company-name"] %}
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-7">
                    <strong>(#) Capital bonds </strong><a class="govuk-accordion__link" href="msic-capital-bond-account">Add another</a>
                  </span>
                </h2>
              </div>

              <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">


                <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                  {{ govukSummaryList({
                    rows: [
                    {
                      key: {
                        text: "Account with"
                      },
                      value: {
                        text: data['msic-capital-bond-company-name']
                      },
                      actions: {
                        items: [
                          {
                            href: "msic-capital-bond-account",
                            html: "Change",
                            visuallyHiddenText: "XXX"
                          },
                          {
                            href: "msic-remove",
                            html: "Remove",
                            visuallyHiddenText: "XXX"
                          }
                        ]
                      }
                    },

                    {
                      classes: 'govuk-summary-list--no-border',
                      key: {
                        text: "Value of capital bonds"
                      },
                      value: {
                        text: data['msic-capital-bond-account-total-bonds']
                      },
                      actions: {
                        items: [
                          {
                            href: "",
                            text: "",
                            visuallyHiddenText: "XXXX"
                          }
                        ]
                      }
                    }
                    ]
                  }) }}

                <br></div></div>

                  </div>
            </div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["msic-isa-savings-account-name"] %}
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-8">
            <strong>(#) ISAs </strong><a class="govuk-accordion__link" href="msic-isa-savings-account">Add another</a>
            </span>
            </h2>
            </div>

            <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">


            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

            {{ govukSummaryList({
            rows: [
            {
            key: {
              text: "Account with:"
            },
            value: {
              text: data['msic-isa-savings-account-name']
            },
            actions: {
              items: [
                {
                  href: "msic-isa-savings-account",
                  html: "Change",
                  visuallyHiddenText: "XXX"
                },
                {
                  href: "msic-remove",
                  html: "Remove",
                  visuallyHiddenText: "XXX"
                }
              ]
            }
            },

            {
            classes: 'govuk-summary-list--no-border',
            key: {
              text: "Total"
            },
            value: {
              text: data['msic-isa-savings-account-amount']
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "",
                  visuallyHiddenText: "XXX"
                }
              ]
            }
            }
            ]
            }) }}

            <br></div></div>

            </div>
            </div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["msic-premium-bond-account-total-bonds"] %}
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-9">
            <strong>(#) Premium Bonds </strong><a class="govuk-accordion__link" href="msic-premium-bond-account">Add another</a>
            </span>
            </h2>
            </div>

            <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">


            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

            {{ govukSummaryList({
            rows: [
            {
              classes: 'govuk-summary-list--no-border',
              key: {
                text: "Value of Premium Bonds"
              },
              value: {
                text: data['msic-premium-bond-account-total-bonds']
              },
              actions: {
                items: [
                  {
                    href: "msic-premium-bond-account",
                    html: "Change",
                    visuallyHiddenText: "XXX"
                  },
                  {
                    href: "msic-remove",
                    html: "Remove",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            }
            ]
            }) }}

            <br></div></div>

            </div>
            </div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["msic-post-office-card-account-amount"] %}
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-10">
            <strong>(#) Post Office accounts </strong><a class="govuk-accordion__link" href="msic-post-office-card-account">Add another</a>
            </span>
            </h2>
            </div>

            <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

            {{ govukSummaryList({
            rows: [
            {
            key: {
            text: "Total"
            },
            value: {
            text: data['msic-post-office-card-account-amount']
            },
            actions: {
            items: [
              {
                href: "msic-post-office-card-account",
                html: "Change",
                visuallyHiddenText: ""
              },
              {
                href: "msic-remove",
                html: "Remove",
                visuallyHiddenText: ""
              }
            ]
            }
            },

            {
            key: {
            text: "Account owner"
            },
            value: {
            text: data['msic-post-office-card-account-owner']
            },
            actions: {
            items: [
              {
                href: "",
                text: "",
                visuallyHiddenText: ""
              }
            ]
            }
            },

            {
            classes: 'govuk-summary-list--no-border',
            key: {
            text: "% stake in joint account"
            },
            value: {
            text: data['msic-post-office-card-account-stake']
            },
            actions: {
            items: [
              {
                href: "msic-post-office-card-account-stake",
                text: "",
                visuallyHiddenText: "XXXX"
              }
            ]
            }
            }
            ]
            }) }}

            <br></div></div>

            </div>
            </div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["msic-all-savings-account-name"] %}
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-11">
            <strong>(#) Savings accounts </strong><a class="govuk-accordion__link" href="task-list">Add another</a>
            </span>
            </h2>
            </div>
            <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

            {{ govukSummaryList({
            rows: [
            {
              key: {
                text: "Account with"
              },
              value: {
                text: data['msic-all-savings-account-name']
              },
              actions: {
                items: [
                  {
                    href: "msic-all-savings-account",
                    html: "Change",
                    visuallyHiddenText: "XXX"
                  },
                  {
                    href: "msic-remove",
                    html: "Remove",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },

            {
              key: {
                text: "Total"
              },
              value: {
                text: data['msic-all-savings-account-amount']
              },
              actions: {
                items: [
                  {
                    href: "",
                    text: "",
                    visuallyHiddenText: "XXX"
                  }
                ]
              }
            },
            {
            key: {
              text: "Account owner, %"
            },
            value: {
              text: data['msic-all-savings-account-owner']
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "",
                  visuallyHiddenText: "XXXX"
                }
              ]
            }
            },

            {
              classes: 'govuk-summary-list--no-border',
              key: {
                text: "Percent (%) state"
              },
              value: {
                text: data['msic-all-savings-account-stake']
              },
              actions: {
                items: [
                  {
                    href: "",
                    text: "",
                    visuallyHiddenText: "XXXX"
                  }
                ]
              }
            }
            ]
            }) }}

            <br></div></div>



            {% if data["msic-pc-payment"] == "An alternative account" %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">


            {{ govukSummaryList({
            rows: [

            {
            key: {
            text: "Pension Credit payment account"
            },
            value: {
            text: ""
            },
            actions: {
            items: [
              {
                href: "msic-pc-payment",
                text: "Change",
                visuallyHiddenText: "type of account"
              }
            ]
            }
            },

            {
            key: {
              text: "Name on account"
            },
            value: {
              text: data["name-on-account"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment-alternative-account",
                  text: "Change",
                  visuallyHiddenText: "name on account"
                }
              ]
            }
            },

            {
            key: {
              text: "Sort code"
            },
            value: {
              text: data["sort-code"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment-alternative-account",
                  text: "Change",
                  visuallyHiddenText: "sort code"
                }
              ]
            }
            },

            {
            key: {
              text: "Account number"
            },
            value: {
              text: data["Account number"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment-alternative-account",
                  text: "Change",
                  visuallyHiddenText: "account number"
                }
              ]
            }
            },

            {
            classes: 'govuk-summary-list--no-border',
            key: {
              text: "Balance of account"
            },
            value: {
              text: data["msic-pc-payment-alternative-account-balance"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment-alternative-account",
                  text: "Change",
                  visuallyHiddenText: "sort code"
                }
              ]
            }
            }
            ]
            }) }}
            {% endif %}

            <!------------------ Same as State Pension account------------------------->

            {% if data["msic-pc-payment"] == "Same account as State Pension" %}
            {{ govukSummaryList({
            rows: [

            {
            key: {
              text: "Same account as State Pension or alternate"
            },
            value: {
              text: data["msic-pc-payment"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment",
                  text: "Change",
                  visuallyHiddenText: "type of account"
                }
              ]
            }
            },

            {
            classes: 'govuk-summary-list--no-border',

            key: {
              text: "Balance of account"
            },
            value: {
              text: data["msic-pc-payment-alternative-account-balance"]
            },
            actions: {
              items: [
                {
                  href: "msic-pc-payment-state-pension-account",
                  text: "Change",
                  visuallyHiddenText: "sort code"
                }
              ]
            }
            }
            ]
            }) }}
            {% endif %}

            <br></div></div>

            </div></div>{% endif %}

          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            {% if data["account-count"] %}
            <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button pc-text-regualar" id="accordion-default-heading-12">
              <strong>(#) Current accounts </strong><a class="govuk-accordion__link" href="task-list">Add another</a>
            </span>
            </h2>
            </div>

            <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">

            {% set count = data["account-count"] or 0 %}
            {% for i in range(0, count) -%}

              <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
                {{ govukSummaryList({
                  rows: [
                  {
                    key: {
                      text: "Account with"
                    },
                    value: {
                      text: data['msic-all-current-account-name-' + i]
                    },
                    actions: {
                      items: [
                        {
                          href: "msic-all-current-account",
                          html: "Change",
                          visuallyHiddenText: "XXX"
                        },
                        {
                          href: "msic-remove",
                          html: "Remove",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },

                  {
                    key: {
                      text: "Total"
                    },
                    value: {
                      text: data['msic-all-current-account-amount-' + i] | formatMoney
                    },
                    actions: {
                      items: [
                        {
                          href: "",
                          text: "",
                          visuallyHiddenText: "XXX"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "Account owner"
                    },
                    value: {
                      text: data['current-owner-' + i]
                    },
                    actions: {
                      items: [
                        {
                          href: "msic-all-current-account",
                          text: "",
                          visuallyHiddenText: "XXXX"
                        }
                      ]
                    }
                  },
                  {
                    classes: 'govuk-summary-list--no-border',
                    key: {
                      text: "Stake in joint account"
                    },
                    value: {
                      text: data['msic-all-current-account-stake-' + i]
                    },
                    actions: {
                      items: [
                        {
                          href: "msic-all-current-account-stake",
                          text: "",
                          visuallyHiddenText: "XXXX"
                        }
                      ]
                    }
                  }
                  ]
                }) }}
              </div></div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            {%- endfor %}

            </div>
            </div>{% endif %}
          <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



      </div>


    <input type="hidden" name="money-complete" value="true"/>

  </form>

  <br><p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>



{% endblock %}
