{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-has-current-account-yn-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "msic-has-current-account-yn",
        name: "msic-has-current-account-yn",
        fieldset: {
          legend: {
            text: "Do you have any current accounts with a bank or building society?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
            },
            hint: {
              html: "<br><p class=\"hint\">
                      You might have pensions or other income paid into a current account, or use it for day-to-day spending.
                      </p><br>"
            },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["msic-has-current-account"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["msic-has-current-account"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
