{% extends "layout.html" %}

{% block pageTitle %}
  Habitual residency test - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="own-council-tax-yn" method="post" class="form">
      {{ govukRadios({
        idPrefix: "own-mortgage-home-loan-yes",
        name: "own-mortgage-home-loan-yes",
        fieldset: {
          legend: {
            text: "Do you want to apply for support with interest on a mortgage or loan secured against your home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
            },
            hint: {
              html: "<br><p class=\"hint\">
                This support is paid as a loan that you must repay when your home is sold or transferred. We will send you more information and an application form by post.</p>

                    "
            },

        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["own-mortgage-home-loan-yes"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["own-mortgage-home-loan-yes"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
{% endblock %}
