
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}

<!-- Start / Back section -->


   <main class="govuk-main-wrapper">
<!------------ ---- ------------>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">Pension credit case management</h1>
       </div>
     </div>
<!------------ End / X section ------------>

     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <p class="govuk-body-l">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received.</p>

<!------------ ---- ------------>
<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span> Work to be done
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="eligibility-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">x</strong>
      </li>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="read-declaration-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
    </ul>
  </li>
<!------------ Section ------------ ------------>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span> Claimants to be paid
    </h2>
    <ul class="app-task-list__items">
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="company-information-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">.</strong>
      </li>
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="company-information-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">.</strong>
      </li>
    </ul>
  </li>

<!------------ Section ------------ ------------>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span> ..
    </h2>
    <ul class="app-task-list__items">
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/claimant_index/cliamantIndex.html" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">X</strong>
      </li>
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="company-information-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">.</strong>
      </li>
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/claimant_index/cliamantIndex.html" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">X</strong>
      </li>
<!------------ ---- ------------>
    </ul>
  </li>

  <!------------ Section ------------ ------------>

  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">4. </span> ..
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/claimant_index/cliamantIndex.html" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/find_a_claimant/find_a_claimant.html" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/find_a_claimant/claimant_found.html" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/XXX" aria-describedby="contact-details-completed">
          ..
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>

    </ul>
  </li>

</ol>
          </div>




<!------------ End / Left column ------------>

<!------------ Start / Right column ------------>
       <div class="govuk-grid-column-one-third">
         <h3 class="govuk-heading-m">Links </h3>
         <p class="govuk-body">This is a paragraph inside a one-third wide column</p>

         

        {{ govukDetails({
          summaryText: "Notes",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}

        

        {{ govukDetails({
          summaryText: "Notes B",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}

        

        {{ govukDetails({
          summaryText: "Notes C",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}
<!------------ End / Right column ------------>
       </div>
     </div>

   </main>
 </div>

{% endblock %}
