{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="bau-exit-1-router">

        <span class="govuk-caption-m">[1]</span>


<!-- Abigail, if you want to have a standard security process, update it on this page and copy the line below "process-default-security"-->
          {% include "g4s-0-10/mvp/process-default-security.html" %}



          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "bau-exit-1",
            name: "bau-exit-1",
            fieldset: {
              legend: {
                text: "Did they pass security?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },

            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: data['bau-exit-1'] == "Yes"
              },
              {
                value: "No",
                text: "No",
                checked: data['bau-exit-1'] == "No"
              }
            ]
          }) }}



      {{ govukButton({
      text: "Continue",
      classes: "govuk-button dont-print"
      }) }}

  </form>
    </div>
  </div>

{% endblock %}
