{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="benefit-check" method="post" class="form">

      <!------------H1 LEGEND------------>
        {% set dynamicH1 %}
        {% if data["single-joint-check"] == "joint" %}  <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">Does anyone get Carer’s Allowance or the Carer’s Element of Universal Credit for looking after you or your partner?</h2>
        {% else %}<h2 class="govuk-heading-xl govuk-!-margin-bottom-2">Does anyone get Carer’s Allowance or the Carer’s Element of Universal Credit for looking after you?</h2>{% endif %}
        {% endset %}
      <!------------Legend--------------->

      {{ govukRadios({
        name: "benefit-UC-Carer",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["benefit-UC-Carer"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["benefit-UC-Carer"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
