{% extends "layout-assisted-digital-ur.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pension-foreign-check" method="post" class="form">

{% if data["user-full-name"] == "Admin" %}{% endif %}

      {{ govukRadios({
        name: "money-second-property-check",
        fieldset: {
          legend: {
            text: "Do you own any property or land other than your home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["money-second-property-check"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["money-second-property-check"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}


    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
