{% extends "layout.html" %}

{% block pageTitle %}
  About the child’s Disablity Living Allowance - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="household-summary" method="post" class="form">
      <h1 class="govuk-heading-xl">
        About the child’s Disablity Living Allowance
      </h1>

      {{ govukRadios({
        idPrefix: "child-dla-care",
        name: "child-dla-care",
        fieldset: {
          legend: {
            html: "<h2 class=\"govuk-heading-s govuk-!-margin-bottom-1\">Do they get the care component?</h2>"
          }
        },
        items: [
          {
            value: "Highest rate",
            text: "Highest rate",
            checked: (data["child-dla-care"] == "Highest rate")
          },
          {
            value: "Middle rate",
            text: "Middle rate",
            checked: (data["child-dla-care"] == "Middle rate")
          },
          {
            value: "Lowest rate",
            text: "Lowest rate",
            checked: (data["child-dla-care"] == "Lowest rate")
          },
          {
            value: "None",
            text: "None",
            checked: (data["child-dla-care"] == "None")
          }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "child-dla-mobility",
        name: "child-dla-mobility",
        fieldset: {
          legend: {
            html: "<h2 class=\"govuk-heading-s\ govuk-!-margin-bottom-1\">Do they get the mobility component?</h2>"
          }
        },
        items: [
          {
            value: "Higher rate",
            text: "Higher rate",
            checked: (data["child-dla-mobility"] == "Higher rate")
          },
          {
            value: "Lower rate",
            text: "Lower rate",
            checked: (data["child-dla-mobility"] == "Lower rate")
          },
          {
            value: "None",
            text: "None",
            checked: (data["child-dla-mobility"] == "None")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
