{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  claimant-name - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claim-filter" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>
  <!--    <div class="govuk-notification-banner" role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You need to tell us this so we can confirm your identity.
          </p>
        </div>
      </div> -->
            {% set legendH1 %}

            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              {% if data["state-pension-status"] == "Yes" %}  
                <h2 class="govuk-heading-l">
                  Which bank or building society is your State Pension paid into?
                </h2>
              {% else%}  
                <h2 class="govuk-heading-l">
                  Which bank or building society did you ask us to pay your State Pension into?
                </h2>

              {% endif %}
              {% endset %}
            <!------------Legend--------------->

            {% endset -%}





            {{ govukInput({
              label: {
                html: dynamicH1
              },

  hint: {
    text: "The name of the bank or building society, for example HSBC or Nationwide"
  },
              id: "state-pension-payment-account",
              name: "state-pension-payment-account",
              classes: "govuk-input--width-20 govuk-!-margin-bottom-0",
              value: data["state-pension-payment-account"]
            }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Why we need to know this          </span>
                  </summary>
        <div class="govuk-details__text">
          <p>For security, we need you to confirm the bank or building society that 
            {% if data["state-pension-status"] == "Yes" %} your State Pension is paid into.
            {% else %} you asked us to pay your State Pension into.
            {% endif %}
          </p>
          <p> We'll check your answer against our records. If your answer does not match, your application may be delayed.</p>
        </div>
      </details>


    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
