{% extends "layout.html" %}

{% block pageTitle %}
  Add bulding society current account - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-buildings-savings-accounts-summary" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Add building society savings account
      </h1>

      {{ govukInput({
        label: {
          text: "Name of building society"
        },
        id: "msic-buildings-savings-account-name",
        name: "msic-buildings-savings-account-name",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last 4 digits of the roll number"
        },
        id: "msic-buildings-savings-account-last-digits",
        name: "msic-buildings-savings-account-last-digits",
        classes: "govuk-input--width-4",
        attributes: {
          maxlength: 4
        }
      }) }}

            <br>
            <p class="govuk-body">Total amount in this account, from <strong>Today</strong></p>

          {{ govukInput({
        label: {
          text: ""
        },
        id: "msic-buildings-savings-account-amount",
        name: "msic-buildings-savings-account-amount",
        classes: "govuk-input--width-20"
      }) }}

      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Percentage stake"
          },
          id: "msic-buildings-savings-account-stake",
          name: "msic-buildings-savings-account-stake",
          classes: "govuk-input--width-5"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "msic-buildings-savings-account-owner",
        name: "msic-buildings-savings-account-owner",
        fieldset: {
          legend: {
            text: "Who does this account belong to?"
          }
        },
        items: [
          {
            value: "You",
            text: "You"
          },
          {
            value: "Joint account",
            text: "Joint account (excluding partner who lives with you)",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}


      {{ govukRadios({
        idPrefix: "msic-buildings-savings-account-read-from-statement",
        name: "msic-buildings-savings-account-read-from-statement",
        fieldset: {
          legend: {
            text: "Did you read these details from a statement?"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
