{% extends "layout.html" %}

{% block pageTitle %}
  Do you get housing benefit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="rent-housing-benefit-yn-router" method="post" class="form">

      {{ govukRadios({
        idPrefix: "rent-housing-benefit-yn",
        name: "rent-housing-benefit-yn",
        fieldset: {
          legend: {
            text: "Do you get Housing Benefit?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["rent-housing-benefit-yn"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["rent-housing-benefit-yn"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}


    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
