{% extends "layout.html" %}

{% block pageTitle %}
  Are you self employed? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="self-employed-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "self-employed",
        name: "self-employed",
        fieldset: {
          legend: {
            text: "Are you self employed?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["self-employed"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["self-employed"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
