{% extends "layout.html" %}

{% block pageTitle %}
  Are you ringing or applying on your own behalf? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name-and-nino" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "claiming-for",
          name: "claiming-for",
          fieldset: {
            legend: {
              text: "Which of these best describes your relationship with the claimant?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Visiting officer",
              text: "Visiting officer"
            },
            {
              value: "Power of attorney",
              text: "I have power of attorney to make decisions for the claimant"
            },
            {
              value: "Appointee",
              text: "I am an appointee of the claimant"
            },
            {
              value: "Charity",
              text: "I represent a charity that is helping the claimant"
            },
            {
              value: "Family member",
              text: "I am a family member of the claimant"
            },
            {
              value: "Friend",
              text: "I am a friend of the claimant"
            },
            {
              value: "Someone else",
              text: "Someone else / other"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
