{% extends "layout.html" %}

{% block pageTitle %}
  Are you ringing or applying on your own behalf? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name-and-nino" method="post">


        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Caller full name</h2>

        {{ govukInput({
          label: {
            text: "",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          },
          hint: {
            text: "Include any middle names."
          },
          id: "who-is-caller-name",
          name: "who-is-caller-name",
          classes: "govuk-input--width-20",
          value: data["who-is-caller-name"]
        }) }}

<br>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>
    </div>
  </div>
{% endblock %}
