{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <h1 class="govuk-heading-xl">
      Hospital admissions: Check your answers
    </h1>

    <dl class="govuk-summary-list govuk-summary-list--long">


                <dl class="govuk-summary-list govuk-summary-list--long">





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does ({{ data["full-name"] }}) receive any of the following benefits:
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["hospital-check-yn"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="hospital-check-yn">
              Change
            </a>
          </dd>
        </div>
                {% if data["hospital-yn"] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hospital YN
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data["hospital-yn"] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="hospital-yn">
                        Change
                      </a>
                    </dd>
                  </div>
                  {% endif %}

                                    {% if data["hospital-more-detail"] %}
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Details
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          {{ data["hospital-more-detail"] }}
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                          <a href="hospital-details">
                                            Change
                                          </a>
                                        </dd>
                                      </div>
                                      {% endif %}




<br></dl></dl><br><br>

    <form action="pensions-overview" method="post">
      <input type="hidden" name="hospitals-complete" value="true"/>

      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
