{% extends "layout.html" %}

{% block pageTitle %}
  Add bulding society current account - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-all-savings-accounts-summary" method="post" class="form">
      <input type="hidden" name="money-you-have-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl">
        Savings account details
      </h1>

      {{ govukInput({
        label: {
          text: "Name of bank or building society"
        },
        id: "msic-all-savings-account-name",
        name: "msic-all-savings-account-name",
        classes: "govuk-input--width-20"
      }) }}

<!--
      {{ govukInput({
        label: {
          text: "Last 4 digits of the account number or roll number"
        },
        id: "msic-all-savings-account-last-digits",
        name: "msic-all-savings-account-last-digits",
        classes: "govuk-input--width-4",
        attributes: {
          maxlength: 4
        }
      }) }}
-->
            <br>
            <p class="govuk-body">Amount in this account <strong>today</strong></p>

          {{ govukInput({
        label: {
          text: ""
        },
        id: "msic-all-savings-account-amount",
        name: "msic-all-savings-account-amount",
        classes: "govuk-input--width-20"
      }) }}

      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Amount of money that is yours"
          },
          id: "msic-all-savings-account-stake",
          name: "msic-all-savings-account-stake",
          classes: "govuk-input--width-10"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "msic-all-savings-account-owner",
        name: "msic-all-savings-account-owner",
        fieldset: {
          legend: {
            text: "Account owner",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "You",
            text: "Only you"
          },
          {
            value: "Joint account",
            text: "Joint account",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}

<!--
      {{ govukRadios({
        idPrefix: "msic-all-savings-account-read-from-statement",
        name: "msic-all-savings-account-read-from-statement",
        fieldset: {
          legend: {
            text: "Did you read these details from a statement?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}
-->
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
    </div>
{% endblock %}
