{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <form method="post" action="/session-clear-route">
        <input type="hidden" name="session-clear-redirect-url" value="/g4s-0-11/mvp/introduction"> -->
        <form method="post" action="wrap-up">

        <span class="govuk-caption-m">[6]</span>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Let me take a look to see how I can help you</h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">There might be more something here for you <br><a href="more-help"> More help</a></p>

        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Continue with the enquiry using standard working instructions</p> -->


      {{ govukButton({
      text: "Finish and close",
      classes: "govuk-button dont-print govuk-!-margin-top-6"
      }) }}

  </form>
    </div>
  </div>

{% endblock %}
