{% extends "layout-g4s.html" %}

{% block pageTitle %}
  claimant-national-insurance - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="handover-early" method="post" class="form">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Hand over NI to child ed</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">If they do or dont find an NI, this will be an early handover to the Child editon team either way</p>




      {{ govukButton({
        text: "Continue"
      }) }}


    </form>


  </div>
</div>
{% endblock %}
