{% extends "layout-g4s.html" %}


{% block pageTitle %}
  Do you live in the UK? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="children-check-yn" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">I'm just looking up some details of your partner's State Pension age</h1>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "partner-gender",
          name: "partner-gender",
          fieldset: {
            legend: {
              text: "Partner's sex",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "Female",
              text: "Female",
              checked: data['partner-gender'] == "Female"
            },
            {
              value: "Male",
              text: "Male",
              checked: data['partner-gender'] == "Male"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body"><a href="bau-savings-credit-exit">BAU: SPA was reached prior to 2016</a></p>


      </form>



        </div>
  </div>

{% endblock %}
