{% extends "layout-g4s.html" %}

{% block pageTitle %}
  claimant-national-insurance - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="state-pension-amount-check" method="post" class="form">

      <input type="hidden" name="hospitals-complete" value="true"/>


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        I'm just going to check your State Pension details
       </h1>



{% set statePensionAmount %}

{{ govukInput({
  id: "state-pension-amount",
  name: "state-pension-amount",
  label: {
    html: "What is the weekly State Pension amount?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: "Enter an amount in pounds and pence, for example 150.00"
  },
  prefix: {
    text: "£"
  },
  value: data["state-pension-amount"],
  classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
  spellcheck: false
}) }}


{% endset %}


      {{ govukRadios({
        idPrefix: "state-pension-amount-check",
        name: "state-pension-amount-check",
        fieldset: {
          legend: {
            html: "Is there a State Pension amount shown in Searchlight?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["state-pension-amount-check"] == "Yes"),
            conditional: {
              html: statePensionAmount
            }
          },
          {
            value: "No",
            text: "No",
            checked: (data["state-pension-amount-check"] == "No")
          }
        ]
      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

<!-- <p class="govuk-body govuk-!-padding-bottom-2"><a href="handover-early-sp">No State Pension shown in SearchLight</a></p> -->

  </div>
</div>
{% endblock %}
