{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="system-children-mac-check-router" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>

      <div class="govuk-panel--agent">

      {{ govukRadios({
        idPrefix: "system-children-mac-check",
        name: "system-children-mac-check",
        fieldset: {
          legend: {
            text: "System: claim type [Partners only]",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This is looking to see if they are a MAC, then if it is a mac we look to see if its a Child edition hand off or OPS handover."
        },
        classes: "govuk-radios",
        items: [
        {
          value: "single-claim",
          text: "Single with CTR / None MAC with CTR",
          checked: (data["system-partner-check"] == "yes-ctr")
                  },
        {
          value: "single-claim",
          text: "Single claim without children",
          checked: (data["system-partner-check"] == "single-claim")
                  },
        {
            value: "children-mac",
            text: "Single / MAC and have children",
            checked: (data["system-partner-check"] == "children-mac")
                    },
          {
            value: "mac",
            text: "MAC only",
            checked: (data["system-partner-check"] == "mac")
          },
          {
            value: "too-young",
            text: "Both too young",
            checked: (data["system-partner-check"] == "too-young")
          }
        ]
      }) }}


</div>




      <!--text: "Have you spent any time in hospital since " + (data['back-dating-date'] | formatDate),--->


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
