{% extends "layout-g4s.html" %}


{% block pageTitle %}
  Do you live in the UK? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="wrap-up-router" method="post">

        <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"></h1> -->

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "wrap-up",
          name: "wrap-up",
          fieldset: {
            legend: {
              text: "Is there anything else I can help you with today?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data['wrap-up'] == "Yes"
            },
            {
              value: "No",
              text: "No",
              checked: data['wrap-up'] == "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>



        </div>
  </div>

{% endblock %}
