{% extends "layout-nav.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="query-phone-log" method="post" class="form">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">{{ data ["query-search-nino"]}}</p>



          {% include "agent-service-1-2/agent/navigation-4.html" %}

          <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
            <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-6">Overview</h3>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
                    <li><a href="case-timeline">Review</a></li>
                    <li><a href="customer-history">Challenge automated processing</a></li>
                    <li><a href="customer-history">Request MR</a></li>
                    <li><a href="customer-history">Update contact details</a></li>
                  </ul>
                </div>

                <div class="govuk-grid-column-two-third">
                  <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
                    <li>None</li>
                    <li>None</li>
                    <li>None</li>
                    <li>None</li>
                    <li>Last updated 28 March 2022</li>
                    <li></li>
                  </ul>
                </div>
              </div>

          </div>

          </div>




    </div>
  </div>



    </form>
{% endblock %}
