{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-user-0" method="post" class="form">
      {% include "agent-service-1-11/agent/qd-name-nino.html" %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Claim summary</h1>


            {% if data['qd-search-nino'] === 'ZZ439386A' %}

            {{ govukTable({
              caption: "",
              classes: "govuk-!-margin-bottom-2",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                  {
                    text: "Date claim submitted",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "2 January 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Backdating period start date",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "2 October 2021",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                  {
                    text: "Date processed",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "2 January 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Entitlement status",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "Not entitled",
                  classes: 'govuk-table--no-border'
                }
                ]
              ]
            }) }}


            {% elif data['qd-search-nino'] === 'EO972577A' %}

            {{ govukTable({
              caption: "",
              classes: "govuk-!-margin-bottom-2",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                  {
                    text: "Date claim submitted",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "10 June 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Backdating period start date",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "None",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                  {
                    text: "Date processed",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "10 June 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Entitlement status",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "Not entitled",
                  classes: 'govuk-table--no-border'
                }
                ]
              ]
            }) }}



              {% elif data['qd-search-nino'] === 'AB987654C' %}

              {{ govukTable({
                caption: "",
                classes: "govuk-!-margin-bottom-2",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Date claim sumbitted",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "16 April 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Backdating period start date",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "16 February 2022",
                    classes: 'govuk-table--no-border'
                  }
                  ],
                  [
                    {
                      text: "Date processed",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "16 April 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Entitlement status",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "Not entitled",
                    classes: 'govuk-table--no-border'
                  }
                  ]
                ]
              }) }}


              {% elif data['qd-search-nino'] === 'BB668734F' %}

              {{ govukTable({
                caption: "",
                classes: "govuk-!-margin-bottom-2",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Date claim submitted",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "1 May 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Backdating period start date",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "1 February 2022",
                    classes: 'govuk-table--no-border'
                  }
                  ],
                  [
                    {
                      text: "Date processed",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "1 May 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Entitlement status",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "Not entitled",
                    classes: 'govuk-table--no-border'
                  }
                  ]
                ]
              }) }}


              {% elif data['qd-search-nino'] === 'QQ457741A' %}

              {{ govukTable({
                caption: "",
                classes: "govuk-!-margin-bottom-2",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Date claim submitted",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "11 April 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Backdating period start date",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "11 January 2022",
                    classes: 'govuk-table--no-border'
                  }
                  ],
                  [
                    {
                      text: "Date processed",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "11 April 2022",
                      classes: 'govuk-table--no-border'
                    }
                  ],
                  [
                  {
                    text: "Entitlement status",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "Not entitled",
                    classes: 'govuk-table--no-border'
                  }
                  ]
                ]
              }) }}


              {% else %}

                {{ govukTable({
                  caption: "",
                  classes: "govuk-!-margin-bottom-2",
                  captionClasses: "govuk-table__caption--m",
                  firstCellIsHeader: true,
                  head: [
                    {
                      text: "",
                      classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                    },
                    {
                      text: "",
                      classes: 'govuk-!-width-one-half govuk-table--no-border'
                    }
                  ],
                  rows: [
                    [
                      {
                        text: "Date claim submitted",
                        classes: 'govuk-table--no-border'

                      },
                      {
                        text: "28 February 2022",
                        classes: 'govuk-table--no-border'
                      }
                    ],
                    [
                    {
                      text: "Backdating period start date",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "28 November 2021",
                      classes: 'govuk-table--no-border'
                    }
                    ],
                    [
                      {
                        text: "Date processed",
                        classes: 'govuk-table--no-border'

                      },
                      {
                        text: "28 February 2022",
                        classes: 'govuk-table--no-border'
                      }
                    ],
                    [
                    {
                      text: "Entitlement status",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "Not entitled",
                      classes: 'govuk-table--no-border'
                    }
                    ]
                  ]
                }) }}

              {% endif %}



              <p><a href="qd-claim-notes" class="govuk-link">View claim notes</a></p>




            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-8">
            <h2 class="govuk-heading-xl govuk-!-margin-bottom-7">Information the claimant might ask you to check</h2>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Qualifying benefit and State Pension details you can check in Searchlight</h3>




            {% if data['qd-search-nino'] === 'ZZ439386T' %}

            {{ govukTable({
              caption: "",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                  {
                    text: "Qualifying benefits",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "No",
                    classes: 'govuk-table--no-border'
                  }
                  ],
                  [
                  {
                    text: "Weekly State Pension amount",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "£198",
                    classes: 'govuk-table--no-border'
                  }
                ]
              ]
            }) }}

            {% elif data['qd-search-nino'] === 'EO972577M' %}

            {{ govukTable({
              caption: "",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                  {
                    text: "Qualifying benefits",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "No",
                    classes: 'govuk-table--no-border'
                  }
                  ],
                  [
                  {
                    text: "Weekly State Pension amount",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "£198",
                    classes: 'govuk-table--no-border'
                  }
                ]
              ]
            }) }}



            {% elif data['qd-search-nino'] === 'AB987654C' %}

              {{ govukTable({
                caption: "",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Qualifying benefits",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "No",
                      classes: 'govuk-table--no-border'
                    }
                    ],
                    [
                    {
                      text: "Weekly State Pension amount",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "£191",
                      classes: 'govuk-table--no-border'
                    }
                  ]
                ]
              }) }}


            {% elif data['qd-search-nino'] === 'BB668734F' %}

              {{ govukTable({
                caption: "",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Qualifying benefits",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "No",
                      classes: 'govuk-table--no-border'
                    }
                    ],
                    [
                    {
                      text: "Weekly State Pension amount",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "£183",
                      classes: 'govuk-table--no-border'
                    }
                  ]
                ]
              }) }}


            {% elif data['qd-search-nino'] === 'QQ457741A' %}

              {{ govukTable({
                caption: "",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Qualifying benefits",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "No",
                      classes: 'govuk-table--no-border'
                    }
                    ],
                    [
                    {
                      text: "Weekly State Pension amount",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "£185",
                      classes: 'govuk-table--no-border'
                    }
                  ]
                ]
              }) }}


            {% else %}

              {{ govukTable({
                caption: "",
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-half govuk-table--no-border'
                  }
                ],
                rows: [
                  [
                    {
                      text: "Qualifying benefits",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "No",
                      classes: 'govuk-table--no-border'
                    }
                    ],
                    [
                    {
                      text: "Weekly State Pension amount",
                      classes: 'govuk-table--no-border'

                    },
                    {
                      text: "£188",
                      classes: 'govuk-table--no-border'
                    }
                  ]
                ]
              }) }}

            {% endif %}



            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Details you can check with the claimant</h3>

            {{ govukTable({
              caption: "",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                {
                  text: "Living with partner",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "No",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                {
                  text: "Ground rent",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "None",
                  classes: 'govuk-table--no-border govuk-!-padding-bottom-0'
                }
                ],
                [
                {
                  text: "Service charges",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "None",
                  classes: 'govuk-table--no-border govuk-!-padding-bottom-0'
                }
                ]
              ]
            }) }}

            <p class="govuk-body govuk-!-margin-bottom-2"><a href="/agent-service-1-10/agent/jennifer-claim.pdf" target="_blank">View full application (PDF)</a></p>




            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Other help</h2>
            <p> <a href="qd-help-summary" class="govuk-link govuk-!-margin-bottom-4">Find out what other help is available</a></p>

            <!--
            {{ govukRadios({
              classes: "",
              idPrefix: "summary-help",
              name: "summary-help",
              fieldset: {
                legend: {
                  text: "Would you like to know aout other help you could get?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  checked: (data["summary-help"] == "yes")
                },
                {
                  value: "no",
                  text: "No",
                  checked: (data["summary-help"] == "no")
                }
              ]
            }) }}  -->

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">

            {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set notesHtml %}
{{ govukTextarea({
  name: "summary-notes",
  id: "summary-notes",
  rows: 4,
  label: {
    text: "Notes about the claim",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: ""
  }
}) }}
{% endset -%}

<!--
-->

{{ govukRadios({
  idPrefix: "notes",
  name: "notes",
  fieldset: {
    legend: {
      text: "Do you need to leave notes about the claim?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, the call reason, any action you took and any other relevant information."
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: notesHtml
      }
    },
    {
      value: "No",
      text: "No",
      conditional: {
        html: phoneHtml
      }
    }
  ]
}) }}


          {% if data['qd-start'] === 'admin' %}

          <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and finish"
          }) }}
          <a class="govuk-link" href="qd-start">Take a claimant through security</a>
          </div>

          {% else %}

          {{ govukButton({
            text: "Save and finish"
          }) }}

          {% endif %}


        </div>

      </div>


    </form>
  </div>
</div>


{% endblock %}
