{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-has-current-or-savings-yn-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "msic-has-current-or-savings-yn",
        name: "msic-has-current-or-savings-yn",
        fieldset: {
          legend: {
            text: "Do you have any current or savings accounts with a bank, building society or the Post Office?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["msic-has-bank-current-account-yn"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["msic-has-bank-current-account-yn"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
