{% extends "layout.html" %}

{% block pageTitle %}
  Add bank current account - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-post-office-accounts-summary" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Adding a Post Office card account
      </h1>

            <br>
            <p class="govuk-body">Total amount in this account, from <strong>Today</strong></p>

          {{ govukInput({
        label: {
          text: ""
        },
        id: "msic-post-office-card-account-amount",
        name: "msic-post-office-card-account-amount",
        classes: "govuk-input--width-20"
      }) }}


      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Percentage stake"
          },
          id: "msic-post-office-card-account-stake",
          name: "msic-post-office-card-account-stake",
          classes: "govuk-input--width-5"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "msic-post-office-card-account-owner",
        name: "msic-post-office-card-account-owner",
        fieldset: {
          legend: {
            text: "Who does this account belong to?"
          }
        },
        items: [
          {
            value: "You",
            text: "You"
          },
          {
            value: "Joint account",
            text: "Joint account (excluding partner who lives with you)",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
