{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set today = '' | formatDate %}


{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-all-current-accounts-summary" method="post" class="form">
      <input type="hidden" name="money-you-have-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Current account details
      </h1>

      {% set count = (data["account-count"] or 0) | int %}

      <input type="hidden" name="account-count" value="{{ count + 1 }}"/>

<!--------------- NAME ----------------------------------------------------------------------------------------->


          {{ govukInput({
            label: {
              text: "Name of bank or building society"
            },
            id: "msic-all-current-account-name",
            name: "msic-all-current-account-name-" + count,
            classes: "govuk-input--width-20"
          }) }}



<!--------------- DATE ONE (CLAIM START) ----------------------------------------------------------------------------------------->
          <p class="govuk-body govuk-!-font-weight-bold">
            If this account is shared with someone else, only tell<br>us about the amount of money that is yours.
          </p>

          {% if data["claim-filter"] == "Backdating" %}

                {{ govukInput({
                  label: {
                    html: "How much money did you have in this account on <strong>" + data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year'] + "</strong>?"
                  },
                  id: "msic-all-current-account-amount-EED",
                  name: "msic-all-current-account-amount-EED-" + count,
                  classes: "govuk-input--width-20"
                }) }}
              {% endif %}

<!--------------- DATE TWO (TODAY FOR BACKDATING) ----------------------------------------------------------------------------------------->

            {% if data["claim-filter"] == "Advanced or Today" or data["claim-filter"] == "Backdating" %}

                {{ govukInput({
                  label: {
                    html: "How much money do you have in this account <strong>today</strong>?"
                  },
                  id: "msic-all-current-account-amount-TODAY",
                  name: "msic-all-current-account-amount-TODAY-" + count,
                  classes: "govuk-input--width-20"
                }) }}

                {% endif %}


<!--------------- CONTINUE ----------------------------------------------------------------------------------------->


<br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>

    </div>
    </div>
{% endblock %}
