{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Are you sure you want to leave the service? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/index" method="post" class="form">

    <div class="govuk-panel--agent">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Adviser: Are you sure you want to leave the service?</h1>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">You can <a href=eject-pension-credit-summary>save the claim and exit</a> with all the information you have collected.</p>


    </div>
    {{ govukButton({
      text: "Close without saving",
      classes: "govuk-button--warning govuk-!-margin-top-6 govuk-!-margin-bottom-1 "
    }) }}

    </form>
  </div>
</div>
{% endblock %}
