{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Do you pay any service charges? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="own-mortgage-home-loan-yes" method="post" class="form">

      <h1 class="govuk-heading-xl">
        Property charges
      </h1>

      <!------------HEADLINE------------>
        {% set legend %}
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0"><strong>Service charges can include:</strong></p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">warden services</p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">caretaker services like gardening, maintenance and cleaning of communal areas</p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">use of a laundry room</p>
        <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-0">use of communal areas like a lounge or TV area</p>

        {% endset %}
      <!------------HEADLINE------------>

      {{ govukRadios({
        idPrefix: "own-service-charges",
        name: "own-service-charges",
        fieldset: {
          legend: {
            text: "Do you pay any service charges?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legend
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["own-service-charges"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["own-service-charges"] == "No")
          }
        ]
      }) }}



      {{ govukRadios({
        idPrefix: "own-ground-rent",
        name: "own-ground-rent",
        fieldset: {
          legend: {
            text: "Do you pay ground rent?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You might pay ground rent if you are the leaseholder of your home."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["own-ground-rent"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["own-ground-rent"] == "No")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
