{% extends "layout.html" %}

{% block pageTitle %}
Pension Credit / Beta index
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">December 2021 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Agent service</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: Nov deployment</strong> <br>Links to user research undertaken within each iteration. <br>Iterations list changes made from one version to another.</p>
          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="https://dwpdigital.atlassian.net/wiki/spaces/MYPC/pages/89220463853/Pension+Credit+design+development">Service map archive [Confluence]</a>

        </div>
      </div> <!--GRID ROW END-->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.16</h2>
          <p class="govuk-body">Task<br>[Amy]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

           <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-16/agent/process-c-nil-task-list">Start prototype</a><br>
           
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">-</strong><br>

            <p><a class="govuk-body" href="/agent-service-1-16/agent/start">Quick start for upcoming UR</a></p>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details" open>
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li><strong>Addition of 4. Check Pension information to the tasklist</strong><br>Tesco is scenario 1<br>Morrisons is scenario 2<br>Sainsburys is scenario 3</li>
                    <li>Task 3. Verify data used, removed subtasks 'most recent state pension awards' and 'state pension awards in the backdating period'.</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-16/agent/process-c-nil-task-4-2-1" aria-describedby="contact-details-completed">Tesco - scenario 1</a><br></li>
                    <li><a href="/agent-service-1-16/agent/process-c-nil-task-4-3-1" aria-describedby="contact-details-completed">Morrisons - scenario 2</a><br></li>
                    <li><a href="/agent-service-1-16/agent/process-c-nil-task-4-4-1" aria-describedby="contact-details-completed">Sainsburys - scenario 3</a><br></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.14</h2>
          <p class="govuk-body">Task<br>[Louise]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

           <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-14/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">-</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details" open>
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>Copied from v1.9
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li><strong>Process an application</strong><br>Added: Replaced 'Process an application - not entitled' with 'Get next task'</li>
                    <li><strong>CIS500</strong><br>Added: Seperate task to update a claimant's mismatched telehpone number.</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-14/agent/ur-home" aria-describedby="contact-details-completed">Get next task</a><br>(Process an application or update a telephone number via CIS500)</li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.15</h2>
          <p class="govuk-body">Task<br>[Louise]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

           <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-15/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">-</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details" open>
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li><strong>Process an application</strong><br>Reinstated 'Process a claim - not entitled'<br>Added correspondence address to task list and reordered task sections</li>
                    <li><strong>Northern Ireland stats</strong><br>Created a screen that displays service stats for both GB and NI claims</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-15/agent/ur-home" aria-describedby="contact-details-completed">Process an application - not entitled</a><br></li>
                    <li><a href="/agent-service-1-15/agent/stats-gb-ni/stats-overview-gb" aria-describedby="contact-details-completed">NI Service statistics</a><br></li>
                    <li><a href="/agent-service-1-15/agent/stats-gb-ni/new-nav/stats-overview-gb" aria-describedby="contact-details-completed">NI Service statistics (experimental version)</a><br></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.14</h2>
          <p class="govuk-body">Task<br>[Louise]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

           <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-14/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">-</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details" open>
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>Copied from v1.9
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li><strong>Process an application</strong><br>Added: Replaced 'Process an application - not entitled' with 'Get next task'</li>
                    <li><strong>CIS500</strong><br>Added: Seperate task to update a claimant's mismatched telehpone number.</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-14/agent/ur-home" aria-describedby="contact-details-completed">Get next task</a><br>(Process an application or update a telephone number via CIS500)</li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m">1.13</h2>
        <p class="govuk-body">Enquires<br>[Mark W]</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

         <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-13/agent/home-user-0">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">C2: X/X/2022 / AT: 7/11/2022</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong>XXXX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li><strong>Cohort 2</strong><br>Added: New processing</li>
                  <li><strong>Stats</strong><br>Added: Final content tweaks before Day one absorbed from last round of UR</li>
                  <li>Added: Section four, OCC pensions and backdating tests</li>
                  <li><strong>Assistive tech</strong><br>Update: Assistive tech from for day one service: testing 19 August 2022</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li><a href="/agent-service-1-13/agent/-ur-home" aria-describedby="contact-details-completed">MyHomePage</a></li>
                  <!------------ ---- ------------>
                  <li><a href="/agent-service-1-13/agent/process-nil-task-list-s4" aria-describedby="contact-details-completed">Cohort 2: Section 4</a></li>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h2 class="govuk-heading-m">1.12</h2>
              <p class="govuk-body">Task / Stats lead<br>[Mark]</p>
            </div>

            <div class="govuk-grid-column-three-quarters">

              <ul class="app-task-list__items pc-index">

                <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-12/agent/ur-home">Start prototype</a>
                <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">C2: X/X/2022 / AT: 23/8/2022</strong><br><br>
                <li class="app-task-list__item app-task-list-pc">

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Version notes and shortcuts
                </span>
              </summary>

              <br><strong>Introduction: </strong>XXXX
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                  <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li><strong>Cohort 2</strong><br>Added: New processing</li>
                        <li><strong>Stats</strong><br>Added: Final content tweaks before Day one absorbed from last round of UR</li>
                        <li>Added: Section four, OCC pensions and backdating tests</li>
                        <li><strong>Assistive tech</strong><br>Update: Assistive tech from for day one service: testing 19 August 2022</li>
                      </ul>

                  <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                      <ul class="govuk-list govuk-!-margin-bottom-6">
                        <!------------ ---- ------------>
                        <li><a href="/agent-service-1-12/agent/-ur-home" aria-describedby="contact-details-completed">MyHomePage</a></li>
                        <!------------ ---- ------------>
                        <li><a href="/agent-service-1-12/agent/process-nil-task-list-s4" aria-describedby="contact-details-completed">Cohort 2: Section 4</a></li>
                        <!------------ ---- ------------>
                      </ul>

            </div> <!--DETAILS END-->
          </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.11</h2>
          <p class="govuk-body">Query lead<br>[Esteban]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-11/agent/home-user-0">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.10</h2>
          <p class="govuk-body">Query lead<br>[Esteban]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-10/agent/home-user-0">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 7/7/2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.9</h2>
          <p class="govuk-body">Task / Stats lead<br>[Mark]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-9/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 14/7/2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Update: Updated content for Stats prep for round three of testing</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-3/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-m">1.8</h2>
                <p class="govuk-body">Query lead<br>[Esteban]</p>
              </div>

              <div class="govuk-grid-column-three-quarters">

                <ul class="app-task-list__items pc-index">

                  <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-8/agent/home-user-0">Start prototype</a>
                  <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 27/06/2022</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and shortcuts
                  </span>
                </summary>

                <br><strong>Introduction: </strong>XXXX
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                        <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Update: XXX</li>
                        </ul>

                    <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                        <ul class="govuk-list govuk-!-margin-bottom-6">
                          <!------------ ---- ------------>
                          <li><a href="/agent-service-1-8/agent/XXX" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                          <li><a href="/agent-service-1-8/agent/XXX" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                        </ul>

              </div> <!--DETAILS END-->
            </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-m">1.7</h2>
                <p class="govuk-body">Query lead<br>[Esteban]</p>
              </div>

              <div class="govuk-grid-column-three-quarters">

                <ul class="app-task-list__items pc-index">

                  <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-7/agent/home-user-0">Start prototype</a>
                  <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 16/6/2022</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and shortcuts
                  </span>
                </summary>

                <br><strong>Introduction: </strong>XXXX
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                        <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Update: XXX</li>
                        </ul>

                    <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                        <ul class="govuk-list govuk-!-margin-bottom-6">
                          <!------------ ---- ------------>
                          <li><a href="/agent-service-1-3/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                          <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                        </ul>

              </div> <!--DETAILS END-->
            </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.6</h2>
          <p class="govuk-body">Task / Stats lead<br>[Mark]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-6/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 24/06/2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Day one task service: Use for build</li>
                    <li>Update: Stats round two, updated from previous round</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-3/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-m">1.5</h2>
                <p class="govuk-body">Query lead<br>[Esteban]</p>
              </div>

              <div class="govuk-grid-column-three-quarters">

                <ul class="app-task-list__items pc-index">

                  <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-5/agent/home-user-0">Start prototype</a>
                  <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 4/6/2022</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and shortcuts
                  </span>
                </summary>

                <br><strong>Introduction: </strong>XXXX
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                        <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Added: XXX</li>
                          <li>Update: XXX</li>
                        </ul>

                    <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                        <ul class="govuk-list govuk-!-margin-bottom-6">
                          <!------------ ---- ------------>
                          <li><a href="/agent-service-1-3/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                          <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                          <!------------ ---- ------------>
                        </ul>

              </div> <!--DETAILS END-->
            </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.4</h2>
          <p class="govuk-body">Processing lead<br>[Mark]</p>

        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-4/agent/ur-home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 20.05.2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Update: Stats round two, updated from previous round</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-4/agent/ur-home" aria-describedby="contact-details-completed">Home</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-4/agent/system-ur-process-ab" aria-describedby="contact-details-completed">Content A/B</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.3</h2>
          <p class="govuk-body">Query lead<br>[Esteban]</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-3/agent/home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested 11.04.2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Update: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-3/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.2</h2>
          <p class="govuk-body">Pre splits</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-2/agent/home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested 01.04.2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & what we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Update: VariousContent</li>
                    <li>Update: ABC testing, options for CTA</li>
                    <li>Added: Seperate question for IDOC and AfPC applicaiton</li>
                    <li>Removed: Various questions that could not be checked against another data source</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-2/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1-1/agent/home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested 22.02.2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: New agent process for checking nil awards, processing and either matching or unmatched</li>
                    <li>Added: Nil award stats first attempt</li>
                    <li>Added: MyCases, how to restart cases that have been stated, but not comepleted.</li>
                    <li>Update: Navigation and home page.</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1-1/agent/home" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">1.0</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/agent-service-1/agent/home">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested 24.01.2022</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Access</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Accessibility testing for home and initial approach to naigation</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/agent-service-1/agent/ur-home" aria-describedby="contact-details-completed">Home and initial approach to naigation</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Template</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/XXX">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">Testing 00.00.00</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
