{% extends "layout.html" %}

{% block pageTitle %}
Pension Credit / Beta index
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">April 2020 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Adviser: PC WorkList</h1>
          <p class="govuk-body-l"><strong>Current status: Live</strong> <br>Links to user research undertaken within each iteration. <br>Iterations list changes made from one version to another.
        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.6</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-6/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-6/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-6/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>


        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.5</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-5/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: V3</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-5/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-5/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.4</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-4/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Using Claim ID and Agent comments on list</li>
                    <li>Added: API checker for PC already in payment</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-4/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-4/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.3</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-3/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Live Proving done</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Using Name and NI in List</li>
                    <li>Added: API checker for nil award</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-3/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-3/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.2</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-2/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: UC checker / Flag</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-2/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-2/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-2-1/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Process a claim</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-1/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-2-1/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">WorkList 2.0</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="agent-worklist-v2/worklist/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: MI / Total claims: To download, Downloaded, Oldest to download</li>
                    <li>Added: MI / Received: Today, Yesterday</li>
                    <li>Added: MI / Downloaded: Today, Yesterday</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-v2/worklist/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="agent-worklist-v2/worklist/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Work list V1.2 (UR)</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1/work-list-1-2-UR/case-load">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">27.04.2020</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2-UR/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2-UR/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Work list V1.2</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1/work-list-1-2/login">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">27.04.2020</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2/case-selected" aria-describedby="contact-details-completed">Case selected</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-2/logout" aria-describedby="contact-details-completed">Logged out</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Work list V1.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1/work-list-1-1/login">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-1/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-1/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-1/case-selected" aria-describedby="contact-details-completed">Case selected</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list-1-1/logout" aria-describedby="contact-details-completed">Logged out</a></li>
                    <!------------ ---- ------------>                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Work list V1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1/work-list/login">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list/login" aria-describedby="contact-details-completed">Login</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list/case-load" aria-describedby="contact-details-completed">Case load</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list/case-selected" aria-describedby="contact-details-completed">Case selected</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/work-list/logout" aria-describedby="contact-details-completed">Logged out</a></li>
                    <!------------ ---- ------------>                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->


      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Template</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/XXX">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">Testing 00.00.00</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
