{% extends "layout.html" %}

{% block pageTitle %}
Pension Credit / Beta index
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">March 2021 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">G4s: Claim filter</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: X</strong> <br>Links to user research undertaken within each iteration. <br>Iterations list changes made from one version to another.</p>
            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="https://dwpdigital.atlassian.net/wiki/spaces/MYPC/pages/89220463853/Pension+Credit+design+development">Service map archive [Confluence]</a>

        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.11</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-11/mvp/introduction">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: ADP</li>
                  <li>Updated: Final day 1.1 one changes</li>
                  <li>Updated: full journey routes for call reasons. Shelved due to unable to maintain an addional service</li>
                  <li>Changed: XX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-10/mvp/XXX" aria-describedby="contact-details-completed">XXX</a></li>
                  <!------------ ---- ------------>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.10</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-10/mvp/introduction">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: full journey routes for call reasons. Shelved due to unable to maintain an addional service</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: XX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-10/mvp/XXX" aria-describedby="contact-details-completed">XXX</a></li>
                  <!------------ ---- ------------>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.9</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-9/mvp/type-of-claim">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Testing Due</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Updated: Day one edtion of G4s triage, what went live in August 2022</li>
                  <li>Changes: Changes to service charge content [2342]</li>
                  <li>Added: Housing router [2233]</li>
                  <li>Added: XXX</li>
                  <li>Changed: Updated content on other help page [2110] [2115] [2114]</li>
                  <li>Changed: CYA other income added [2063]</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-9/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-9/mvp/system-where-you-like-ab" aria-describedby="contact-details-completed">Where you live AB</a></li>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.8</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-8/mvp/type-of-claim">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: Updated content on other help page [2110] [2115] [2114]</li>
                  <li>Changed: CYA other income added [2063]</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-8/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.7</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-7/mvp/type-of-claim">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: Partners</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: XXXX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-6/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.6.5</h2>
      <p class="govuk-body">Full archive</p>
    </div>

    <div class="govuk-grid-column-three-quarters">

      <ul class="app-task-list__items pc-index">

        <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-6-5/mvp/landing">Start prototype</a>
        <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
        <li class="app-task-list__item app-task-list-pc">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Version notes and shortcuts
        </span>
      </summary>

      <br><strong>Introduction: </strong> XX
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
              <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                <li>Added: Partners</li>
                <li>Added: XXX</li>
                <li>Added: XXX</li>
                <li>Changed: XXXX</li>
                <li>Changed: XXX</li>
                <li>Removed: XXX</li>
              </ul>

          <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
              <ul class="govuk-list govuk-!-margin-bottom-6">
                <!------------ ---- ------------>
                <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-6-5/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                <!------------ ---- ------------>
                <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                <!------------ ---- ------------>
              </ul>

    </div> <!--DETAILS END-->
  </div> <!--GRID ROW END-->

  <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.6</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-6/mvp/landing">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: Landing</li>
                  <li>Added: AB / Multi vs single entrey income</li>
                  <li>Added: XXX</li>
                  <li>Changed: XXXX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-6/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.5</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-5/mvp/landing">Start prototype</a>
          <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">2 June 2021</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: A/B testing for entering information [Pensions / Earnings]</li>
                  <li>Added: More complex scenarios tested, close to threshold</li>
                  <li>Change: Into change to explain process of using SL and not asking citizen</li>
                  <li>Change: Content aimed to agent and citizen, meaning that agents can read it out, citizens would benefit from this by following along with process </li>
                  <li>Changed: Remov</li>
                  <li>Removed: Agent actions, combined with page H1</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-5/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                    <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                      <li>XXXXX</li>
                    </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.4</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-4/mvp/start">Start prototype</a>
          <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">WC 10/5/21</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Changed: Start page; content more refined to align with process</li>
                  <li>Changed: Other help; reduction of content, more streamline</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>XXXXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-4/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                    <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                      <li>XXXXX</li>
                    </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.3</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-3/mvp/start">Start prototype</a>
          <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">WC 5/4/21</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>XXXXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-3/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                    <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                      <li>XXXXX</li>
                    </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.2 UR</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-2-ur/mvp/start">Start prototype</a>
          <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">WC 22/3/21</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>XXXXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="g4s-0-2-ur/mvp/g4s-claim-filter" aria-describedby="contact-details-completed">G4s filter</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                    <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                      <li>XXXXX</li>
                    </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0.1</h2>
        <p class="govuk-body">Design development</p>
      </div>

      <div class="govuk-grid-column-three-quarters">

        <ul class="app-task-list__items pc-index">

          <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="g4s-0-1/mvp/start">Start prototype</a>
          <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
          <li class="app-task-list__item app-task-list-pc">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          Version notes and shortcuts
          </span>
        </summary>

        <br><strong>Introduction: </strong> XX
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body govuk-!-font-weight-bold">Changes due to be tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Added: XXX</li>
                  <li>Changed: XXX</li>
                  <li>Removed: XXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>XXXXX</li>
                </ul>

            <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                <ul class="govuk-list govuk-!-margin-bottom-6">
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                  <li class="app-task-list__item"><a class="app-task-list__task-name" href="X" aria-describedby="contact-details-completed">X</a></li>
                  <!------------ ---- ------------>
                </ul>

                <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                    <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                      <li>XXXXX</li>
                    </ul>

      </div> <!--DETAILS END-->
    </div> <!--GRID ROW END-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
