{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Name and National Insurance number - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="national-insurance-return" method="post"><!--existing-claim-yn-->

        <div class="govuk-panel--agent">

        <!------------HEADLINE------------>
          <!-- {% if data["who-is-caller"] == "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is {{ data | getPronoun }} National Insurance number?</h1>{% endif %}
          {% if data["who-is-caller"] !== "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What is {{ data ["who-is-caller-name"]}}'s National Insurance number?</h1>{% endif %} -->

          <!------------ if only one headline on a page swap the headline for legend, ask Niall------------>

          <!-- {% set legend %}
          {% if data["who-is-caller"] == "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">What are {{ data | getPronoun }} details?</h1>{% endif %}
          {% if data["who-is-caller"] !== "Yourself" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">What is ["who-is-caller-name"]'s details?</h1>{% endif %}
          {% endset %} -->
        <!------------HEADLINE------------>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Find a person</h1>


        {{ govukInput({
          label: {
            html: "<strong>Enter the claimant's National Insurance number</strong>"
          },
            hint: {
              html: ""
            },
          id: "nino",
          name: "nino",
          classes: "govuk-input--width-10",
          value: data["nino"]
        }) }}


        {{ govukButton({
          classes: "govuk-!-margin-bottom-0",
          text: "Continue"
        }) }}




</div>
      </form>
      <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>
    </div>
  </div>
{% endblock %}
