{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="employment-details" method="post" class="form">


        {% if data["single-joint-check"] == "Joint" %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Details of employers you and your partner have</h2>

        {% else %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Details of employers you have</h2>
        {% endif %}
        <p class="govuk-body">Add details of each employer separately. You can add as many as you need to.</p>



<!------------Legend------------>



      {{ govukButton({
        text: "Add employer"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
