{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Housing benefit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-rent-housing-benefit-router" method="post" class="form">


      {% set legendHint %}

      {% if data["home-ownership"] == "You live in a caravan houseboat or mobile home"%}
      <p class="govuk-hint">If you are not sure what type of help you get with rent, check your award notice or benefit statement.</p>
      {% else %}
      <p class="govuk-hint">If you are not sure what type of help you get with rent, check your award notice or benefit statement.</p>
      {% endif %}

      {% endset -%}

      {{ govukRadios({
        idPrefix: "home-rent-housing-benefit",
        name: "home-rent-housing-benefit",
        fieldset: {
          legend: {
            text: "Do you currently get Housing Benefit or a housing payment from Universal Credit?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
          {
            value: "Yes HB",
            text: "Yes, Housing Benefit",
            checked: (data["home-rent-housing-benefit"] == "Yes HB")

            },
            {
              value: "Yes HeUC",
              text: "Yes, a housing payment from Universal Credit",
              checked: (data["home-rent-housing-benefit"] == "Yes HeUC")

              },
          {
            value: "No",
            text: "No",
            checked: (data["home-rent-housing-benefit"] == "No")
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
