{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Do you pay any service charges? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-shared-mortgage" method="post" class="form">

      {{ govukRadios({
        idPrefix: "home-shared-21-years",
        name: "home-shared-21-years",
        fieldset: {
          legend: {
            text: "Is the lease for your property or land for 21 years or more?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["home-shared-21-years"] == "Yes")
            },
          {
            value: "No",
            text: "No",
            checked: (data["home-shared-21-years"] == "No")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
