{% extends "layout-oidv.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="gov-uk-overview" method="post" class="form">

      <!-- <p class="govuk-body govuk--version-control">OIDV</p> -->

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Thank you</h1>


    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You can return to the <a href="what-happens-next-applicant">What happens next page</a> or close this window.</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"></p>



</form>
</div>
{% endblock %}
