{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">Declaration not agreed</h1>


      <h3 class="govuk-heading-m">You have chosen not to continue your application after discussing the declaration.</h3>
      

      <div class="adviser-notice">
      <h1 class="adviser-notice__heading">Adviser: for your information</h1>
      <p class="govuk-body"><Strong>Use the back link to go back to the previous page if the claimant decides to continue the application.</strong>
        <p class="govuk-body">Finish and close to go back to the start page to take another application.</p>
      </div>




      {{ govukButton({
        text: "Finish and close",
        href: "start"
      }) }}



    </div>
  </div>
{% endblock %}
