{% extends "layout.html" %}

{% block pageTitle %}
  benefit-overview? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}






{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="benefits-war-widows-pensions-yn" method="post" class="form">

      <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl"><span class="agent-action">Add benefit details</h1>


        {% set benefitWarDisablementDateYes %}
          {{ govukDateInput({
            id: "benefit-war-disablement-yes-date",
            namePrefix: "benefit-war-disablement-yes-date",
            fieldset: {
              legend: {
                text: "Enter the received"
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["benefit-war-disablement-yes-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["benefit-war-disablement-yes-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["benefit-war-disablement-yes-date-year"]
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "benefit-war-disablement-date-yn",
          name: "benefit-war-disablement-date-yn",
          fieldset: {
            legend: {
              html: "Date of payment",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
          {
            value: "yes-date",
            text: "Enter date",
            checked: (data["benefit-war-disablement-date-yn"] == "Yes"),
            conditional: {
              html: benefitWarDisablementDateYes
            }
          },
            {
              value: "no-date",
              text: "Unknown",
              checked: (data["benefit-war-disablement-date-yn"] == "No")
            }
          ]
        }) }}

        <!------------------------->

        {{ govukRadios({
          idPrefix: "benefit-war-disablement-payment-frequency",
          name: "benefit-war-disablement-payment-frequency",
          fieldset: {
            legend: {
              text: "How often do get this?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
              }
              },

          items: [
            {
              value: "Every week",
              text: "Every week",
              checked: (data["benefit-war-disablement-payment-frequency"] == "Every week")
            },
            {
              value: "Every two weeks",
              text: "Every two weeks",
              checked: (data["benefit-war-disablement-payment-frequency"] == "Every two weeks")
            },
            {
              value: "Every four weeks",
              text: "Every four weeks",
              checked: (data["benefit-war-disablement-payment-frequency"] == "Every four weeks")
            },
            {
              value: "Unsure",
              text: "Unsure",
              checked: (data["benefit-war-disablement-payment-frequency"] == "Unsure")
            }
          ]
        }) }}

        {{ govukInput({
        label: {
          html: "<strong>How much money do you get?</strong>"
        },
        id: "benefit-war-disablement-amount",
        name: "benefit-war-disablement-amount",
        classes: "govuk-input--width-20"
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
