{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}


{% block content %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% set nav = 'changes' %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="qd-create-claim" method="post" class="form">
      {% include "agent-service-1-5/agent/qd-name-nino.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter ">
        {% include "agent-service-1-5/agent/side-nav.html" %}
      </div>


      {% set LegendBenefits %}

        {% if data["benefits"] == "changed" %}
        Changes recorded
        {% elif data["benefits"] == "changed-out" %}
        Changes recorded outside of the backdating period
        {% else %}
        No change
        {% endif %}

      {% endset -%}

      {% set LegendStatePension %}

        {% if data["state-pension"] == "changed" %}
        Changes recorded
        {% elif data["state-pension"] == "changed-out" %}
        Changes recorded outside of the backdating period
        {% else %}
        No change
        {% endif %}

      {% endset -%}

      {% set LegendHousing %}

        {% if data["housing"] == "changed" %}
        Changes recorded
        {% elif data["housing"] == "changed-out" %}
        Changes recorded outside of the backdating period
        {% else %}
        No change
        {% endif %}
      {% endset -%}

      {% set LegendPartner %}

        {% if data["partner"] == "changed" %}
        Changes recorded
        {% elif data["partner"] == "changed-out" %}
        Changes recorded outside of the backdating period
        {% else %}
        No change
        {% endif %}

      {% endset -%}


        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Make a change</h1>

            {{ govukSummaryList({
                    classes: 'govuk-!-margin-bottom-9',
                    rows: [
                      {
                        classes: "govuk-summary-list__row--no-border",
                        key: {
                          text: "No qualifying benefits"
                        },
                        value: {
                          html: LegendBenefits
                        },
                        actions: {
                          items: [
                            {
                              href: "qd-benefits",
                              text: "Change",
                              visuallyHiddenText: "name"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "Benefits notes"
                        },
                        value: {
                          text: (data["benefits-notes"])
                        }
                      },
                      {
                        key: {
                          text: "Weekly State Pension is £182"
                        },
                        value: {
                          html: LegendStatePension
                        },
                        actions: {
                          items: [
                            {
                              href: "qd-sp",
                              text: "Change",
                              visuallyHiddenText: "date of birth"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "No partner "
                        },
                        value: {
                          html: LegendPartner
                        },
                        actions: {
                          items: [
                            {
                              href: "qd-partner",
                              text: "Change",
                              visuallyHiddenText: "address"
                            }
                          ]
                        }
                      },
                      {
                        key: {
                          text: "No housing costs"
                        },
                        value: {
                          html: LegendHousing
                        },
                        actions: {
                          items: [
                            {
                              href: "qd-housing",
                              text: "Change",
                              visuallyHiddenText: "contact details"
                            }
                          ]
                        }
                      }
                    ]
                  }) }}

                  <div class="govuk-!-margin-top-4">
                    {{ govukButton({
                      text: "Continue",
                      id: "create-claim",
                      name: "create-claim",
                      value: "yes"
                    }) }}
                  </div>

        </div>
    </div>
  </div>



      </div>


    </form>



{% endblock %}
