{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}


{% block content %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{% set nav = 'summary' %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="qd-call-reason" method="post" class="form">
      {% include "agent-service-1-5/agent/qd-name-nino.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">

          {% include "agent-service-1-5/agent/side-nav.html" %}
        </div>


        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Summary</h1>

            <div class="govuk-inset-text govuk-!-margin-bottom-0">
              Check the information we have on the customer is correct. Make a change if something is wrong.
            </div>

            {{ govukTable({
              caption: "",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
                {
                  text: "",
                  classes: 'govuk-!-width-one-quarter govuk-table--no-border'
                },
                {
                  text: "",
                  classes: 'govuk-!-width-one-half govuk-table--no-border'
                }
              ],
              rows: [
                [
                  {
                    text: "Date of claim",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "28 February 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Backdating period start date",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "10 January 2022",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                  {
                    text: "Date processed",
                    classes: 'govuk-table--no-border'

                  },
                  {
                    text: "1 March 2022",
                    classes: 'govuk-table--no-border'
                  }
                ],
                [
                {
                  text: "Entitlement status",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "Not entitled",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                {
                  text: "Weekly State Pension amount",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "£182",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                {
                  text: "Qualifying benefits",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "Yes: 'Received AA on 02/05/2022'",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                {
                  text: "Single",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "Yes",
                  classes: 'govuk-table--no-border'
                }
                ],
                [
                {
                  text: "Housing costs",
                  classes: 'govuk-table--no-border'

                },
                {
                  text: "No",
                  classes: 'govuk-table--no-border'
                }
                ]
              ]
            }) }}

            <p> <a class="govuk-!-margin-bottom-8" href=“#”>Make a change</a></p>


            {{ govukButton({
              text: "Done"
            }) }}

        </div>

      </div>


    </form>
  </div>
</div>


{% endblock %}
