{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="hrt-partner-asylum-seeker-router" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>



            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
              Your partner’s asylum application
            </h1>

{{ govukRadios({
  idPrefix: "partner-asylum-before-april",
  name: "partner-asylum-before-april",
  fieldset: {
    legend: {
      text: "Did your partner first apply for asylum before 3 April 2000?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
    }
  },
  classes: "govuk-radios",
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["partner-asylum-before-april"] == "Yes")
              },
    {
      value: "No",
      text: "No",
      checked: (data["partner-asylum-before-april"] == "No")
    }
  ]
}) }}

{% set legendSuccessfulDecision %}
<h3 class="govuk-heading-m govuk-!-margin-bottom-0">What date did your partner get a successful decision on their application?</h3>
{% endset -%}

        {% set yesDate %}
          {{ govukDateInput({
            id: "partner-asylum-decision-date",
            namePrefix: "partner-asylum-decision-date",
            fieldset: {
              legend: {
                html: legendSuccessfulDecision
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["partner-asylum-decision-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["partner-asylum-decision-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["partner-asylum-decision-date-year"]
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "partner-asylum-decision-check",
          name: "partner-asylum-decision-check",
          fieldset: {
            legend: {
              html: "Has your partner recently had a successful decision on their asylum application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: ""
          },
          items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["partner-asylum-decision-check"] == "Yes"),
            conditional: {
              html: yesDate
            }
          },
            {
              value: "No",
              text: "No",
              checked: (data["partner-asylum-decision-check"] == "No")
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "partner-supported-by-home-office",
          name: "partner-supported-by-home-office",
          fieldset: {
            legend: {
              text: "Has your partner been supported by the Home Office while waiting for a decision on their application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4"
            }
          },
          classes: "govuk-radios",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["partner-supported-by-home-office"] == "Yes")
                      },
            {
              value: "No",
              text: "No",
              checked: (data["partner-supported-by-home-office"] == "No")
            }
          ]
        }) }}



              <br>

              {{ govukButton({
                text: "Continue"
              }) }}
            </form>

              </div>


      <!--text: "Have you spent any time in hospital since " + (data['back-dating-date'] | formatDate),--->


    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
