{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="employment-other-money" method="post" class="form">

      <!------------H1 LEGEND------------>
      {% if data["single-joint-check"] == "Joint" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">We will still count private pensions you or your partner have chosen not to take yet as income</h1>
      {% else %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">We will still count private pensions you have chosen not to take yet as income</h1>{% endif %}

           <!------------Legend--------------->

           <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Pension Credit is calculated based on your income. If you have chosen not to take income that you could get, we will still use the amount you could get when we work out how much Pension Credit to pay you.</p>



      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
